{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block formationpage %} 
{{ parent() }}
<h4>{% trans %}Listing des Formations{% endtrans %}</h4>
<br></br>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable18">
    <thead>
        <tr>
            <th>{% trans %}Date de Formation{% endtrans %}:</th>
            <th><i class="icon-eye-open"></i> {% trans %}Voir fiche information{% endtrans %}</th>
			<th><i class="icon-eye-open"></i> {% trans %}Voir fiche technique{% endtrans %}</th>
			<th><i class="icon-edit"></i> {% trans %}Modifier{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td align="center">{% if entity.dateform %}{{ entity.dateform|date('d-m-Y') }}{% endif %}</td>
            <td align="center"><a href="{{ path('formation_show', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-eye-open"></i></a></td>
			<td align="center"><a href="{{ path('formation_showtech', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-eye-open"></i></a></td>
			<td align="center"><a href="{{ path('formation_edit', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br></br>
<ul>
        <a class="btn btn-primary" href="{{ path('formation_new') }}?idMag={{idMag}}">
            {% trans %}Nouvelle Formation{% endtrans %}
        </a>
</ul>
{% endblock %}