{% extends '::base.html.twig' %}

{% block title %}
Altea - Pointage
{% endblock %}

{% block body %}
	<div class="navbar">
		<div class="container">
        	<div class="navbar-inner">
            	<div class="container">
					<ul class="nav">
						<li><a class="brand" href="{{ path('PhareosPointageServiceBundle_homepage') }}">Altea Pointage</a></li>
					</ul>
					<ul class="nav pull-right">
                    	<li><a href="{{ path('fos_user_profile_show') }}">Connexion: {{ app.user.username }}</a></li>
						<li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off icon-white"></i> Déconnexion</a></li>
                    </ul>
                </div>
            </div>
			<div style="background-color:#000000">
				<div class="container">
				<table>
						<thead>
							<tr align="left">
								<th><div class="btn-group">
										<button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="icon-road icon-white"></i> Comptes<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('grdcompte_new') }}">Nouveau compte</a></li>
												<li><a href="{{ path('grdcompte') }}">Liste des comptes</a></li>
											</ul>
									</div>
								</th>
								<th><div class="btn-group">
										<button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="icon-road icon-white"></i> Lieux<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('lieuxmagasin_new') }}">Nouveau lieu</a></li>
												<li><a href="{{ path('lieuxmagasin') }}">Liste des lieux</a></li>
											</ul>
									</div>
								</th>
								<th><div class="btn-group">
										<button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="icon-road icon-white"></i> Agents<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('agents_new') }}">Nouvel agent</a></li>
												<li><a href="{{ path('agents') }}">Liste des agents</a></li>
											</ul>
									</div>
								</th>
								<th><div class="btn-group">
										<button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="icon-road icon-white"></i> Affectations<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('progaffect_new') }}">Nouvel affectation</a></li>
												<li><a href="{{ path('progaffect') }}">Liste des affectations</a></li>
											</ul>
									</div>
								</th>
							</tr>
						</thead>
				</table>
				</div>
			</div>
		</div>
	</div>
{% block grdcomptepage %}
{% endblock %}
{% block grdcomptenewpage %} 
{% endblock %}
{% block lieuxmagasinpage %} 
{% endblock %}
{% block lieuxmagasinnewpage %} 
{% endblock %}
{% block agentspage %} 
{% endblock %}
{% block agentsnewpage %} 
{% endblock %}
{% block agentshowpage %} 
{% endblock %}
{% block agenteditpage %} 
{% endblock %}
{% block progaffectpage %} 
{% endblock %}
{% block progaffectnewpage %} 
{% endblock %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function(){
	$('input[type=checkbox],input[type=radio]').prettyCheckboxes({
		checkboxWidth: 17, // The width of your custom checkbox
		checkboxHeight: 17, // The height of your custom checkbox
		className : 'prettyCheckbox', // The classname of your custom checkbox
		display: 'inline' // The style you want it to be display (inline or list)
	});
});
</script>
{% endblock %}