{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block articlestbleditpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Edition d'un Article{% endtrans %}</h4></div>

<form action="{{ path('articlestbl_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
					{% if app.session.get('applicationUSER') == "Toolbox" %}
					<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.client, "") }}{% trans %}Client{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.client }}</td>
						</tr>
						</tbody>
					</table>
					{% endif %}
					<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.categorie, "") }}{% trans %}Catégorie{% endtrans %}</th>
							<th>{{ form_label(edit_form.fourniss, "") }}{% trans %}Fournisseur{% endtrans %}</th>
							<th>{{ form_label(edit_form.reference, "") }}{% trans %}Référence{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.categorie }}</td>
							<td align="center">{{ entity.fourniss }}</td>
							<td align="center">{{ form_widget(edit_form.reference) }}</td>
						</tr>
						</tbody>
					</table>
					{% if app.session.get('applicationUSER') == "Toolbox" %}
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td>{{ form_label(edit_form.poids, "") }}{% trans %}Poids{% endtrans %}</td>
							<td>{{ form_label(edit_form.profond, "") }}{% trans %}Longueur en Mètre{% endtrans %}</td>
							<td>{{ form_label(edit_form.large, "") }}{% trans %}Largeur en Mètre{% endtrans %}</td>
							<td>{{ form_label(edit_form.haut, "") }}{% trans %}Hauteur en Mètre{% endtrans %}</td>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.poids) }}</td>
							<td align="center">{{ form_widget(edit_form.profond) }}</td>
							<td align="center">{{ form_widget(edit_form.large) }}</td>
							<td align="center">{{ form_widget(edit_form.haut) }}</td>
						</tr>
						<tr>
							<td>{% trans %}* Utilisé la touche 'virgule' <,> pour les décimales{% endtrans %}</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
					{% endif %}
					{% if app.session.get('applicationUSER') == "Toolbox" %}
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td>{{ form_label(edit_form.qtetot, "") }}{% trans %}Qte totale{% endtrans %}</td>
							<td></td>
							<td>{{ form_label(edit_form.nbpalette, "") }}{% trans %}Nbre de palettes{% endtrans %}</td>
							<td></td>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.qtetot) }}</td>
							<td align="center"></td>
							<td align="center">{{ form_widget(edit_form.nbpalette) }}</td>
							<td align="center"></td>
						</tr>
					</table>
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td>{{ form_label(edit_form.allee, "") }}{% trans %}Allée{% endtrans %}</td>
							<td>{{ form_label(edit_form.travee, "") }}{% trans %}Travée{% endtrans %}</td>
							<td>{{ form_label(edit_form.niveau, "") }}{% trans %}Niveau{% endtrans %}</td>
							<td>{{ form_label(edit_form.emplacement, "") }}{% trans %}Emplacement{% endtrans %}</td>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.allee) }}</td>
							<td align="center">{{ form_widget(edit_form.travee) }}</td>
							<td align="center">{{ form_widget(edit_form.niveau) }}</td>
							<td align="center">{{ form_widget(edit_form.emplacement) }}</td>
						</tr>
					</table>
					{% endif %}	

    {{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>
<!-- <form action="{{ path('articlestbl_delete', { 'id': entity.id }) }}" method="post"> -->
  <!--           {{ form_widget(delete_form) }} -->
   <!--          <button class="btn btn-danger" type="submit">{% trans %}Supprimer{% endtrans %}</button> -->
<!--  </form> -->
<ul>
	<li>
        <a href="{{ path('articlestbl') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
	</li>
</ul>     

</div>
{% endblock %}