{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block articlestblpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Liste des Articles{% endtrans %}</h4></div>
<!-- <table class="table table-striped table-bordered table-condensed" id="sortTableExample2"> -->
{% if app.session.get('applicationUSER') == "Toolbox" or app.session.get('applicationUSER') == "ToolboxInterv" %}
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatableTot2">
{% else %}
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable4">
{% endif %}
    <thead>
        <tr>
            {% if app.session.get('applicationUSER') == "Toolbox" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			<th>{% trans %}Client{% endtrans %}</th>
			{% endif %}
			<th>{% trans %}Désignation{% endtrans %}</th>
			{% if app.session.get('applicationUSER') == "Toolbox" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			<th>{% trans %}Allée{% endtrans %}</th>
			<th>{% trans %}Travée{% endtrans %}</th>
			<th>{% trans %}Niveau{% endtrans %}</th>
			<th>{% trans %}Emplacement{% endtrans %}</th>
			{% endif %}
			<th>{% trans %}Qte Réservé{% endtrans %}</th>
            <th>{% trans %}Qte en Stock{% endtrans %}</th>
			<th>{% trans %}En attente récep.{% endtrans %}</th>
			<th>{% trans %}Nb Palette{% endtrans %}</th>
			{% if app.session.get('applicationUSER') == "Toolbox" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			<th>{% trans %}Poids{% endtrans %}</th>
			{% endif %}
			<th>{% trans %}Voir{% endtrans %}</th>
			{% if app.session.get('applicationUSER') == "Toolbox" or app.session.get('applicationUSER') == "ToolboxClient" %}
			<th>{% trans %}Modifier{% endtrans %}</th>
			{% endif %}
        </tr>
    </thead>
    <tbody>
	{% set nbpaltot = 0 %}
	{% set nbqtetot = 0 %}
	{% set nbqteatttot = 0 %}
    {% for entity in entities %}
        <tr>
            {% if app.session.get('applicationUSER') == "Toolbox" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			<td>{{ entity.client }}</td>
			{% endif %}
			<td>{% if entity.qtetot == 0 %}<font color="#FF0000"><strong>{{ entity.designat }}</strong></font>{% elseif entity.qtetot < 6 %}<font color="#ff9933"><strong>{{ entity.designat }}</strong></font>{% else %}{{ entity.designat }}{% endif %}{% if entity.qtereserve > 0 %} - <font color="#FF0000"><strong>{% trans %}Réservé{% endtrans %}</strong></font> <i class="icon-tags icon-red"></i>{% endif %}</td>
			{% if app.session.get('applicationUSER') == "Toolbox" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			<td>{{ entity.allee }}</td>
			<td>{{ entity.travee }}</td>
			<td>{{ entity.niveau }}</td>
			<td>{{ entity.emplacement }}</td>
			{% endif %}
			<td align="center">{{ entity.qtereserve }}</td>
			<td align="center">{{ entity.qtetot }}</td>
			<td align="center">{% if entity.qteencours == 0 %}<font color="#000000">{{ entity.qteencours }}</font>{% else %}<font color="#00cc33"><strong>{{ entity.qteencours }}</strong></font>{% endif %}</td>
			<td align="center">{{ entity.nbpalette }}</td>
			{% if app.session.get('applicationUSER') == "Toolbox" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			<td align="center">{{ entity.poids }}</td>
			{% endif %}
            <td><a href="{{ path('articlestbl_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
			{% if app.session.get('applicationUSER') == "Toolbox" or app.session.get('applicationUSER') == "ToolboxClient" %}
			<td><a href="{{ path('articlestbl_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></td>
			{% endif %}
        </tr>
		{% set nbpaltot = nbpaltot + entity.nbpalette %}
		{% set nbqtetot = nbqtetot + entity.qtetot %}
		{% set nbqteatttot = nbqteatttot + entity.qteencours %}
    {% endfor %}
    </tbody>
</table>
{% if app.session.get('applicationUSER') == "Toolbox" or app.session.get('applicationUSER') == "ToolboxInterv" %}
{% else %}
<table class="table table-striped table-bordered table-condensed">
	<thead>
        <tr>
            {% if app.session.get('applicationUSER') == "Toolbox" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			<th>{% trans %}Client{% endtrans %}</th>
			{% endif %}
			<th>{% trans %}Désignation{% endtrans %}</th>
			{% if app.session.get('applicationUSER') == "Toolbox" or app.session.get('applicationUSER') == "ToolboxInterv" %}
            <th>{% trans %}Poids{% endtrans %}</th>
            <th>{% trans %}Longueur{% endtrans %}</th>
            <th>{% trans %}Largeur{% endtrans %}</th>
            <th>{% trans %}Hauteur{% endtrans %}</th>
			{% endif %}
            <th>{% trans %}Qte{% endtrans %}</th>
			<th>{% trans %}En attente récep.{% endtrans %}</th>
			<th>{% trans %}Nb Palette{% endtrans %}</th>
        </tr>
    </thead>
	<tbody>
		<tr>
			{% if app.session.get('applicationUSER') == "Toolbox" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			<td></td>
			{% endif %}
			<th>{% trans %}Total{% endtrans %}</th>
			{% if app.session.get('applicationUSER') == "Toolbox" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			{% endif %}
			<td>{{ nbqtetot }}</td>
			<td>{{ nbqteatttot }}</td>
			<td>{{ nbpaltot }}</td>
		</tr>
	</tbody>
</table>
{% endif %}
</div>
<div class="container">
<p>

</p>
</div>
{% endblock %}
{% block articlestbljspage %} 
{{ parent() }}
<script >
		$(function() {
		$("table#sortDatatableTot2").dataTable({
		"sPaginationType": "full_numbers",
		"iDisplayLength": -1,
		"sDom": 'T<"clear">lfrtip',
		"aaSorting": [[ 1, "asc" ]],
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
		"fnHeaderCallback": function( nHead, aaData, iStart, iEnd, aiDisplay ) {
				var total_count = 0;
				var total_pal = 0;
 
				/*Calculate the total for all rows, even outside this page*/
				for (var i=iStart ; i<iEnd ; i++) {
					/*Have to strip out extra characters so parsefloat and parseInt work right*/
					total_count += parseInt (aaData[ aiDisplay[i] ][7]*1);
					total_pal += parseInt (aaData[ aiDisplay[i] ][9]*1);
				}
				var nCells = nHead.getElementsByTagName('th');
				nCells[7].innerHTML = "Qte (Totale) " + "(" + parseInt(total_count*1) + ")";
				nCells[9].innerHTML = "Nb Palette (Totale) " + "(" + parseInt(total_pal*1) + ")";
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
</script>
<script >
		$(function() {
		$("table#sortDatatable2").dataTable({
		"bProcessing": true,
		"iDisplayLength": -1,
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
{% endblock %}