{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block articlestblpage %} 
{{ parent() }}
<div class="container">
<h4>articles list</h4>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Designat</th>
            <th>Reference</th>
            <th>Typeunit</th>
            <th>Poids</th>
            <th>Haut</th>
            <th>Large</th>
            <th>Profond</th>
            <th>Qtetot</th>
            <th>Qteencours</th>
            <th>Qtequarant</th>
            <th>Daterecep</th>
            <th>Dateprepa</th>
            <th>Voir</th>
			<th>Editer</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('articlestbl_show', { 'id': entity.id }) }}">{{ entity.nom }}</a></td>
            <td>{{ entity.designat }}</td>
            <td>{{ entity.reference }}</td>
            <td>{{ entity.typeunit }}</td>
            <td>{{ entity.poids }}</td>
            <td>{{ entity.haut }}</td>
            <td>{{ entity.large }}</td>
            <td>{{ entity.profond }}</td>
            <td>{{ entity.qtetot }}</td>
            <td>{{ entity.qteencours }}</td>
            <td>{{ entity.qtequarant }}</td>
            <td>{% if entity.daterecep %}{{ entity.daterecep|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.dateprepa %}{{ entity.dateprepa|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td><a href="{{ path('articlestbl_show', { 'id': entity.id }) }}">show</a></td>
            <td><a href="{{ path('articlestbl_edit', { 'id': entity.id }) }}">edit</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('articlestbl_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
</div>
{% endblock %}