{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block articlestblnewpage %} 
{{ parent() }}
<div class="container">
<h4>articles creation</h4>

<form action="{{ path('articlestbl_create') }}" method="post" {{ form_enctype(form) }}>
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td>{{ form_label(form.nom, "Parvis Sols Montants Vitre") }}</td>
							<td>{{ form_label(form.designat, "Tapis d'entrée") }}</td>
							<td>{{ form_label(form.reference, "Portes vitrées") }}</td>
							<td>{{ form_label(form.typeunit, "Bornes anti vol") }}</td>
							<td>{{ form_label(form.poids, "Miroirs, Surfaces vitrées") }}</td>
							<td>{{ form_label(form.haut, "Portes, Montants, Piliers") }}</td>
							<td>{{ form_label(form.large, "Caisses") }}</td>
							<td>{{ form_label(form.profond, "Dessus et Façades de tiroirs") }}</td>
							<td>{{ form_label(form.qtetot, "Dessus et Façades de tiroirs") }}</td>
							<td>{{ form_label(form.qteencours, "Dessus et Façades de tiroirs") }}</td>
							<td>{{ form_label(form.qtequarant, "Dessus et Façades de tiroirs") }}</td>
							<td>{{ form_label(form.daterecep, "Dessus et Façades de tiroirs") }}</td>
							<td>{{ form_label(form.dateprepa, "Dessus et Façades de tiroirs") }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.nom) }}</td>
							<td align="center">{{ form_widget(form.designat) }}</td>
							<td align="center">{{ form_widget(form.reference) }}</td>
							<td align="center">{{ form_widget(form.typeunit) }}</td>
							<td align="center">{{ form_widget(form.poids) }}</td>
							<td align="center">{{ form_widget(form.haut) }}</td>
							<td align="center">{{ form_widget(form.large) }}</td>
							<td align="center">{{ form_widget(form.profond) }}</td>
							<td align="center">{{ form_widget(form.qtetot) }}</td>
							<td align="center">{{ form_widget(form.qteencours) }}</td>
							<td align="center">{{ form_widget(form.qtequarant) }}</td>
							<td align="center">{{ form_widget(form.daterecep) }}</td>
							<td align="center">{{ form_widget(form.dateprepa) }}</td>
						</tr>
						
					</table>
	
	
	
	
	
	{{ form_rest(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('articlestbl') }}">
            Back to the list
        </a>
    </li>
</ul>
</div>
{% endblock %}