{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block leveltwo %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}articles{% endtrans %}</h4></div>
					{% if app.session.get('applicationUSER') == "Toolbox" %}
					<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Client{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.client }}</td>
						</tr>
						</tbody>
					</table>
					{% endif %}
					<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Catégorie{% endtrans %}</th>
							<th>{% trans %}Fournisseur{% endtrans %}</th>
							<th>{% trans %}Référence{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.categorie }}</td>
							<td align="center">{{ entity.fourniss }}</td>
							<td align="center">{{ entity.reference }}</td>
						</tr>
						</tbody>
					</table>
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td>{% trans %}Poids{% endtrans %}</td>
							<td>{% trans %}Longueur en Mètre{% endtrans %}</td>
							<td>{% trans %}Largeur en Mètre{% endtrans %}</td>
							<td>{% trans %}Hauteur en Mètre{% endtrans %}</td>
						</tr>
						<tr>
							<td align="center">{{ entity.poids }}</td>
							<td align="center">{{ entity.profond }}</td>
							<td align="center">{{ entity.large }}</td>
							<td align="center">{{ entity.haut }}</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td>{% trans %}Qte totale{% endtrans %}</td>
							<td>{% trans %}Nbre de Palettes{% endtrans %}</td>
							<td></td>
						</tr>
						<tr>
							<td align="center">{{ entity.qtetot }}</td>
							<td align="center">{{ entity.nbpalette }}</td>
							<td align="center"></td>
						</tr>
					</table>

<a href="{{ path('articlestbl_edit', { 'id': entity.id }) }}" class="btn btn-success">
            {% trans %}Modifier{% endtrans %}
        </a>
<br>
	</br>
	
<ul class="record_actions">

	<a href="{{ path('articlestbl_new') }}" class="btn btn-primary">{% trans %}Nouvel Article{% endtrans %}</a>
	<br>
	</br>
	
    <li>
        <a href="{{ path('articlestbl') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}