{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block agentaffectationpage %} 
{{ parent() }}
<h4>{% trans %}Affecter un nouvel agent{% endtrans %}</h4>
<br></br>
<div class="container">
<table class="table table-striped table-bordered table-condensed" id="sortTableExample2">
    <thead>
        <tr>
            <th>{% trans %}Nom_pers{% endtrans %}</th>
            <th>{% trans %}Prenom_pers{% endtrans %}</th>
            <th>{% trans %}Telfix_pers{% endtrans %}</th>
            <th>{% trans %}Telpor_pers{% endtrans %}</th>
            <th>{% trans %}Email_pers{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('agent_createaffectation') }}?idAgent={{entity.id}}">{{ entity.NOMPERS }}</a></td>
            <td><a href="{{ path('agent_createaffectation') }}?idAgent={{entity.id}}">{{ entity.PRENOMPERS }}</a></td>
            <td><a href="{{ path('agent_createaffectation') }}?idAgent={{entity.id}}">{{ entity.TELFIXPERS }}</a></td>
            <td><a href="{{ path('agent_createaffectation') }}?idAgent={{entity.id}}">{{ entity.TELPORPERS }}</a></td>
            <td><a href="{{ path('agent_createaffectation') }}?idAgent={{entity.id}}">{{ entity.EMAILPERS }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}