{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block deleteaffectationpage %} 
{{ parent() }}
<h4>{% trans %}Suppression de l'affectation d'un agent au magasin{% endtrans %}:</h4>
<br></br>
<div class="container">
<table class="table table-striped table-bordered table-condensed" id="sortTableExample">
    <thead>
        <tr>
            <th>{% trans %}Nom_pers{% endtrans %}</th>
            <th>{% trans %}Prenom_pers{% endtrans %}</th>
            <th>{% trans %}Telfix_pers{% endtrans %}</th>
            <th>{% trans %}Telpor_pers{% endtrans %}</th>
            <th>{% trans %}Email_pers{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=1">{{ agent1.NOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=1">{{ agent1.PRENOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=1">{{ agent1.TELFIXPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=1">{{ agent1.TELPORPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=1">{{ agent1.EMAILPERS }}</a></td>
        </tr>
		<tr>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=2">{{ agent2.NOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=2">{{ agent2.PRENOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=2">{{ agent2.TELFIXPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=2">{{ agent2.TELPORPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=2">{{ agent2.EMAILPERS }}</a></td>
        </tr>
		<tr>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=3">{{ agent3.NOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=3">{{ agent3.PRENOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=3">{{ agent3.TELFIXPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=3">{{ agent3.TELPORPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=3">{{ agent3.EMAILPERS }}</a></td>
        </tr>
		<tr>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=4">{{ agent4.NOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=4">{{ agent4.PRENOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=4">{{ agent4.TELFIXPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=4">{{ agent4.TELPORPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=4">{{ agent4.EMAILPERS }}</a></td>
        </tr>
		<tr>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=5">{{ agent5.NOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=5">{{ agent5.PRENOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=5">{{ agent5.TELFIXPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=5">{{ agent5.TELPORPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=5">{{ agent5.EMAILPERS }}</a></td>
        </tr>
		<tr>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=6">{{ agent6.NOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=6">{{ agent6.PRENOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=6">{{ agent6.TELFIXPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=6">{{ agent6.TELPORPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=6">{{ agent6.EMAILPERS }}</a></td>
        </tr>
		<tr>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=7">{{ agent7.NOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=7">{{ agent7.PRENOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=7">{{ agent7.TELFIXPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=7">{{ agent7.TELPORPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=7">{{ agent7.EMAILPERS }}</a></td>
        </tr>
		<tr>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=8">{{ agent8.NOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=8">{{ agent8.PRENOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=8">{{ agent8.TELFIXPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=8">{{ agent8.TELPORPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=8">{{ agent8.EMAILPERS }}</a></td>
        </tr>
		<tr>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=9">{{ agent9.NOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=9">{{ agent9.PRENOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=9">{{ agent9.TELFIXPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=9">{{ agent9.TELPORPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=9">{{ agent9.EMAILPERS }}</a></td>
        </tr>
		<tr>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=10">{{ agent10.NOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=10">{{ agent10.PRENOMPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=10">{{ agent10.TELFIXPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=10">{{ agent10.TELPORPERS }}</a></td>
            <td><a href="{{ path('agent_deleteconfirmaffectation') }}?NumidAgent=10">{{ agent10.EMAILPERS }}</a></td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}