<h1>agent list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <th>{% trans %}Num_pers{% endtrans %}</th>
            <th>{% trans %}Code_ville{% endtrans %}</th>
            <th>{% trans %}Sexe{% endtrans %}</th>
            <th>{% trans %}Situation_famille{% endtrans %}</th>
            <th>{% trans %}Nom_jeune_fille{% endtrans %}</th>
            <th>{% trans %}Date_naissance{% endtrans %}</th>
            <th>{% trans %}Lieu_naissance{% endtrans %}</th>
            <th>{% trans %}Num_ss{% endtrans %}</th>
            <th>{% trans %}Nationalite{% endtrans %}</th>
            <th>{% trans %}Num_cs{% endtrans %}</th>
            <th>{% trans %}Validite_cs{% endtrans %}</th>
            <th>{% trans %}Copie_cs{% endtrans %}</th>
            <th>{% trans %}Num_id{% endtrans %}</th>
            <th>{% trans %}Date_id{% endtrans %}</th>
            <th>{% trans %}Annexe7{% endtrans %}</th>
            <th>{% trans %}Handicape{% endtrans %}</th>
            <th>{% trans %}Date_f_handicape{% endtrans %}</th>
            <th>{% trans %}Nb_an_experience{% endtrans %}</th>
            <th>{% trans %}Experience{% endtrans %}</th>
            <th>{% trans %}Permis{% endtrans %}</th>
            <th>{% trans %}Commentaire{% endtrans %}</th>
            <th>{% trans %}Appreciation{% endtrans %}</th>
            <th>{% trans %}Vehicule{% endtrans %}</th>
            <th>{% trans %}Complement_hrs{% endtrans %}</th>
            <th>{% trans %}Vitrage{% endtrans %}</th>
            <th>{% trans %}Nom_pers{% endtrans %}</th>
            <th>{% trans %}Prenom_pers{% endtrans %}</th>
            <th>{% trans %}Telfix_pers{% endtrans %}</th>
            <th>{% trans %}Telpor_pers{% endtrans %}</th>
            <th>{% trans %}Email_pers{% endtrans %}</th>
            <th>{% trans %}Ad_rue{% endtrans %}</th>
            <th>{% trans %}Suppl_ad{% endtrans %}</th>
            <th>{% trans %}Travex{% endtrans %}</th>
            <th>{% trans %}Code_clas{% endtrans %}</th>
            <th>{% trans %}Echelon{% endtrans %}</th>
            <th>{% trans %}Positionnement{% endtrans %}</th>
            <th>{% trans %}Date_candi{% endtrans %}</th>
            <th>{% trans %}Mode{% endtrans %}</th>
            <th>{% trans %}Source{% endtrans %}</th>
            <th>{% trans %}Appgen{% endtrans %}</th>
            <th>{% trans %}Lettrecv{% endtrans %}</th>
            <th>{% trans %}Datelet{% endtrans %}</th>
            <th>{% trans %}Date_envoi_contrat{% endtrans %}</th>
            <th>{% trans %}Date_envoi_avenant{% endtrans %}</th>
            <th>{% trans %}Date_envoi_contratsig{% endtrans %}</th>
            <th>{% trans %}Actif{% endtrans %}</th>
            <th>{% trans %}Pers{% endtrans %}</th>
            <th>{% trans %}Retraite{% endtrans %}</th>
            <th>{% trans %}Samedi{% endtrans %}</th>
            <th>{% trans %}Rplt{% endtrans %}</th>
            <th>{% trans %}Formvit{% endtrans %}</th>
            <th>{% trans %}Dispoj{% endtrans %}</th>
            <th>{% trans %}Tpsp{% endtrans %}</th>
            <th>{% trans %}Noninter{% endtrans %}</th>
            <th>{% trans %}Numnonatt{% endtrans %}</th>
            <th>{% trans %}Tjsdispo{% endtrans %}</th>
            <th>{% trans %}Buro{% endtrans %}</th>
            <th>{% trans %}Mag{% endtrans %}</th>
            <th>{% trans %}Gdsurf{% endtrans %}</th>
            <th>{% trans %}Hop{% endtrans %}</th>
            <th>{% trans %}Part{% endtrans %}</th>
            <th>{% trans %}Eco{% endtrans %}</th>
            <th>{% trans %}Hot{% endtrans %}</th>
            <th>{% trans %}Espv{% endtrans %}</th>
            <th>{% trans %}Maisret{% endtrans %}</th>
            <th>{% trans %}Resto{% endtrans %}</th>
            <th>{% trans %}Remiseetat{% endtrans %}</th>
            <th>{% trans %}Decapage{% endtrans %}</th>
            <th>{% trans %}Pluscontact{% endtrans %}</th>
            <th>{% trans %}Motifpluscontact{% endtrans %}</th>
            <th>{% trans %}Date_copie_cs{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('agent_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.NUMPERS }}</td>
            <td>{{ entity.CODEVILLE }}</td>
            <td>{{ entity.SEXE }}</td>
            <td>{{ entity.SITUATIONFAMILLE }}</td>
            <td>{{ entity.NOMJEUNEFILLE }}</td>
            <td>{% if entity.DATENAISSANCE %}{{ entity.DATENAISSANCE|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.LIEUNAISSANCE }}</td>
            <td>{{ entity.NUMSS }}</td>
            <td>{{ entity.NATIONALITE }}</td>
            <td>{{ entity.NUMCS }}</td>
            <td>{% if entity.VALIDITECS %}{{ entity.VALIDITECS|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.COPIECS }}</td>
            <td>{{ entity.NUMID }}</td>
            <td>{% if entity.DATEID %}{{ entity.DATEID|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.ANNEXE7 }}</td>
            <td>{{ entity.HANDICAPE }}</td>
            <td>{% if entity.DATEFHANDICAPE %}{{ entity.DATEFHANDICAPE|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.NBANEXPERIENCE %}{{ entity.NBANEXPERIENCE|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.EXPERIENCE }}</td>
            <td>{{ entity.PERMIS }}</td>
            <td>{{ entity.COMMENTAIRE }}</td>
            <td>{{ entity.APPRECIATION }}</td>
            <td>{{ entity.VEHICULE }}</td>
            <td>{{ entity.COMPLEMENTHRS }}</td>
            <td>{{ entity.VITRAGE }}</td>
            <td>{{ entity.NOMPERS }}</td>
            <td>{{ entity.PRENOMPERS }}</td>
            <td>{{ entity.TELFIXPERS }}</td>
            <td>{{ entity.TELPORPERS }}</td>
            <td>{{ entity.EMAILPERS }}</td>
            <td>{{ entity.ADRUE }}</td>
            <td>{{ entity.SUPPLAD }}</td>
            <td>{{ entity.TRAVEX }}</td>
            <td>{{ entity.CODECLAS }}</td>
            <td>{{ entity.ECHELON }}</td>
            <td>{{ entity.POSITIONNEMENT }}</td>
            <td>{% if entity.DATECANDI %}{{ entity.DATECANDI|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.MODE }}</td>
            <td>{{ entity.SOURCE }}</td>
            <td>{{ entity.APPGEN }}</td>
            <td>{{ entity.LETTRECV }}</td>
            <td>{% if entity.DATELET %}{{ entity.DATELET|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.DATEENVOICONTRAT %}{{ entity.DATEENVOICONTRAT|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.DATEENVOIAVENANT %}{{ entity.DATEENVOIAVENANT|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.DATEENVOICONTRATSIG %}{{ entity.DATEENVOICONTRATSIG|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.ACTIF }}</td>
            <td>{{ entity.PERS }}</td>
            <td>{{ entity.RETRAITE }}</td>
            <td>{{ entity.SAMEDI }}</td>
            <td>{{ entity.RPLT }}</td>
            <td>{{ entity.FORMVIT }}</td>
            <td>{{ entity.DISPOJ }}</td>
            <td>{{ entity.TPSP }}</td>
            <td>{{ entity.NONINTER }}</td>
            <td>{{ entity.NUMNONATT }}</td>
            <td>{% if entity.TJSDISPO %}{{ entity.TJSDISPO|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.BURO }}</td>
            <td>{{ entity.MAG }}</td>
            <td>{{ entity.GDSURF }}</td>
            <td>{{ entity.HOP }}</td>
            <td>{{ entity.PART }}</td>
            <td>{{ entity.ECO }}</td>
            <td>{{ entity.HOT }}</td>
            <td>{{ entity.ESPV }}</td>
            <td>{{ entity.MAISRET }}</td>
            <td>{{ entity.RESTO }}</td>
            <td>{{ entity.REMISEETAT }}</td>
            <td>{{ entity.DECAPAGE }}</td>
            <td>{{ entity.PLUSCONTACT }}</td>
            <td>{{ entity.MOTIFPLUSCONTACT }}</td>
            <td>{% if entity.DATECOPIECS %}{{ entity.DATECOPIECS|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('agent_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('agent_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('agent_new') }}">
            Create a new entry
        </a>
    </li>
</ul>