{% extends '::base.html.twig' %}

{% block title %}
{% trans %}Altea{% endtrans %} - {% trans %}Administration{% endtrans %}
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/prettyCheckboxes02.css') }}" type="text/css" media="screen" />
{% endblock %}
{% block body %}
	<div class="navbar">
		<div class="container">
        	<div class="navbar-inner">
            	<div class="container">
					<ul class="nav">
						<li><a class="brand" href="#">{% trans %}Altea Administration{% endtrans %}</a></li>
						{% if defaultDept == 'Tous' %}
						<li class="active"><a href="{{ path('defaultdept') }}?Dept=Tous">{% trans %}Tous{% endtrans %}</a></li>
						{% else %}
						<li><a href="{{ path('defaultdept') }}?Dept=Tous">{% trans %}Tous{% endtrans %}</a></li>
						{% endif %}
						{% for dept in depts %}
						{% if defaultDept == dept.nom %}
						<li class="active"><a href="{{ path('defaultdept') }}?Dept={{ dept.nom }}">{{ dept.nom }}</a></li>
						{% else %}
						<li><a href="{{ path('defaultdept') }}?Dept={{ dept.nom }}">{{ dept.nom }}</a></li>
						{% endif %}
						{% endfor %}
					</ul>
					<ul class="nav pull-right">
                    	<li><a href="{{ path('fos_user_profile_show') }}">{% trans %}Connexion:{% endtrans %} {{ app.user.username }}</a></li>
						<li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off icon-white"></i> {% trans %}Déconnexion{% endtrans %}</a></li>
                    </ul>
                </div>
            </div>
			<div style="background-color:#000000">
				<div class="container">
				<table>
						<thead>
							<tr align="left">
								<th><div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-road icon-black"></i> {% trans %}Grd Comptes{% endtrans %}<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('grdcpte_new') }}">{% trans %}Nouveau Grand Compte{% endtrans %}</a></li>
												<li><a href="{{ path('grdcpte') }}">{% trans %}Listing Grd Comptes{% endtrans %}</a></li>
											</ul>
									</div>
								</th>
								<th><div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-road icon-black"></i> {% trans %}Clients{% endtrans %}<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('client_new') }}">{% trans %}Nouveau Client{% endtrans %}</a></li>
												<li><a href="{{ path('client') }}">{% trans %}Listing Clients{% endtrans %}</a></li>
											</ul>
									</div>
								</th>
								<th><div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-road icon-black"></i> {% trans %}Collaborateurs{% endtrans %}<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('collaborateur_new') }}">{% trans %}Nouveau Collanorateur{% endtrans %}</a></li>
												<li><a href="{{ path('collaborateur') }}">{% trans %}Listing Collaborateur{% endtrans %}</a></li>
											</ul>
									</div>
								</th>
								<th><div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-road icon-black"></i> {% trans %}Contrats{% endtrans %}<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('contrats_new') }}">{% trans %}Nouveau Contrat{% endtrans %}</a></li>
												<li><a href="{{ path('contrats') }}">{% trans %}Listing Contrats{% endtrans %}</a></li>
											</ul>
									</div>
								</th>
								<th><div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-road icon-black"></i> {% trans %}Avenant{% endtrans %}<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('avenant_new') }}">{% trans %}Nouvel Avenant{% endtrans %}</a></li>
												<li><a href="{{ path('avenant') }}">{% trans %}Listing Avenant{% endtrans %}</a></li>
											</ul>
									</div>
								</th>
								<th><div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-road icon-black"></i> {% trans %}Horaires{% endtrans %}<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('josemcont_new') }}">{% trans %}Nouveau Horaires{% endtrans %}</a></li>
												<li><a href="{{ path('josemcont') }}">{% trans %}Listing Horaires{% endtrans %}</a></li>
											</ul>
									</div>
								</th>
							</tr>
						</thead>
				</table>
				</div>
			</div>
		</div>
	</div>
{% block grdcptenewpage %}
{% endblock %}
{% block grdcpteshowpage %}
{% endblock %}
{% block grdcptelistpage %}
{% endblock %}
{% block grdcptemodifpage %}
{% endblock %}
{% block clientlistpage %}
{% endblock %}
{% block clientnewpage %}
{% endblock %}
{% block clienteditpage %}
{% endblock %}
{% block clientshowpage %}
{% endblock %}
{% block collaborateurnewpage %}
{% endblock %}
{% block collaborateurshowpage %}
{% endblock %}
{% block collaborateurlistpage %}
{% endblock %}
{% block collaborateureditpage %}
{% endblock %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/prettyCheckboxes02.js') }}" charset="utf-8"></script>
<script>
$(document).ready(function(){
	$('input[type=checkbox],input[type=radio]').prettyCheckboxes02({
		checkboxWidth: 17, // The width of your custom checkbox
		checkboxHeight: 17, // The height of your custom checkbox
		className : 'prettyCheckbox', // The classname of your custom checkbox
		display: 'inline' // The style you want it to be display (inline or list)
	});
});
</script>
{% endblock %}