{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block commanderecipindexpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Etat des ordres de réception demandés{% endtrans %}</h4></div>
<div class="progress progress-success progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<!-- <table class="table table-striped table-bordered table-condensed"> -->
<table class="table table-striped table-bordered table-condensed" id="sortDatatable">
    <thead>
        <tr>
            {% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<th>{% trans %}Client{% endtrans %}</th>
			{% endif %}
			<th>{% trans %}Num OR{% endtrans %}</th>
			<th>{% trans %}Date de l'ordre{% endtrans %}</th>
			{% if app.session.get('applicationUSER') == "ToolboxClient" %}
			<th>{% trans %}Commentaires{% endtrans %}</th>
			{% endif %}
			<th>{% trans %}Commentaires{% endtrans %} {% if app.session.get('applicationUSER') == "ToolboxClient" %}2{% endif %}</th>
            <!-- <th>Ordre de réception</th> -->
			<th>{% trans %}Etat{% endtrans %}</th>
			<th>{% trans %}Date de réception prévue{% endtrans %}</th>
			<th>{% trans %}Date de réception{% endtrans %}</th>
            <th>{% trans %}Voir{% endtrans %}</th>
			{% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<th>{% trans %}Modifier{% endtrans %}</th>
			{% endif %}
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            {% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<td>{{ entity.client }}</td>
			{% endif %}
			<td><strong>{% if entity.numor %}{{ entity.numor }}{% endif %}</strong></td>
			<td>{% if entity.datecom %}{{ entity.datecom|date('d-m-Y') }}{% endif %}</td>
			{% if app.session.get('applicationUSER') == "ToolboxClient" %}
			<td>{{ entity.comm }}</td>
			{% endif %}
			<td>
			{% for entityarticlecom in entitiesarticlescom %}
			{% if entityarticlecom.idcomrecips == entity.id %}
			{% for article in articles %}
			{% if article.id == entityarticlecom.idarticles %}
			<blockquote>{{ article.designat }}
			<small>{% trans %}Qte Totale de l'OR{% endtrans %}: {{ entityarticlecom.qtte }}</small>
			<small>{% trans %}Qte partiellement réceptionnée{% endtrans %}: {{ entityarticlecom.qttereception }}</small>
			<small>{% trans %}Qte en attente OR{% endtrans %}: {{ entityarticlecom.qtteattente }}</small>
			</blockquote>
			{% endif %}
			{% endfor %}
			{% endif %}
			{% endfor %}
			</td>
			<!-- <td>{% if entity.compdf %}<a href="{{ asset('upload/toolbox/recip/client/' ~ entity.id ~'/' ~ entity.compdf)}}" target="_blank"> <i class="icon-download"></i></a>{% else %} - {% endif %}</td> -->
            <!-- <td><a href="{{ asset('upload/' ~ entity.id ~'/' ~ entity.compdf)}}" target="_blank"> <i class="icon-download"></i></a></td> -->
            <td>{% if entity.etat %}{{ entity.etat }}{% endif %}</td>
			<td>{% if entity.datelivrprev %}{{ entity.datelivrprev|date('d-m-Y') }}{% else %} - {% endif %}</td>
			<td>{% if entity.datereception %}{{ entity.datereception|date('d-m-Y') }}{% else %} - {% endif %}</td>
			<td><a href="{{ path('commanderecip_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
			{% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			{% if entity.etat == 'Réceptionné' %}
			<td><i class="icon-ban-circle"></td>
			{% else %}
			<td><a href="{{ path('commanderecip_edit', { 'id': entity.id }) }}"><i class="icon-edit"></a></td>
			{% endif %}
			{% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}