{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block commanderecipnewpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Confirmation ordre de réception{% endtrans %}</h4></div>
<div class="progress progress-success progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<pre><h4>{% trans %}Récapitulatif de vôtre ordre de réception{% endtrans %}:</h4>
<strong>{% trans %}Liste des articles à réceptionner{% endtrans %}:</strong>
<table class="table table-striped table-condensed" id="sortTableExample2">
    <thead>
        <tr>
            <th>{% trans %}Article{% endtrans %}</th>
            <th>{% trans %}Qtte{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entityarticle in entitiesarticlestmp %}
        <tr>
            <td>{{ entityarticle.nomarticle }}</td>
            <td>{{ entityarticle.qtte }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</pre>
<form action="{{ path('commanderecip_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="row">
	<div class="span4">
	<table class="table table-striped table-condensed">
		<tr>
			<td>
			<p><strong>{% trans %}Date de réception prévu{% endtrans %}: </strong></p>
			<div class="input-append date" id="datepicker" data-date={{ "now"|date('d-m-Y') }} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y') }} name="datelivrprev">
								<span class="add-on"><i class="icon-th"></i></span></td>
			<td></td>
		</tr>
		<tr>
			<td><p><strong>{{ form_label(form.comm, "") }}{% trans %}Vos commentaires{% endtrans %}: </strong></p>{{ form_widget(form.comm) }}</td>
			<td></td>
		</tr>
		<tr>
			<td><p><strong>{{ form_label(form.compdf, "") }}{% trans %}Vôtre Ordre de réception{% endtrans %}:  </strong></p>{{ form_widget(form.compdf) }}</td>
			<td></td>
		</tr>
	</table>
	</div>
	<div class="span8">
	</div>
	</div>
	{{ form_rest(form) }}
	
    <p>
        <button class="btn btn-success" type="submit">{% trans %}VALIDER VOTRE COMMANDE DE RECEPTION{% endtrans %}</button>
    </p>
	
</form>


</div>
{% endblock %}