{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block clienttoolpage %} 
{{ parent() }}
<div class="container">
<h4>{% trans %}Listing Clients{% endtrans %}</h4>

<table class="table table-striped table-bordered table-condensed" id="sortTableExample2">
    <thead>
        <tr>
            <th>{% trans %}Client{% endtrans %}</th>
            <th>{% trans %}Contact{% endtrans %}</th>
			<th>{% trans %}Modifier{% endtrans %}</th>
			<th>{% trans %}Voir{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nom }}</td>
            <td>{{ entity.contact }}</td>
            <td><a href="{{ path('clienttool_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></td>
			<td><a href="{{ path('clienttool_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<ul>

        <a class="btn btn-primary" href="{{ path('clienttool_new') }}">
            {% trans %}Nouveau Client{% endtrans %}
        </a>

</ul>
</div>
{% endblock %}