{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block clienttoolshowpage %} 
{{ parent() }}
<div class="container">
<h4>{% trans %}Client{% endtrans %} {{ entity.nom }}</h4>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Client{% endtrans %}</th>
							<th>{% trans %}Contact{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.nom }}</td>
							<td align="center">{{ entity.contact }}</td>
						</tr>
						</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Adresse{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.adress1 }}</td>
						</tr>
						<tr>
							<td align="center">{{ entity.adress2 }}</td>
						</tr>
						<tr>
							<td align="center">{{ entity.cp }} {{ entity.ville }}</td>
						</tr>
						</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Tel{% endtrans %}</th>
							<th>{% trans %}Fax{% endtrans %}</th>
							<th>{% trans %}Mail{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.tel }}</td>
							<td align="center">{{ entity.fax }}</td>
							<td align="center">{{ entity.email }}</td>
						</tr>
						</tbody>
	</table>
	
<a href="{{ path('clienttool_edit', { 'id': entity.id }) }}" class="btn btn-success">
            {% trans %}Modifier{% endtrans %}
</a>
<p>
</p>
<ul class="record_actions">
    
	<li>
        <a href="{{ path('clienttool') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}