{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}
{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/datepicker.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/overcast/theme.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
		<script type="text/javascript" src="{{ asset('js/jquery-1.7.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery-ui-1.8.17.custom.min.js') }}"></script
		<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-collapse.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/fullcalendar.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/gcal.js') }}"></script>
		<script >
		$(function() {
		$("table#sortTableExample").tablesorter({ sortList: [[4,0]] });
		});
		</script>
		<script >
		$(function() {
		$(".dropdown-toggle").dropdown();
		});
		</script>
		<script >
		$(function() {
		$(".collapse").collapse()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker").datepicker()
		});
		</script>
		<script type='text/javascript'>

		$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			theme: true,
			editable: false,
			firstDay: 1,
			allDayText: 'Jours',
			axisFormat: 'H:mm{ - H:mm}',
			titleFormat: {
				agenda: 'H:mm{ - H:mm}',
				month: 'MMMM yyyy',                             
				week: "d MMMM[ yyyy]{ '&#8212;' d MMMM yyyy}",
				day: 'dddd d MMMM yyyy'  
			},
			timeFormat: 'H:mm(:mm)',
			columnFormat: {
				month: 'dddd',
				week: 'ddd d-M',
				day: 'dddd d-M'
			},
			dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
			monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
			dayNamesShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
			buttonText: {
				prev:     '&nbsp;&#9668;&nbsp;',  // left triangle
				next:     '&nbsp;&#9658;&nbsp;',  // right triangle
				prevYear: '&nbsp;&lt;&lt;&nbsp;', // <<
				nextYear: '&nbsp;&gt;&gt;&nbsp;', // >>
				today:    'aujourdhui',
				month:    'mois',
				week:     'semaine',
				day:      'jour'
			},
			
			
			
			{% if app.user.username == "Jeff" %}
			events: 'https://www.google.com/calendar/feeds/jfrebaud%40gmail.com/public/basic',
			{% elseif app.user.username == "MMathieu" %}
			events: 'https://www.google.com/calendar/feeds/michelemathieu.altea%40gmail.com/public/basic',
			{% elseif app.user.username == "TGallet" %}
			events: 'https://www.google.com/calendar/feeds/thierrygallet.altea%40gmail.com/public/basic',
			{% elseif app.user.username == "KMekhissi" %}
			events: 'https://www.google.com/calendar/feeds/kadamekhissi.altea%40gmail.com/public/basic',
			{% elseif app.user.username == "NAitabbas" %}
			events: 'https://www.google.com/calendar/feeds/nadegeaitabbas.altea%40gmail.com/public/basic',
			{% elseif app.user.username == "CCharles" %}
			events: 'https://www.google.com/calendar/feeds/carolinecharles.altea%40gmail.com/public/basic',
			{% elseif app.user.username == "PLeborgne" %}
			events: 'https://www.google.com/calendar/feeds/philippeleborgne.altea%40gmail.com/public/basic',
			{% elseif app.user.username == "SGouya" %}
			events: 'https://www.google.com/calendar/feeds/stephaniegouya.altea%40gmail.com/public/basic',
			{% elseif app.user.username == "LSchwartz" %}
			events: 'https://www.google.com/calendar/feeds/lauraschwartz.altea%40gmail.com/public/basic',
			{% else %}
			events: 'http://www.google.com/calendar/feeds/usa__en%40holiday.calendar.google.com/public/basic',
			{% endif %}
			
			eventClick: function(event) {
				if (event.url) {
					window.open(event.url);
					return false;
				}
			}
			
		});
		
		});

		</script>
			<style type='text/css'>
				#calendar {
					width: 900px;
					margin: 0 auto;
				}
			</style>
{% endblock %}

{% block calendardefaultpage %} 
{{ parent() }}
<div id='calendar'></div>
{% endblock %}