{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block fournisseureditpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Modifier le fournisseur{% endtrans %} {{ entity.nom }}</h4></div>
<div class="progress progress-info progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<form action="{{ path('fournisseur_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.nom, "") }}{% trans %}Fournisseur{% endtrans %}</th>
							{% if app.session.get('applicationUSER') == "Toolbox" %}
							<th>{% trans %}Client{% endtrans %}</th>
							{% endif %}
							<th>{{ form_label(edit_form.contact, "") }}{% trans %}Contact{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.nom }}</td>
							{% if app.session.get('applicationUSER') == "Toolbox" %}
							<td align="center">{{ entity.idclient }}</td>
							{% endif %}
							<td align="center">{{ form_widget(edit_form.contact) }}</td>
						</tr>
						</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.adres1, "") }}{% trans %}Adresse 1{% endtrans %}</th>
							<th>{{ form_label(edit_form.adres2, "") }}{% trans %}Adresse 2{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.adres1) }}</td>
							<td align="center">{{ form_widget(edit_form.adres2) }}</td>
						</tr>
						</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.cp, "") }}{% trans %}Code Postal{% endtrans %}</th>
							<th>{{ form_label(edit_form.ville, "") }}{% trans %}Ville{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.cp) }}</td>
							<td align="center">{{ form_widget(edit_form.ville) }}</td>
						</tr>
						</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.tel, "") }}{% trans %}Téléphone{% endtrans %}</th>
							<th>{{ form_label(edit_form.fax, "") }}{% trans %}Fax{% endtrans %}</th>
							<th>{{ form_label(edit_form.email, "") }}{% trans %}Email{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.tel) }}</td>
							<td align="center">{{ form_widget(edit_form.fax) }}</td>
							<td align="center">{{ form_widget(edit_form.email) }}</td>
						</tr>
						</tbody>
	</table>
	{{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-info" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('fournisseur') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}