{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block destinationeditpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Modification Client{% endtrans %}</h4></div>
<div class="progress progress-warning progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<form action="{{ path('destination_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <table class="table table-striped table-bordered table-condensed">
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th></th>
		</tr>
		<tr>
			<th>{{ form_label(edit_form.typecpte, "") }}{% trans %}Type de compte{% endtrans %}:  {{ form_widget(edit_form.typecpte) }}</th>
			<th>{{ form_label(edit_form.compte, "") }}{% trans %}Compte{% endtrans %}: {{ form_widget(edit_form.compte) }}</th>
		</tr>
		<tr>
			<td>{{ form_label(edit_form.nummag, "") }}{% trans %}Num du Mag{% endtrans %}: {{ form_widget(edit_form.nummag) }}</td>
			<td>{{ form_label(edit_form.site, "") }}{% trans %}Nom du site{% endtrans %}: {{ form_widget(edit_form.site) }}</td>	
		</tr>
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th></th>
		</tr>
		<tr>
			<td>{{ form_label(edit_form.adresse1, "") }}{% trans %}Adresse 1{% endtrans %}: {{ form_widget(edit_form.adresse1) }}</td>
			<td>{{ form_label(edit_form.adresse2, "") }}{% trans %}Adresse 2{% endtrans %}: {{ form_widget(edit_form.adresse2) }}</td>			
		</tr>
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th></th>
		</tr>
		<tr>
			<td>{{ form_label(edit_form.cp, "") }}{% trans %}Code Postal{% endtrans %}: {{ form_widget(edit_form.cp) }}</td>
			<td>{{ form_label(edit_form.ville, "") }}{% trans %}Ville{% endtrans %}: {{ form_widget(edit_form.ville) }}</td>
		</tr>
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th></th>
		</tr>
		<tr>
			<td>{{ form_label(edit_form.tel, "") }}{% trans %}Téléphone{% endtrans %}: {{ form_widget(edit_form.tel) }}</td>
			<td>{{ form_label(edit_form.fax, "") }}{% trans %}Fax{% endtrans %}: {{ form_widget(edit_form.fax) }}</td>
		</tr>
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th></th>
		</tr>
		<tr>
			<td>{{ form_label(edit_form.tel2, "") }}{% trans %}Téléphone2{% endtrans %}: {{ form_widget(edit_form.tel2) }}</td>
			<td>{{ form_label(edit_form.mail, "") }}{% trans %}Mail{% endtrans %}: {{ form_widget(edit_form.mail) }}</td>
		</tr>
		<tr>
			<th><i class="icon-tasks"></i></th>
			<th></th>
		</tr>
		<tr>
			<td>{{ form_label(edit_form.sitenet, "") }}{% trans %}Site Internet{% endtrans %}: {{ form_widget(edit_form.sitenet) }}</td>
			<td>{{ form_label(edit_form.pays, "") }}{% trans %}Pays{% endtrans %}: {{ form_widget(edit_form.pays) }}</td>
		</tr>
	</table>
	{{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-warning" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>
</div>
{% endblock %}