{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditpage %} 
{{ parent() }}
<h1>Listing des Audits</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Parvis_sol</th>
            <th>Parvis_sol_com</th>
            <th>Tapis_entree</th>
            <th>Tapis_ent_com</th>
            <th>Portes_vit</th>
            <th>Portes_vit_com</th>
            <th>Bornes_antivol</th>
            <th>Bornes_ant_com</th>
            <th>Miroir_vit</th>
            <th>Miroir_vit_com</th>
            <th>Porte_mont_pil</th>
            <th>Porte_mont_pilcom</th>
            <th>Caisses</th>
            <th>Caisses_com</th>
            <th>Dess_fac_tiroir</th>
            <th>De_fac_tir_com</th>
            <th>Maqu_rap_pinc</th>
            <th>Ma_ra_pi_com</th>
            <th>Present_maqu</th>
            <th>Pres_maq_com</th>
            <th>Edg</th>
            <th>Edg_com</th>
            <th>Mobilier_mobani</th>
            <th>Mob_ani_com</th>
            <th>Rehau_joue_gond</th>
            <th>Reh_jo_go_com</th>
            <th>Bar_beaut_nail</th>
            <th>Bar_beaut_com</th>
            <th>Tab_bain</th>
            <th>Tab_bain_com</th>
            <th>Sol_surf_vente</th>
            <th>Sol_surf_v_com</th>
            <th>Bur_plat_tab_ecr</th>
            <th>Bur_p_t_com</th>
            <th>Corbeilles</th>
            <th>Corb_com</th>
            <th>Wc_lav_corb</th>
            <th>Wc_la_com</th>
            <th>Miroirs_sanit</th>
            <th>Mir_sa_com</th>
            <th>Cuisine_siege</th>
            <th>Cuis_sieg_com</th>
            <th>Evier_robin</th>
            <th>Evier_ro_com</th>
            <th>Sol_loc_soc</th>
            <th>Sol_loc_so_com</th>
            <th>Sol_meca_reno</th>
            <th>Sol_mec_re_com</th>
            <th>Vitrerie</th>
            <th>Vitreri_com</th>
            <th>Caiss_nail_prof</th>
            <th>Tour_ver_bout</th>
            <th>Tour_ver_com</th>
            <th>Caiss_nail_com</th>
            <th>Line_mur</th>
            <th>Line_mur_com</th>
            <th>Gondole_cent</th>
            <th>Gondole_cent_com</th>
            <th>Trait_prio</th>
            <th>Poin_mag</th>
            <th>Reapro</th>
            <th>Form_po_agen</th>
            <th>Satis_global</th>
			<th>Date MAJ</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('audit_show', { 'id': entity.id }) }}?idMag={{idMag}}">{{ entity.id }}</a></td>
            <td>{{ entity.parvissol }}</td>
            <td>{{ entity.parvissolcom }}</td>
            <td>{{ entity.tapisentree }}</td>
            <td>{{ entity.tapisentcom }}</td>
            <td>{{ entity.portesvit }}</td>
            <td>{{ entity.portesvitcom }}</td>
            <td>{{ entity.bornesantivol }}</td>
            <td>{{ entity.bornesantcom }}</td>
            <td>{{ entity.miroirvit }}</td>
            <td>{{ entity.miroirvitcom }}</td>
            <td>{{ entity.portemontpil }}</td>
            <td>{{ entity.portemontpilcom }}</td>
            <td>{{ entity.caisses }}</td>
            <td>{{ entity.caissescom }}</td>
            <td>{{ entity.dessfactiroir }}</td>
            <td>{{ entity.defactircom }}</td>
            <td>{{ entity.maqurappinc }}</td>
            <td>{{ entity.marapicom }}</td>
            <td>{{ entity.presentmaqu }}</td>
            <td>{{ entity.presmaqcom }}</td>
            <td>{{ entity.edg }}</td>
            <td>{{ entity.edgcom }}</td>
            <td>{{ entity.mobiliermobani }}</td>
            <td>{{ entity.mobanicom }}</td>
            <td>{{ entity.rehaujouegond }}</td>
            <td>{{ entity.rehjogocom }}</td>
            <td>{{ entity.barbeautnail }}</td>
            <td>{{ entity.barbeautcom }}</td>
            <td>{{ entity.tabbain }}</td>
            <td>{{ entity.tabbaincom }}</td>
            <td>{{ entity.solsurfvente }}</td>
            <td>{{ entity.solsurfvcom }}</td>
            <td>{{ entity.burplattabecr }}</td>
            <td>{{ entity.burptcom }}</td>
            <td>{{ entity.corbeilles }}</td>
            <td>{{ entity.corbcom }}</td>
            <td>{{ entity.wclavcorb }}</td>
            <td>{{ entity.wclacom }}</td>
            <td>{{ entity.miroirssanit }}</td>
            <td>{{ entity.mirsacom }}</td>
            <td>{{ entity.cuisinesiege }}</td>
            <td>{{ entity.cuissiegcom }}</td>
            <td>{{ entity.evierrobin }}</td>
            <td>{{ entity.evierrocom }}</td>
            <td>{{ entity.sollocsoc }}</td>
            <td>{{ entity.sollocsocom }}</td>
            <td>{{ entity.solmecareno }}</td>
            <td>{{ entity.solmecrecom }}</td>
            <td>{{ entity.vitrerie }}</td>
            <td>{{ entity.vitrericom }}</td>
            <td>{{ entity.caissnailprof }}</td>
            <td>{{ entity.tourverbout }}</td>
            <td>{{ entity.tourvercom }}</td>
            <td>{{ entity.caissnailcom }}</td>
            <td>{{ entity.linemur }}</td>
            <td>{{ entity.linemurcom }}</td>
            <td>{{ entity.gondolecent }}</td>
            <td>{{ entity.gondolecentcom }}</td>
            <td>{{ entity.traitprio }}</td>
            <td>{{ entity.poinmag }}</td>
            <td>{{ entity.reapro }}</td>
            <td>{{ entity.formpoagen }}</td>
            <td>{{ entity.satisglobal }}</td>
			<td>{% if entity.datemaj %}{{ entity.datemaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('audit_show', { 'id': entity.id }) }}?idMag={{idMag}}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('audit_edit', { 'id': entity.id }) }}?idMag={{idMag}}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('audit_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}