{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditpage %} 
{{ parent() }}
<h4>Listing des audits qualité</h4>
<br></br>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
			<th>Date de Mise a Jour des Audits:</th>
            <th><i class="icon-eye-open"></i> Voir</th>
			<th><i class="icon-edit"></i> Modifier</th>
			<th><i class="icon-file"></i> PDF</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
		<tr>
            <td>{% if entity.datemaj %}{{ entity.datemaj|date('d-m-Y') }}{% endif %}</td>
            <td><a href="{{ path('audit_show', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-eye-open"></i></a></td>
			<td><a href="{{ path('audit_edit', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-edit"></i></a></td>
			<td>{% if entity.nomsignaltea is none %}<i class="icon-ban-circle">{% else %}<a href="{{ path('audit_showpdf', { 'id': entity.id }) }}?idMag={{idMag}}" target="_blank"><i class="icon-download"></a>{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
        <a class="btn btn-primary" href="{{ path('audit_new') }}?idMag={{idMag}}">
            Nouvel Audit
        </a>
</ul>
{% endblock %}