{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditpage %} 
{{ parent() }}
<h1>Nouvel Audit</h1>
<br></br>
<form action="{{ path('audit_create') }}" method="post" {{ form_enctype(form) }}>
	<div><h4>{{ form_label(form.date_maj, "Date de Mise a jour:") }}</h4>{{ form_widget(form.date_maj) }}{{ form_widget(form.heure_maj) }}
	</div>
    <div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
						Nettoyage Visuel
				</a>
			</div>
			<div style="height: auto;" id="collapseOne" class="accordion-body in collapse">
				<div class="accordion-inner">
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td>{{ form_label(form.parvis_sol, "Parvis Sols Montants Vitre") }}</td>
							<td>{{ form_label(form.tapis_entree, "Tapis d'entrée") }}</td>
							<td>{{ form_label(form.portes_vit, "Portes vitrées") }}</td>
							<td>{{ form_label(form.bornes_antivol, "Bornes anti vol") }}</td>
							<td>{{ form_label(form.miroir_vit, "Miroirs, Surfaces vitrées") }}</td>
							<td>{{ form_label(form.porte_mont_pil, "Portes, Montants, Piliers") }}</td>
							<td>{{ form_label(form.caisses, "Caisses") }}</td>
							<td>{{ form_label(form.dess_fac_tiroir, "Dessus et Façades de tiroirs") }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.parvis_sol) }}</td>
							<td align="center">{{ form_widget(form.tapis_entree) }}</td>
							<td align="center">{{ form_widget(form.portes_vit) }}</td>
							<td align="center">{{ form_widget(form.bornes_antivol) }}</td>
							<td align="center">{{ form_widget(form.miroir_vit) }}</td>
							<td align="center">{{ form_widget(form.porte_mont_pil) }}</td>
							<td align="center">{{ form_widget(form.caisses) }}</td>
							<td align="center">{{ form_widget(form.dess_fac_tiroir) }}</td>
						</tr>
						
					</table>
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td>{{ form_label(form.maqu_rap_pinc, "Maquillage rapide") }}</td>
							<td>{{ form_label(form.present_maqu, "Présentoir maquillage") }}</td>
							<td align="center">{{ form_label(form.edg, "EDG") }}</td>
							<td>{{ form_label(form.mobilier_mobani, "Mobiliers mobiles, Meubles Alu") }}</td>
							<td>{{ form_label(form.rehau_joue_gond, "Rehausses et Joues de gondoles") }}</td>
							<td>{{ form_label(form.bar_beaut_nail, "Bar à beauté (MUS), Nail bar, Sièges") }}</td>
							<td>{{ form_label(form.tab_bain, "Tablette bain Sephora") }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.maqu_rap_pinc) }}</td>
							<td align="center">{{ form_widget(form.present_maqu) }}</td>
							<td align="center">{{ form_widget(form.edg) }}</td>
							<td align="center">{{ form_widget(form.mobilier_mobani) }}</td>
							<td align="center">{{ form_widget(form.rehau_joue_gond) }}</td>
							<td align="center">{{ form_widget(form.bar_beaut_nail) }}</td>
							<td align="center">{{ form_widget(form.tab_bain) }}</td>
						</tr>
					</table>
					<table>
						<tr>
							<td align="center">{{ form_label(form.parvis_sol_com, "Commentaires Visuel") }}</td>
							<td align="center">{{ form_widget(form.parvis_sol_com) }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
						Nettoyage Récurent
				</a>
			</div>
			<div style="height: auto;" id="collapseThree" class="accordion-body in collapse">
				<div class="accordion-inner">
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td>{{ form_label(form.sol_surf_vente, "Sol surface de vente, tapis") }}</td>
							<td>{{ form_label(form.bur_plat_tab_ecr, "Bureaux, Plateaux, Tables, Ecrans") }}</td>
							<td>{{ form_label(form.corbeilles, "Corbeilles") }}</td>
							<td>{{ form_label(form.wc_lav_corb, "WC, Lavabo, Corbeilles") }}</td>
							<td>{{ form_label(form.miroirs_sanit, "Miroirs sanitaire") }}</td>
							<td>{{ form_label(form.cuisine_siege, "Cuisine, Plan de travail, Siège") }}</td>
							<td>{{ form_label(form.evier_robin, "Evier et robinetterie") }}</td>
							<td>{{ form_label(form.sol_loc_soc, "Sol locaux sociaux") }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.sol_surf_vente) }}</td>
							<td align="center">{{ form_widget(form.bur_plat_tab_ecr) }}</td>
							<td align="center">{{ form_widget(form.corbeilles) }}</td>
							<td align="center">{{ form_widget(form.wc_lav_corb) }}</td>
							<td align="center">{{ form_widget(form.miroirs_sanit) }}</td>
							<td align="center">{{ form_widget(form.cuisine_siege) }}</td>
							<td align="center">{{ form_widget(form.evier_robin) }}</td>
							<td align="center">{{ form_widget(form.sol_loc_soc) }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
						Nettoyage de Fond
				</a>
			</div>
			<div style="height: auto;" id="collapseFour" class="accordion-body in collapse">
				<div class="accordion-inner">
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td>{{ form_label(form.sol_meca_reno, "Sol Mécanisé, Rénovation") }}</td>
							<td>{{ form_label(form.vitrerie, "Vitrerie") }}</td>
							<td>{{ form_label(form.caiss_nail_prof, "Caisses, Nail Bar") }}</td>
							<td>{{ form_label(form.tour_ver_bout, "Tour express, Tour en verre, Boutiquette") }}</td>
							<td>{{ form_label(form.line_mur, "Linéaires muraux") }}</td>
							<td>{{ form_label(form.gondole_cent, "Gondoles centrale") }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.sol_meca_reno) }}</td>
							<td align="center">{{ form_widget(form.vitrerie) }}</td>
							<td align="center">{{ form_widget(form.caiss_nail_prof) }}</td>
							<td align="center">{{ form_widget(form.tour_ver_bout) }}</td>
							<td align="center">{{ form_widget(form.line_mur) }}</td>
							<td align="center">{{ form_widget(form.gondole_cent) }}</td>
						</tr>
					</table>

				</div>
			</div>
		</div>
		
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th>{{ form_label(form.trait_prio, "Traitement Prioritaire") }}</th>
					<th>{{ form_label(form.poin_mag, "Points avec le magasin") }}</th>
					<th>{{ form_label(form.reapro, "Réapprovisionnement") }}</th>
					<th>{{ form_label(form.form_po_agen, "Formation (ou point) avec les agents") }}</th>
					<th>{{ form_label(form.satis_global, "Satisfaction Global Client") }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ form_widget(form.trait_prio) }}</td>
					<td>{{ form_widget(form.poin_mag) }}</td>
					<td>{{ form_widget(form.reapro) }}</td>
					<td>{{ form_widget(form.form_po_agen) }}</td>
					<td>{{ form_widget(form.satis_global) }}</td>
				</tr>
			</tbody>
        </table>
		
	</div>
	
	{# <div class="input-append date" id="datepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy"> #}
    {# <input class="span2" size="16" type="text" value="12-02-2012"> #}
    {# <span class="add-on"><i class="icon-th"></i></span> #}
    {# </div> #}
	

	
	
	{{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit" value="submit">Enregistrer</button>
		<button class="btn" type="reset" value="reset">Annuler</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('audit') }}?idMag={{idMag}}">
            Retour a la liste
        </a>
    </li>
</ul>
{% endblock %}