        <tr>
            <th>Parvis_sol_com</th>
            <td>{{ entity.parvissolcom }}</td>
        </tr>
        <tr>
            <th>Tapis_entree</th>
            <td>{{ entity.tapisentree }}</td>
        </tr>
        <tr>
            <th>Tapis_ent_com</th>
            <td>{{ entity.tapisentcom }}</td>
        </tr>
        <tr>
            <th>Portes_vit</th>
            <td>{{ entity.portesvit }}</td>
        </tr>
        <tr>
            <th>Portes_vit_com</th>
            <td>{{ entity.portesvitcom }}</td>
        </tr>
        <tr>
            <th>Bornes_antivol</th>
            <td>{{ entity.bornesantivol }}</td>
        </tr>
        <tr>
            <th>Bornes_ant_com</th>
            <td>{{ entity.bornesantcom }}</td>
        </tr>
        <tr>
            <th>Miroir_vit</th>
            <td>{{ entity.miroirvit }}</td>
        </tr>
        <tr>
            <th>Miroir_vit_com</th>
            <td>{{ entity.miroirvitcom }}</td>
        </tr>
        <tr>
            <th>Porte_mont_pil</th>
            <td>{{ entity.portemontpil }}</td>
        </tr>
        <tr>
            <th>Porte_mont_pilcom</th>
            <td>{{ entity.portemontpilcom }}</td>
        </tr>
        <tr>
            <th>Caisses</th>
            <td>{{ entity.caisses }}</td>
        </tr>
        <tr>
            <th>Caisses_com</th>
            <td>{{ entity.caissescom }}</td>
        </tr>
        <tr>
            <th>Dess_fac_tiroir</th>
            <td>{{ entity.dessfactiroir }}</td>
        </tr>
        <tr>
            <th>De_fac_tir_com</th>
            <td>{{ entity.defactircom }}</td>
        </tr>
        <tr>
            <th>Maqu_rap_pinc</th>
            <td>{{ entity.maqurappinc }}</td>
        </tr>
        <tr>
            <th>Ma_ra_pi_com</th>
            <td>{{ entity.marapicom }}</td>
        </tr>
        <tr>
            <th>Present_maqu</th>
            <td>{{ entity.presentmaqu }}</td>
        </tr>
        <tr>
            <th>Pres_maq_com</th>
            <td>{{ entity.presmaqcom }}</td>
        </tr>
        <tr>
            <th>Edg</th>
            <td>{{ entity.edg }}</td>
        </tr>
        <tr>
            <th>Edg_com</th>
            <td>{{ entity.edgcom }}</td>
        </tr>
        <tr>
            <th>Mobilier_mobani</th>
            <td>{{ entity.mobiliermobani }}</td>
        </tr>
        <tr>
            <th>Mob_ani_com</th>
            <td>{{ entity.mobanicom }}</td>
        </tr>
        <tr>
            <th>Rehau_joue_gond</th>
            <td>{{ entity.rehaujouegond }}</td>
        </tr>
        <tr>
            <th>Reh_jo_go_com</th>
            <td>{{ entity.rehjogocom }}</td>
        </tr>
        <tr>
            <th>Bar_beaut_nail</th>
            <td>{{ entity.barbeautnail }}</td>
        </tr>
        <tr>
            <th>Bar_beaut_com</th>
            <td>{{ entity.barbeautcom }}</td>
        </tr>
        <tr>
            <th>Tab_bain</th>
            <td>{{ entity.tabbain }}</td>
        </tr>
        <tr>
            <th>Tab_bain_com</th>
            <td>{{ entity.tabbaincom }}</td>
        </tr>
        <tr>
            <th>Sol_surf_vente</th>
            <td>{{ entity.solsurfvente }}</td>
        </tr>
        <tr>
            <th>Sol_surf_v_com</th>
            <td>{{ entity.solsurfvcom }}</td>
        </tr>
        <tr>
            <th>Bur_plat_tab_ecr</th>
            <td>{{ entity.burplattabecr }}</td>
        </tr>
        <tr>
            <th>Bur_p_t_com</th>
            <td>{{ entity.burptcom }}</td>
        </tr>
        <tr>
            <th>Corbeilles</th>
            <td>{{ entity.corbeilles }}</td>
        </tr>
        <tr>
            <th>Corb_com</th>
            <td>{{ entity.corbcom }}</td>
        </tr>
        <tr>
            <th>Wc_lav_corb</th>
            <td>{{ entity.wclavcorb }}</td>
        </tr>
        <tr>
            <th>Wc_la_com</th>
            <td>{{ entity.wclacom }}</td>
        </tr>
        <tr>
            <th>Miroirs_sanit</th>
            <td>{{ entity.miroirssanit }}</td>
        </tr>
        <tr>
            <th>Mir_sa_com</th>
            <td>{{ entity.mirsacom }}</td>
        </tr>
        <tr>
            <th>Cuisine_siege</th>
            <td>{{ entity.cuisinesiege }}</td>
        </tr>
        <tr>
            <th>Cuis_sieg_com</th>
            <td>{{ entity.cuissiegcom }}</td>
        </tr>
        <tr>
            <th>Evier_robin</th>
            <td>{{ entity.evierrobin }}</td>
        </tr>
        <tr>
            <th>Evier_ro_com</th>
            <td>{{ entity.evierrocom }}</td>
        </tr>
        <tr>
            <th>Sol_loc_soc</th>
            <td>{{ entity.sollocsoc }}</td>
        </tr>
        <tr>
            <th>Sol_loc_so_com</th>
            <td>{{ entity.sollocsocom }}</td>
        </tr>
        <tr>
            <th>Sol_meca_reno</th>
            <td>{{ entity.solmecareno }}</td>
        </tr>
        <tr>
            <th>Sol_mec_re_com</th>
            <td>{{ entity.solmecrecom }}</td>
        </tr>
        <tr>
            <th>Vitrerie</th>
            <td>{{ entity.vitrerie }}</td>
        </tr>
        <tr>
            <th>Vitreri_com</th>
            <td>{{ entity.vitrericom }}</td>
        </tr>
        <tr>
            <th>Caiss_nail_prof</th>
            <td>{{ entity.caissnailprof }}</td>
        </tr>
        <tr>
            <th>Tour_ver_bout</th>
            <td>{{ entity.tourverbout }}</td>
        </tr>
        <tr>
            <th>Tour_ver_com</th>
            <td>{{ entity.tourvercom }}</td>
        </tr>
        <tr>
            <th>Caiss_nail_com</th>
            <td>{{ entity.caissnailcom }}</td>
        </tr>
        <tr>
            <th>Line_mur</th>
            <td>{{ entity.linemur }}</td>
        </tr>
        <tr>
            <th>Line_mur_com</th>
            <td>{{ entity.linemurcom }}</td>
        </tr>
        <tr>
            <th>Gondole_cent</th>
            <td>{{ entity.gondolecent }}</td>
        </tr>
        <tr>
            <th>Gondole_cent_com</th>
            <td>{{ entity.gondolecentcom }}</td>
        </tr>
        <tr>
            <th>Trait_prio</th>
            <td>{{ entity.traitprio }}</td>
        </tr>
        <tr>
            <th>Poin_mag</th>
            <td>{{ entity.poinmag }}</td>
        </tr>
        <tr>
            <th>Reapro</th>
            <td>{{ entity.reapro }}</td>
        </tr>
        <tr>
            <th>Form_po_agen</th>
            <td>{{ entity.formpoagen }}</td>
        </tr>
        <tr>
            <th>Satis_global</th>
            <td>{{ entity.satisglobal }}</td>
        </tr>