<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Document sans titre</title>
</head>

<body>
<table border="0" height="760" width="1076">
<tr><td>
<div style="position:absolute; top:0; left:0;"><img height="760" width="1076" src="{{ asset('img/bg00001.jpg') }}"/></div>
<div style="position:absolute;top:25.042;left:526.909;">
<span style="font-size:15.708;font-weight:bold;color: #ffffff;">Audit</span>
<span style="font-size:15.708;font-weight:bold;color: #ffffff;">Qualité</span>
<span style="font-size:15.708;font-weight:bold;color: #ffffff;">Interne</span>
</div>
<div style="position:absolute;top:42.531;left:50.763;">
<span style="font-size:12.708;font-weight:bold;">Les</span>
<span style="font-size:12.708;font-weight:bold;">surfaces</span>
<span style="font-size:12.708;font-weight:bold;">horizontales</span>
<span style="font-size:12.708;font-weight:bold;">et</span>
<span style="font-size:12.708;font-weight:bold;">verticales</span>
<span style="font-size:12.708;font-weight:bold;">doivent</span>
<span style="font-size:12.708;font-weight:bold;">être</span>
<span style="font-size:12.708;font-weight:bold;">propres,</span>
<span style="font-size:12.708;font-weight:bold;">dépoussièrées,</span>
<span style="font-size:12.708;font-weight:bold;">sans</span>
<span style="font-size:12.708;font-weight:bold;">traces</span>
<span style="font-size:12.708;font-weight:bold;">et</span>
<span style="font-size:12.708;font-weight:bold;">sans</span>
<span style="font-size:12.708;font-weight:bold;">tâches.</span>
<span style="font-size:12.708;font-weight:bold;">Hors</span>
<span style="font-size:12.708;font-weight:bold;">traces</span>
<span style="font-size:12.708;font-weight:bold;">d'usure.</span>
<span style="font-size:12.708;font-weight:bold;">Poubelles</span>
<span style="font-size:12.708;font-weight:bold;">vide</span>
<span style="font-size:12.708;font-weight:bold;">et</span>
<span style="font-size:12.708;font-weight:bold;">propre.</span>
</div>
<div style="position:absolute;top:77.826;left:115.081;">
<span style="font-size:12.708;font-weight:bold;">Nettoyage</span>
<span style="font-size:12.708;font-weight:bold;">Visuel</span>
<span style="position:absolute;top:77.826;left:219.081;">            </span>
<span style="font-size:12.708;font-weight:bold;">Propre</span>
<span style="position:absolute;top:77.826;left:295.081;">    </span>
<span style="font-size:12.708;font-weight:bold;">Traces</span>
<span style="position:absolute;top:77.826;left:354.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">Poussières</span>
<span style="position:absolute;top:77.826;left:448.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">Tâches</span>
<span style="position:absolute;top:77.826;left:538.081;">     </span>
<span style="font-size:12.708;font-weight:bold;">Usé</span>
<span style="position:absolute;top:77.826;left:600.081;">                </span>
<span style="font-size:12.708;font-weight:bold;">Observations</span>
</div>
<div style="position:absolute;top:96.742;left:44.222;">
<span style="font-size:10.708;">Parvis</span>
<span style="font-size:10.708;">:</span>
<span style="font-size:10.708;">sol,</span>
<span style="font-size:10.708;">Montants,</span>
<span style="font-size:10.708;">Vitres</span>
</div>
<div style="position:absolute;top:96.742;left:352.222;">
<span style="font-size:10.708;">{% if entity.parvissol == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:96.742;left:430.222;">
<span style="font-size:10.708;">{% if entity.parvissol == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:96.742;left:508.222;">
<span style="font-size:10.708;">{% if entity.parvissol == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:96.742;left:586.222;">
<span style="font-size:10.708;">{% if entity.parvissol == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:96.742;left:667.222;">
<span style="font-size:10.708;">{% if entity.parvissol == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:96.742;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:115.742;left:44.222;">
<span style="font-size:10.708;">Tapis</span>
<span style="font-size:10.708;">d'entrée</span>
</div>
<div style="position:absolute;top:115.742;left:352.222;">
<span style="font-size:10.708;">{% if entity.tapisentree == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:115.742;left:430.222;">
<span style="font-size:10.708;">{% if entity.tapisentree == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:115.742;left:508.222;">
<span style="font-size:10.708;">{% if entity.tapisentree == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:115.742;left:586.222;">
<span style="font-size:10.708;">{% if entity.tapisentree == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:115.742;left:667.222;">
<span style="font-size:10.708;">{% if entity.tapisentree == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:115.742;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:133.354;left:44.222;">
<span style="font-size:10.708;">Portes</span>
<span style="font-size:10.708;">vitrées</span>
</div>
<div style="position:absolute;top:133.742;left:352.222;">
<span style="font-size:10.708;">{% if entity.portesvit == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:133.742;left:430.222;">
<span style="font-size:10.708;">{% if entity.portesvit == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:133.742;left:508.222;">
<span style="font-size:10.708;">{% if entity.portesvit == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:133.742;left:586.222;">
<span style="font-size:10.708;">{% if entity.portesvit == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:133.742;left:667.222;">
<span style="font-size:10.708;">{% if entity.portesvit == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:133.742;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:150.160;left:44.222;">
<span style="font-size:10.708;">Bornes</span>
<span style="font-size:10.708;">anti</span>
<span style="font-size:10.708;">vol</span>
</div>
<div style="position:absolute;top:150.742;left:352.222;">
<span style="font-size:10.708;">{% if entity.bornesantivol == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:150.742;left:430.222;">
<span style="font-size:10.708;">{% if entity.bornesantivol == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:150.742;left:508.222;">
<span style="font-size:10.708;">{% if entity.bornesantivol == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:150.742;left:586.222;">
<span style="font-size:10.708;">{% if entity.bornesantivol == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:150.742;left:667.222;">
<span style="font-size:10.708;">{% if entity.bornesantivol == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:150.742;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:167.966;left:44.222;">
<span style="font-size:10.708;">Miroirs,</span>
<span style="font-size:10.708;">Surfaces</span>
<span style="font-size:10.708;">vitrées</span>
</div>
<div style="position:absolute;top:167.966;left:352.222;">
<span style="font-size:10.708;">{% if entity.miroirvit == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:167.966;left:430.222;">
<span style="font-size:10.708;">{% if entity.miroirvit == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:167.966;left:508.222;">
<span style="font-size:10.708;">{% if entity.miroirvit == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:167.966;left:586.222;">
<span style="font-size:10.708;">{% if entity.miroirvit == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:167.966;left:667.222;">
<span style="font-size:10.708;">{% if entity.miroirvit == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:167.966;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:185.772;left:44.222;">
<span style="font-size:10.708;">Portes,</span>
<span style="font-size:10.708;">Montants,</span>
<span style="font-size:10.708;">Piliers</span>
</div>
<div style="position:absolute;top:185.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.portemontpil == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:185.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.portemontpil == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:185.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.portemontpil == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:185.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.portemontpil == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:185.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.portemontpil == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:185.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:205.579;left:44.222;">
<span style="font-size:10.708;">Caisses</span>
</div>
<div style="position:absolute;top:205.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.caisses == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:205.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.caisses == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:205.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.caisses == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:205.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.caisses == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:205.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.caisses == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:205.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:221.726;left:44.222;">
<span style="font-size:10.708;">Dessus</span>
<span style="font-size:10.708;">et</span>
<span style="font-size:10.708;">Façades</span>
<span style="font-size:10.708;">de</span>
<span style="font-size:10.708;">tiroirs</span>
</div>
<div style="position:absolute;top:221.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.dessfactiroir == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:221.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.dessfactiroir == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:221.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.dessfactiroir == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:221.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.dessfactiroir == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:221.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.dessfactiroir == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:221.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:239.532;left:44.222;">
<span style="font-size:10.708;">Maquillage</span>
<span style="font-size:10.708;">Sephora</span>
<span style="font-size:10.708;">rapide</span>
<span style="font-size:10.708;">(pinceau)</span>
</div>
<div style="position:absolute;top:239.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.maqurappinc == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:239.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.maqurappinc == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:239.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.maqurappinc == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:239.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.maqurappinc == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:239.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.maqurappinc == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:239.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:257.338;left:44.222;">
<span style="font-size:10.708;">Présentoirs</span>
<span style="font-size:10.708;">maquillage</span>
</div>
<div style="position:absolute;top:257.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.presentmaqu == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:257.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.presentmaqu == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:257.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.presentmaqu == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:257.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.presentmaqu == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:257.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.presentmaqu == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:257.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:277.144;left:44.222;">
<span style="font-size:10.708;">EDG</span>
</div>
<div style="position:absolute;top:277.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.edg == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:277.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.edg == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:277.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.edg == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:277.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.edg == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:277.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.edg == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:277.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:291.950;left:44.222;">
<span style="font-size:10.708;">Mobiliers</span>
<span style="font-size:10.708;">mobiles</span>
<span style="font-size:10.708;">animations,</span>
<span style="font-size:10.708;">Meubles</span>
<span style="font-size:10.708;">Alu</span>
</div>
<div style="position:absolute;top:292.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.mobiliermobani == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:292.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.mobiliermobani == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:292.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.mobiliermobani == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:292.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.mobiliermobani == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:292.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.mobiliermobani == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:292.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:309.756;left:44.222;">
<span style="font-size:10.708;">Rehausses</span>
<span style="font-size:10.708;">et</span>
<span style="font-size:10.708;">Joues</span>
<span style="font-size:10.708;">de</span>
<span style="font-size:10.708;">gondoles</span>
</div>
<div style="position:absolute;top:309.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.rehaujouegond == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:309.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.rehaujouegond == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:309.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.rehaujouegond == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:309.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.rehaujouegond == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:309.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.rehaujouegond == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:309.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:326.562;left:44.222;">
<span style="font-size:10.708;">Bar</span>
<span style="font-size:10.708;">à</span>
<span style="font-size:10.708;">beauté</span>
<span style="font-size:10.708;">(MUS),</span>
<span style="font-size:10.708;">Nail</span>
<span style="font-size:10.708;">bar,</span>
<span style="font-size:10.708;">Sièges</span>
</div>
<div style="position:absolute;top:327.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.barbeautnail == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:327.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.barbeautnail == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:327.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.barbeautnail == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:327.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.barbeautnail == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:327.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.barbeautnail == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:327.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:344.368;left:44.222;">
<span style="font-size:10.708;">Tablettes</span>
<span style="font-size:10.708;">bain</span>
<span style="font-size:10.708;">Sephora</span>
</div>
<div style="position:absolute;top:345.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.tabbain == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:345.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.tabbain == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:345.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.tabbain == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:345.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.tabbain == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:345.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.tabbain == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:345.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:362.826;left:115.081;">
<span style="font-size:12.708;font-weight:bold;">Nettoyage</span>
<span style="font-size:12.708;font-weight:bold;">Récurent</span>
<span style="position:absolute;top:362.826;left:219.081;">            </span>
<span style="font-size:12.708;font-weight:bold;">Propre</span>
<span style="position:absolute;top:362.826;left:295.081;">    </span>
<span style="font-size:12.708;font-weight:bold;">Traces</span>
<span style="position:absolute;top:362.826;left:354.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">Poussières</span>
<span style="position:absolute;top:362.826;left:448.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">Tâches</span>
<span style="position:absolute;top:362.826;left:538.081;">     </span>
<span style="font-size:12.708;font-weight:bold;">Usé</span>
<span style="position:absolute;top:362.826;left:600.081;">                </span>
<span style="font-size:12.708;font-weight:bold;">Observations</span>
</div>
<div style="position:absolute;top:380.980;left:44.222;">
<span style="font-size:10.708;">Sol</span>
<span style="font-size:10.708;">surface</span>
<span style="font-size:10.708;">de</span>
<span style="font-size:10.708;">vente,</span>
<span style="font-size:10.708;">tapis</span>
</div>
<div style="position:absolute;top:381.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.solsurfvente == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:381.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.solsurfvente == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:381.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.solsurfvente == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:381.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.solsurfvente == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:381.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.solsurfvente == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:381.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:398.786;left:44.222;">
<span style="font-size:10.708;">Bureaux,</span>
<span style="font-size:10.708;">Plateaux,</span>
<span style="font-size:10.708;">Tables,</span>
<span style="font-size:10.708;">Ecrans</span>
</div>
<div style="position:absolute;top:399.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.burplattabecr == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:399.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.burplattabecr == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:399.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.burplattabecr == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:399.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.burplattabecr == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:399.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.burplattabecr == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:399.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:417.592;left:44.222;">
<span style="font-size:10.708;">Corbeilles</span>
</div>
<div style="position:absolute;top:417.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.corbeilles == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:417.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.corbeilles == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:417.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.corbeilles == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:417.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.corbeilles == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:417.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.corbeilles == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:417.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:434.398;left:44.222;">
<span style="font-size:10.708;">WC,</span>
<span style="font-size:10.708;">Lavabo,</span>
<span style="font-size:10.708;">Corbeilles</span>
</div>
<div style="position:absolute;top:435.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.wclavcorb == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:435.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.wclavcorb == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:435.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.wclavcorb == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:435.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.wclavcorb == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:435.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.wclavcorb == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:435.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:452.204;left:44.222;">
<span style="font-size:10.708;">Miroirs</span>
<span style="font-size:10.708;">sanitaire</span>
</div>
<div style="position:absolute;top:452.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.miroirssanit == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:452.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.miroirssanit == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:452.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.miroirssanit == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:452.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.miroirssanit == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:452.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.miroirssanit == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:452.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:470.010;left:44.222;">
<span style="font-size:10.708;">Cuisine,</span>
<span style="font-size:10.708;">Plan</span>
<span style="font-size:10.708;">de</span>
<span style="font-size:10.708;">travail,</span>
<span style="font-size:10.708;">Siège</span>
</div>
<div style="position:absolute;top:471.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.cuisinesiege == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:471.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.cuisinesiege == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:471.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.cuisinesiege == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:471.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.cuisinesiege == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:471.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.cuisinesiege == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:471.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:488.816;left:44.222;">
<span style="font-size:10.708;">Evier</span>
<span style="font-size:10.708;">et</span>
<span style="font-size:10.708;">robinetterie</span>
</div>
<div style="position:absolute;top:488.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.evierrobin == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:488.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.evierrobin == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:488.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.evierrobin == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:488.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.evierrobin == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:488.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.evierrobin == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:488.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:505.622;left:44.222;">
<span style="font-size:10.708;">Sol</span>
<span style="font-size:10.708;">locaux</span>
<span style="font-size:10.708;">sociaux</span>
</div>
<div style="position:absolute;top:505.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.sollocsoc == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:505.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.sollocsoc == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:505.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.sollocsoc == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:505.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.sollocsoc == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:505.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.sollocsoc == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:505.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:523.826;left:115.081;">
<span style="font-size:12.708;font-weight:bold;">Nettoyage</span>
<span style="font-size:12.708;font-weight:bold;">de</span>
<span style="font-size:12.708;font-weight:bold;">fond</span>
<span style="position:absolute;top:523.826;left:219.081;">            </span>
<span style="font-size:12.708;font-weight:bold;">Propre</span>
<span style="position:absolute;top:523.826;left:295.081;">    </span>
<span style="font-size:12.708;font-weight:bold;">Traces</span>
<span style="position:absolute;top:523.826;left:354.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">Poussières</span>
<span style="position:absolute;top:523.826;left:448.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">Tâches</span>
<span style="position:absolute;top:523.826;left:538.081;">     </span>
<span style="font-size:12.708;font-weight:bold;">Usé</span>
<span style="position:absolute;top:523.826;left:600.081;">                </span>
<span style="font-size:12.708;font-weight:bold;">Observations</span>
</div>
<div style="position:absolute;top:541.235;left:44.222;">
<span style="font-size:10.708;">Sol</span>
<span style="font-size:10.708;">Mécanisé,</span>
<span style="font-size:10.708;">Rénovation</span>
</div>
<div style="position:absolute;top:541.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.solmecareno == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:541.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.solmecareno == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:541.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.solmecareno == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:541.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.solmecareno == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:541.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.solmecareno == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:541.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:560.041;left:44.222;">
<span style="font-size:10.708;">Vitrerie</span>
</div>
<div style="position:absolute;top:560.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.vitrerie == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:560.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.vitrerie == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:560.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.vitrerie == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:560.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.vitrerie == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:560.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.vitrerie == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:560.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:577.847;left:44.222;">
<span style="font-size:10.708;">Caisses,</span>
<span style="font-size:10.708;">Nail</span>
<span style="font-size:10.708;">Bar</span>
</div>
<div style="position:absolute;top:577.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.caissnailprof == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:577.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.caissnailprof == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:577.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.caissnailprof == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:577.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.caissnailprof == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:577.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.caissnailprof == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:577.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:595.653;left:44.222;">
<span style="font-size:10.708;">Tour</span>
<span style="font-size:10.708;">express,</span>
<span style="font-size:10.708;">Tour</span>
<span style="font-size:10.708;">en</span>
<span style="font-size:10.708;">verre,</span>
<span style="font-size:10.708;">Boutiquette</span>
</div>
<div style="position:absolute;top:595.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.tourverbout == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:595.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.tourverbout == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:595.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.tourverbout == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:595.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.tourverbout == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:595.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.tourverbout == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:595.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:613.459;left:44.222;">
<span style="font-size:10.708;">Linéaires</span>
<span style="font-size:10.708;">muraux</span>
</div>
<div style="position:absolute;top:613.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.linemur == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:613.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.linemur == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:613.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.linemur == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:613.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.linemur == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:613.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.linemur == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:613.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
<div style="position:absolute;top:631.265;left:44.222;">
<span style="font-size:10.708;">Gondoles</span>
<span style="font-size:10.708;">centrale</span>
</div>
<div style="position:absolute;top:631.772;left:352.222;">
<span style="font-size:10.708;">{% if entity.gondolecent == "Propre" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:631.772;left:430.222;">
<span style="font-size:10.708;">{% if entity.gondolecent == "Traces" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:631.772;left:508.222;">
<span style="font-size:10.708;">{% if entity.gondolecent == "Poussières" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:631.772;left:586.222;">
<span style="font-size:10.708;">{% if entity.gondolecent == "Tâches" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:631.772;left:667.222;">
<span style="font-size:10.708;">{% if entity.gondolecent == "Usé" %}X{% else %} {% endif %}</span>
</div>
<div style="position:absolute;top:631.772;left:720.222;">
<span style="font-size:10.708;">Observations</span>
</div>
</td></tr>
</table>
</body>
</html>
