{% extends '::base.html.twig' %}
{% block title %}
Altea Nomade - Gestion d'actions Responsables de secteurs
{% endblock %}
{% block body %}
<table border="0" height="760" width="1076">
<tr><td>
<div style="position:absolute; top:0; left:0;"><img height="760" width="1076" src="img/bg00001.jpg"/></div>
<div style="position:absolute;top:25.042;left:526.909;">
<span style="font-size:15.708;font-weight:bold;color: #ffffff;">Audit</span>
<span style="font-size:15.708;font-weight:bold;color: #ffffff;">Qualité</span>
<span style="font-size:15.708;font-weight:bold;color: #ffffff;">Interne</span>
</div>
<div style="position:absolute;top:42.531;left:50.763;">
<span style="font-size:12.708;font-weight:bold;">Les</span>
<span style="font-size:12.708;font-weight:bold;">surfaces</span>
<span style="font-size:12.708;font-weight:bold;">horizontales</span>
<span style="font-size:12.708;font-weight:bold;">et</span>
<span style="font-size:12.708;font-weight:bold;">verticales</span>
<span style="font-size:12.708;font-weight:bold;">doivent</span>
<span style="font-size:12.708;font-weight:bold;">être</span>
<span style="font-size:12.708;font-weight:bold;">propres,</span>
<span style="font-size:12.708;font-weight:bold;">dépoussièrées,</span>
<span style="font-size:12.708;font-weight:bold;">sans</span>
<span style="font-size:12.708;font-weight:bold;">traces</span>
<span style="font-size:12.708;font-weight:bold;">et</span>
<span style="font-size:12.708;font-weight:bold;">sans</span>
<span style="font-size:12.708;font-weight:bold;">tâches.</span>
<span style="font-size:12.708;font-weight:bold;">Hors</span>
<span style="font-size:12.708;font-weight:bold;">traces</span>
<span style="font-size:12.708;font-weight:bold;">d'usure.</span>
<span style="font-size:12.708;font-weight:bold;">Poubelles</span>
<span style="font-size:12.708;font-weight:bold;">vide</span>
<span style="font-size:12.708;font-weight:bold;">et</span>
<span style="font-size:12.708;font-weight:bold;">propre.</span>
</div>
<div style="position:absolute;top:77.826;left:115.081;">
<span style="font-size:12.708;font-weight:bold;">Nettoyage</span>
<span style="font-size:12.708;font-weight:bold;">Visuel</span>
<span style="position:absolute;top:77.826;left:219.081;">            </span>
<span style="font-size:12.708;font-weight:bold;">Propre</span>
<span style="position:absolute;top:77.826;left:295.081;">    </span>
<span style="font-size:12.708;font-weight:bold;">Traces</span>
<span style="position:absolute;top:77.826;left:354.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">Poussières</span>
<span style="position:absolute;top:77.826;left:448.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">Tâches</span>
<span style="position:absolute;top:77.826;left:538.081;">     </span>
<span style="font-size:12.708;font-weight:bold;">Usé</span>
<span style="position:absolute;top:77.826;left:600.081;">                </span>
<span style="font-size:12.708;font-weight:bold;">Observations: {% if entity.parvissolcom %}{{ entity.parvissolcom }}{% endif %}</span>
</div>
<div style="position:absolute;top:96.742;left:44.222;">
<span style="font-size:10.708;">Parvis</span>
<span style="font-size:10.708;">:</span>
<span style="font-size:10.708;">sol,</span>
<span style="font-size:10.708;">Montants,</span>
<span style="font-size:10.708;">Vitres</span>
</div>
<div style="position:absolute;top:96.742;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.parvissol[i] is defined %}{% if entity.parvissol[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:96.742;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.parvissol[i] is defined %}{% if entity.parvissol[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:96.742;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.parvissol[i] is defined %}{% if entity.parvissol[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:96.742;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.parvissol[i] is defined %}{% if entity.parvissol[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:96.742;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.parvissol[i] is defined %}{% if entity.parvissol[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:96.742;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:115.742;left:44.222;">
<span style="font-size:10.708;">Tapis</span>
<span style="font-size:10.708;">d'entrée</span>
</div>
<div style="position:absolute;top:115.742;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tapisentree[i] is defined %}{% if entity.tapisentree[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:115.742;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tapisentree[i] is defined %}{% if entity.tapisentree[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:115.742;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tapisentree[i] is defined %}{% if entity.tapisentree[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:115.742;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tapisentree[i] is defined %}{% if entity.tapisentree[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:115.742;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tapisentree[i] is defined %}{% if entity.tapisentree[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:115.742;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:133.354;left:44.222;">
<span style="font-size:10.708;">Portes</span>
<span style="font-size:10.708;">vitrées</span>
</div>
<div style="position:absolute;top:133.742;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portesvit[i] is defined %}{% if entity.portesvit[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:133.742;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portesvit[i] is defined %}{% if entity.portesvit[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:133.742;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portesvit[i] is defined %}{% if entity.portesvit[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:133.742;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portesvit[i] is defined %}{% if entity.portesvit[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:133.742;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portesvit[i] is defined %}{% if entity.portesvit[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:133.742;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:150.160;left:44.222;">
<span style="font-size:10.708;">Bornes</span>
<span style="font-size:10.708;">anti</span>
<span style="font-size:10.708;">vol</span>
</div>
<div style="position:absolute;top:150.742;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.bornesantivol[i] is defined %}{% if entity.bornesantivol[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:150.742;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.bornesantivol[i] is defined %}{% if entity.bornesantivol[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:150.742;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.bornesantivol[i] is defined %}{% if entity.bornesantivol[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:150.742;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.bornesantivol[i] is defined %}{% if entity.bornesantivol[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:150.742;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.bornesantivol[i] is defined %}{% if entity.bornesantivol[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:150.742;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:167.966;left:44.222;">
<span style="font-size:10.708;">Miroirs,</span>
<span style="font-size:10.708;">Surfaces</span>
<span style="font-size:10.708;">vitrées</span>
</div>
<div style="position:absolute;top:167.966;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirvit[i] is defined %}{% if entity.miroirvit[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:167.966;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirvit[i] is defined %}{% if entity.miroirvit[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:167.966;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirvit[i] is defined %}{% if entity.miroirvit[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:167.966;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirvit[i] is defined %}{% if entity.miroirvit[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:167.966;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirvit[i] is defined %}{% if entity.miroirvit[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:167.966;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:185.772;left:44.222;">
<span style="font-size:10.708;">Portes,</span>
<span style="font-size:10.708;">Montants,</span>
<span style="font-size:10.708;">Piliers</span>
</div>
<div style="position:absolute;top:185.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portemontpil[i] is defined %}{% if entity.portemontpil[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:185.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portemontpil[i] is defined %}{% if entity.portemontpil[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:185.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portemontpil[i] is defined %}{% if entity.portemontpil[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:185.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portemontpil[i] is defined %}{% if entity.portemontpil[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:185.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.portemontpil[i] is defined %}{% if entity.portemontpil[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:185.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:205.579;left:44.222;">
<span style="font-size:10.708;">Caisses</span>
</div>
<div style="position:absolute;top:205.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caisses[i] is defined %}{% if entity.caisses[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:205.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caisses[i] is defined %}{% if entity.caisses[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:205.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caisses[i] is defined %}{% if entity.caisses[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:205.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caisses[i] is defined %}{% if entity.caisses[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:205.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caisses[i] is defined %}{% if entity.caisses[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:205.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:221.726;left:44.222;">
<span style="font-size:10.708;">Dessus</span>
<span style="font-size:10.708;">et</span>
<span style="font-size:10.708;">Façades</span>
<span style="font-size:10.708;">de</span>
<span style="font-size:10.708;">tiroirs</span>
</div>
<div style="position:absolute;top:221.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.dessfactiroir[i] is defined %}{% if entity.dessfactiroir[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:221.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.dessfactiroir[i] is defined %}{% if entity.dessfactiroir[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:221.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.dessfactiroir[i] is defined %}{% if entity.dessfactiroir[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:221.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.dessfactiroir[i] is defined %}{% if entity.dessfactiroir[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:221.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.dessfactiroir[i] is defined %}{% if entity.dessfactiroir[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:221.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:239.532;left:44.222;">
<span style="font-size:10.708;">Maquillage</span>
<span style="font-size:10.708;">Sephora</span>
<span style="font-size:10.708;">rapide</span>
<span style="font-size:10.708;">(pinceau)</span>
</div>
<div style="position:absolute;top:239.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.maqurappinc[i] is defined %}{% if entity.maqurappinc[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:239.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.maqurappinc[i] is defined %}{% if entity.maqurappinc[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:239.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.maqurappinc[i] is defined %}{% if entity.maqurappinc[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:239.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.maqurappinc[i] is defined %}{% if entity.maqurappinc[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:239.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.maqurappinc[i] is defined %}{% if entity.maqurappinc[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:239.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:257.338;left:44.222;">
<span style="font-size:10.708;">Présentoirs</span>
<span style="font-size:10.708;">maquillage</span>
</div>
<div style="position:absolute;top:257.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.presentmaqu[i] is defined %}{% if entity.presentmaqu[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:257.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.presentmaqu[i] is defined %}{% if entity.presentmaqu[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:257.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.presentmaqu[i] is defined %}{% if entity.presentmaqu[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:257.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.presentmaqu[i] is defined %}{% if entity.presentmaqu[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:257.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.presentmaqu[i] is defined %}{% if entity.presentmaqu[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:257.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:277.144;left:44.222;">
<span style="font-size:10.708;">EDG</span>
</div>
<div style="position:absolute;top:277.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.edg[i] is defined %}{% if entity.edg[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:277.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.edg[i] is defined %}{% if entity.edg[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:277.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.edg[i] is defined %}{% if entity.edg[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:277.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.edg[i] is defined %}{% if entity.edg[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:277.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.edg[i] is defined %}{% if entity.edg[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:277.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:291.950;left:44.222;">
<span style="font-size:10.708;">Mobiliers</span>
<span style="font-size:10.708;">mobiles</span>
<span style="font-size:10.708;">animations,</span>
<span style="font-size:10.708;">Meubles</span>
<span style="font-size:10.708;">Alu</span>
</div>
<div style="position:absolute;top:292.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.mobiliermobani[i] is defined %}{% if entity.mobiliermobani[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:292.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.mobiliermobani[i] is defined %}{% if entity.mobiliermobani[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:292.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.mobiliermobani[i] is defined %}{% if entity.mobiliermobani[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:292.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.mobiliermobani[i] is defined %}{% if entity.mobiliermobani[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:292.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.mobiliermobani[i] is defined %}{% if entity.mobiliermobani[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:292.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:309.756;left:44.222;">
<span style="font-size:10.708;">Rehausses</span>
<span style="font-size:10.708;">et</span>
<span style="font-size:10.708;">Joues</span>
<span style="font-size:10.708;">de</span>
<span style="font-size:10.708;">gondoles</span>
</div>
<div style="position:absolute;top:309.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.rehaujouegond[i] is defined %}{% if entity.rehaujouegond[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:309.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.rehaujouegond[i] is defined %}{% if entity.rehaujouegond[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:309.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.rehaujouegond[i] is defined %}{% if entity.rehaujouegond[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:309.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.rehaujouegond[i] is defined %}{% if entity.rehaujouegond[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:309.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.rehaujouegond[i] is defined %}{% if entity.rehaujouegond[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:309.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:326.562;left:44.222;">
<span style="font-size:10.708;">Bar</span>
<span style="font-size:10.708;">à</span>
<span style="font-size:10.708;">beauté</span>
<span style="font-size:10.708;">(MUS),</span>
<span style="font-size:10.708;">Nail</span>
<span style="font-size:10.708;">bar,</span>
<span style="font-size:10.708;">Sièges</span>
</div>
<div style="position:absolute;top:327.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.barbeautnail[i] is defined %}{% if entity.barbeautnail[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:327.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.barbeautnail[i] is defined %}{% if entity.barbeautnail[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:327.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.barbeautnail[i] is defined %}{% if entity.barbeautnail[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:327.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.barbeautnail[i] is defined %}{% if entity.barbeautnail[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:327.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.barbeautnail[i] is defined %}{% if entity.barbeautnail[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:327.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:344.368;left:44.222;">
<span style="font-size:10.708;">Tablettes</span>
<span style="font-size:10.708;">bain</span>
<span style="font-size:10.708;">Sephora</span>
</div>
<div style="position:absolute;top:345.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tabbain[i] is defined %}{% if entity.tabbain[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:345.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tabbain[i] is defined %}{% if entity.tabbain[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:345.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tabbain[i] is defined %}{% if entity.tabbain[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:345.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tabbain[i] is defined %}{% if entity.tabbain[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:345.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tabbain[i] is defined %}{% if entity.tabbain[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:345.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:362.826;left:115.081;">
<span style="font-size:12.708;font-weight:bold;">Nettoyage</span>
<span style="font-size:12.708;font-weight:bold;">Récurent</span>
<span style="position:absolute;top:362.826;left:219.081;">            </span>
<span style="font-size:12.708;font-weight:bold;">Propre</span>
<span style="position:absolute;top:362.826;left:295.081;">    </span>
<span style="font-size:12.708;font-weight:bold;">Traces</span>
<span style="position:absolute;top:362.826;left:354.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">Poussières</span>
<span style="position:absolute;top:362.826;left:448.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">Tâches</span>
<span style="position:absolute;top:362.826;left:538.081;">     </span>
<span style="font-size:12.708;font-weight:bold;">Usé</span>
<span style="position:absolute;top:362.826;left:600.081;">                </span>
<span style="font-size:12.708;font-weight:bold;">Observations: {% if entity.solSurfVCom %}{{ entity.solSurfVCom }}{% endif %}</span>
</div>
<div style="position:absolute;top:380.980;left:44.222;">
<span style="font-size:10.708;">Sol</span>
<span style="font-size:10.708;">surface</span>
<span style="font-size:10.708;">de</span>
<span style="font-size:10.708;">vente,</span>
<span style="font-size:10.708;">tapis</span>
</div>
<div style="position:absolute;top:381.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solsurfvente[i] is defined %}{% if entity.solsurfvente[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:381.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solsurfvente[i] is defined %}{% if entity.solsurfvente[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:381.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solsurfvente[i] is defined %}{% if entity.solsurfvente[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:381.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solsurfvente[i] is defined %}{% if entity.solsurfvente[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:381.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solsurfvente[i] is defined %}{% if entity.solsurfvente[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:381.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:398.786;left:44.222;">
<span style="font-size:10.708;">Bureaux,</span>
<span style="font-size:10.708;">Plateaux,</span>
<span style="font-size:10.708;">Tables,</span>
<span style="font-size:10.708;">Ecrans</span>
</div>
<div style="position:absolute;top:399.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.burplattabecr[i] is defined %}{% if entity.burplattabecr[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:399.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.burplattabecr[i] is defined %}{% if entity.burplattabecr[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:399.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.burplattabecr[i] is defined %}{% if entity.burplattabecr[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:399.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.burplattabecr[i] is defined %}{% if entity.burplattabecr[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:399.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.burplattabecr[i] is defined %}{% if entity.burplattabecr[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:399.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:417.592;left:44.222;">
<span style="font-size:10.708;">Corbeilles</span>
</div>
<div style="position:absolute;top:417.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.corbeilles[i] is defined %}{% if entity.corbeilles[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:417.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.corbeilles[i] is defined %}{% if entity.corbeilles[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:417.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.corbeilles[i] is defined %}{% if entity.corbeilles[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:417.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.corbeilles[i] is defined %}{% if entity.corbeilles[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:417.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.corbeilles[i] is defined %}{% if entity.corbeilles[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:417.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:434.398;left:44.222;">
<span style="font-size:10.708;">WC,</span>
<span style="font-size:10.708;">Lavabo,</span>
<span style="font-size:10.708;">Corbeilles</span>
</div>
<div style="position:absolute;top:435.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.wclavcorb[i] is defined %}{% if entity.wclavcorb[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:435.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.wclavcorb[i] is defined %}{% if entity.wclavcorb[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:435.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.wclavcorb[i] is defined %}{% if entity.wclavcorb[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:435.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.wclavcorb[i] is defined %}{% if entity.wclavcorb[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:435.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.wclavcorb[i] is defined %}{% if entity.wclavcorb[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:435.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:452.204;left:44.222;">
<span style="font-size:10.708;">Miroirs</span>
<span style="font-size:10.708;">sanitaire</span>
</div>
<div style="position:absolute;top:452.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirssanit[i] is defined %}{% if entity.miroirssanit[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:452.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirssanit[i] is defined %}{% if entity.miroirssanit[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:452.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirssanit[i] is defined %}{% if entity.miroirssanit[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:452.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirssanit[i] is defined %}{% if entity.miroirssanit[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:452.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.miroirssanit[i] is defined %}{% if entity.miroirssanit[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:452.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:470.010;left:44.222;">
<span style="font-size:10.708;">Cuisine,</span>
<span style="font-size:10.708;">Plan</span>
<span style="font-size:10.708;">de</span>
<span style="font-size:10.708;">travail,</span>
<span style="font-size:10.708;">Siège</span>
</div>
<div style="position:absolute;top:471.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.cuisinesiege[i] is defined %}{% if entity.cuisinesiege[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:471.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.cuisinesiege[i] is defined %}{% if entity.cuisinesiege[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:471.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.cuisinesiege[i] is defined %}{% if entity.cuisinesiege[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:471.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.cuisinesiege[i] is defined %}{% if entity.cuisinesiege[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:471.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.cuisinesiege[i] is defined %}{% if entity.cuisinesiege[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:471.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:488.816;left:44.222;">
<span style="font-size:10.708;">Evier</span>
<span style="font-size:10.708;">et</span>
<span style="font-size:10.708;">robinetterie</span>
</div>
<div style="position:absolute;top:488.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.evierrobin[i] is defined %}{% if entity.evierrobin[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:488.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.evierrobin[i] is defined %}{% if entity.evierrobin[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:488.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.evierrobin[i] is defined %}{% if entity.evierrobin[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:488.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.evierrobin[i] is defined %}{% if entity.evierrobin[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:488.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.evierrobin[i] is defined %}{% if entity.evierrobin[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:488.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:505.622;left:44.222;">
<span style="font-size:10.708;">Sol</span>
<span style="font-size:10.708;">locaux</span>
<span style="font-size:10.708;">sociaux</span>
</div>
<div style="position:absolute;top:505.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.sollocsoc[i] is defined %}{% if entity.sollocsoc[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:505.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.sollocsoc[i] is defined %}{% if entity.sollocsoc[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:505.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.sollocsoc[i] is defined %}{% if entity.sollocsoc[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:505.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.sollocsoc[i] is defined %}{% if entity.sollocsoc[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:505.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.sollocsoc[i] is defined %}{% if entity.sollocsoc[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:505.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:523.826;left:115.081;">
<span style="font-size:12.708;font-weight:bold;">Nettoyage</span>
<span style="font-size:12.708;font-weight:bold;">de</span>
<span style="font-size:12.708;font-weight:bold;">fond</span>
<span style="position:absolute;top:523.826;left:219.081;">            </span>
<span style="font-size:12.708;font-weight:bold;">Propre</span>
<span style="position:absolute;top:523.826;left:295.081;">    </span>
<span style="font-size:12.708;font-weight:bold;">Traces</span>
<span style="position:absolute;top:523.826;left:354.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">Poussières</span>
<span style="position:absolute;top:523.826;left:448.081;">   </span>
<span style="font-size:12.708;font-weight:bold;">Tâches</span>
<span style="position:absolute;top:523.826;left:538.081;">     </span>
<span style="font-size:12.708;font-weight:bold;">Usé</span>
<span style="position:absolute;top:523.826;left:600.081;">                </span>
<span style="font-size:12.708;font-weight:bold;">Observations: {% if entity.solMecReCom %}{{ entity.solMecReCom }}{% endif %}</span>
</div>
<div style="position:absolute;top:541.235;left:44.222;">
<span style="font-size:10.708;">Sol</span>
<span style="font-size:10.708;">Mécanisé,</span>
<span style="font-size:10.708;">Rénovation</span>
</div>
<div style="position:absolute;top:541.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solmecareno[i] is defined %}{% if entity.solmecareno[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:541.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solmecareno[i] is defined %}{% if entity.solmecareno[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:541.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solmecareno[i] is defined %}{% if entity.solmecareno[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:541.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solmecareno[i] is defined %}{% if entity.solmecareno[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:541.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.solmecareno[i] is defined %}{% if entity.solmecareno[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:541.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:560.041;left:44.222;">
<span style="font-size:10.708;">Vitrerie</span>
</div>
<div style="position:absolute;top:560.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.vitrerie[i] is defined %}{% if entity.vitrerie[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:560.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.vitrerie[i] is defined %}{% if entity.vitrerie[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:560.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.vitrerie[i] is defined %}{% if entity.vitrerie[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:560.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.vitrerie[i] is defined %}{% if entity.vitrerie[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:560.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.vitrerie[i] is defined %}{% if entity.vitrerie[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:560.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:577.847;left:44.222;">
<span style="font-size:10.708;">Caisses,</span>
<span style="font-size:10.708;">Nail</span>
<span style="font-size:10.708;">Bar</span>
</div>
<div style="position:absolute;top:577.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caissnailprof[i] is defined %}{% if entity.caissnailprof[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:577.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caissnailprof[i] is defined %}{% if entity.caissnailprof[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:577.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caissnailprof[i] is defined %}{% if entity.caissnailprof[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:577.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caissnailprof[i] is defined %}{% if entity.caissnailprof[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:577.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.caissnailprof[i] is defined %}{% if entity.caissnailprof[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:577.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:595.653;left:44.222;">
<span style="font-size:10.708;">Tour</span>
<span style="font-size:10.708;">express,</span>
<span style="font-size:10.708;">Tour</span>
<span style="font-size:10.708;">en</span>
<span style="font-size:10.708;">verre,</span>
<span style="font-size:10.708;">Boutiquette</span>
</div>
<div style="position:absolute;top:595.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tourverbout[i] is defined %}{% if entity.tourverbout[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:595.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tourverbout[i] is defined %}{% if entity.tourverbout[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:595.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tourverbout[i] is defined %}{% if entity.tourverbout[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:595.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tourverbout[i] is defined %}{% if entity.tourverbout[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:595.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.tourverbout[i] is defined %}{% if entity.tourverbout[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:595.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:613.459;left:44.222;">
<span style="font-size:10.708;">Linéaires</span>
<span style="font-size:10.708;">muraux</span>
</div>
<div style="position:absolute;top:613.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.linemur[i] is defined %}{% if entity.linemur[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:613.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.linemur[i] is defined %}{% if entity.linemur[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:613.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.linemur[i] is defined %}{% if entity.linemur[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:613.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.linemur[i] is defined %}{% if entity.linemur[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:613.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.linemur[i] is defined %}{% if entity.linemur[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:613.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:631.265;left:44.222;">
<span style="font-size:10.708;">Gondoles</span>
<span style="font-size:10.708;">centrale</span>
</div>
<div style="position:absolute;top:631.772;left:352.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.gondolecent[i] is defined %}{% if entity.gondolecent[i] == "Propre" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:631.772;left:430.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.gondolecent[i] is defined %}{% if entity.gondolecent[i] == "Traces" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:631.772;left:508.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.gondolecent[i] is defined %}{% if entity.gondolecent[i] == "Poussières" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:631.772;left:586.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.gondolecent[i] is defined %}{% if entity.gondolecent[i] == "Tâches" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:631.772;left:667.222;">
<span style="font-size:10.708;">{% for i in 0..4 %}{% if entity.gondolecent[i] is defined %}{% if entity.gondolecent[i] == "Usé" %}X{% else %} {% endif %}{% endif %}{% endfor %}</span>
</div>
<div style="position:absolute;top:631.772;left:720.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:647.265;left:44.222;">
<span style="font-size:10.708;font-weight:bold;">Site: {{ app.session.get('nomGC') }} - {{ idlieuxaudit }}</span>
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:647.265;left:260.222;">
<span style="font-size:10.708;font-weight:bold;">Ville: {{ nomville }} - {{ adruelieux }}</span>
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:647.265;left:576.222;">
<span style="font-size:10.708;font-weight:bold;">Date: {{ datemaj }}</span>
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:647.265;left:800.222;">
<span style="font-size:10.708;font-weight:bold;color:red;">TRAITEMENT PRIORITAIRE:</span>
</div>
<div style="position:absolute;top:647.265;left:980.222;">
<span style="font-size:10.708;">{% if entity.traitPrio == 1 %}X{% endif %}</span>
</div>
<div style="position:absolute;top:663.265;left:44.222;">
<span style="font-size:10.708;">Nom et signature chargé de secteur:</span>
<span style="font-size:10.708;">{{ entity.nomsignaltea }}</span>
</div>
<div style="position:absolute;top:679.265;left:44.222;">
<span style="font-size:10.708;"><img src="imgsign/audit/{{ entity.imgsignaltea }}" height="82" width="126"></span>
</div>
<div style="position:absolute;top:663.265;left:418.222;">
<span style="font-size:10.708;">Nom et signature {{ app.session.get('nomGC') }}:</span>
<span style="font-size:10.708;">{{ entity.nomsignclient }}</span>
</div>
<div style="position:absolute;top:679.265;left:418.222;">
<span style="font-size:10.708;"><img src="imgsign/audit/{{ entity.imgsignclient }}" height="82" width="126"></span>
</div>
<div style="position:absolute;top:667.265;left:742.222;">
<span style="font-size:10.708;">{% if entity.poinMag == 1 %}X{% endif %}</span>
</div>
<div style="position:absolute;top:667.265;left:760.222;">
<span style="font-size:10.708;">Points avec le magasin</span>
</div>
<div style="position:absolute;top:685.265;left:742.222;">
<span style="font-size:10.708;">{% if entity.reapro == 1 %}X{% endif %}</span>
</div>
<div style="position:absolute;top:685.265;left:760.222;">
<span style="font-size:10.708;">Réapprovisionnement</span>
</div>
<div style="position:absolute;top:703.265;left:742.222;">
<span style="font-size:10.708;">{% if entity.formPoAgen == 1 %}X{% endif %}</span>
</div>
<div style="position:absolute;top:703.265;left:760.222;">
<span style="font-size:10.708;">Formation (ou point) avec les agents</span>
</div>
<div style="position:absolute;top:721.265;left:722.222;">
<span style="font-size:10.708;">Satisfaction global client:</span>
</div>
<div style="position:absolute;top:721.265;left:886.222;">
<span style="font-size:10.708;">Bonne:</span>
</div>
<div style="position:absolute;top:721.265;left:928.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:721.265;left:956.222;">
<span style="font-size:10.708;">Mauvaise:</span>
</div>
<div style="position:absolute;top:721.265;left:1012.222;">
<span style="font-size:10.708;"></span>
</div>
<div style="position:absolute;top:741.265;left:722.222;">
<span style="font-size:10.708;">Commentaires si traitement prioritaires:</span>
</div>
<div style="position:absolute;top:751.265;left:722.222;">
<span style="font-size:8.708;">{% if entity.traitPrio == 1 %}{{ entity.gondoleCentCom }}{% endif %}</span>
</div>
</td></tr>
</table>
{% block javascripts %}{% endblock %}
{% endblock %}