{% extends '::base.html.twig' %}

{% block title %}
Altea Nomade - Gestion d'actions Responsables de secteurs
{% endblock %}
{% block body %}
<table class="table table-striped table-bordered table-condensed>
		<tr>
			<td>Date de Mise a Jour:</td>
			<td>{{ entity.datemaj|date('d-m-Y') }}</td>
		</tr>
</table>
<table align="right" style="border: 1px solid black">
		<tr>
			<td>Nettoyage Visuel</td>
			<td>Propre</td>
			<td>Traces</td>
			<td>Poussières</td>
			<td>Tâches</td>
			<td>Usé</td>
		</tr>
        <tr>
            <td>Parvis : sol, Montants, Vitres</td>
            <td>{% if entity.parvissol == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.parvissol == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.parvissol == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.parvissol == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.parvissol == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Tapis d’entrée</td>
            <td>{% if entity.tapisentree == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.tapisentree == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.tapisentree == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.tapisentree == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.tapisentree == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Portes vitrées</td>
            <td>{% if entity.portesvit == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.portesvit == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.portesvit == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.portesvit == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.portesvit == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Bornes anti vol</td>
            <td>{% if entity.bornesantivol == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.bornesantivol == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.bornesantivol == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.bornesantivol == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.bornesantivol == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Miroirs, Surfaces vitrées</td>
            <td>{% if entity.miroirvit == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.miroirvit == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.miroirvit == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.miroirvit == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.miroirvit == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Portes, Montants, Piliers</td>
            <td>{% if entity.portemontpil == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.portemontpil == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.portemontpil == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.portemontpil == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.portemontpil == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Caisses</td>
            <td>{% if entity.caisses == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.caisses == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.caisses == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.caisses == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.caisses == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Dessus et Façades de tiroirs</td>
            <td>{% if entity.dessfactiroir == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.dessfactiroir == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.dessfactiroir == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.dessfactiroir == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.dessfactiroir == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Maquillage Sephora rapide (pinceau)</td>
            <td>{% if entity.maqurappinc == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.maqurappinc == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.maqurappinc == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.maqurappinc == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.maqurappinc == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Présentoirs maquillage</td>
            <td>{% if entity.presentmaqu == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.presentmaqu == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.presentmaqu == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.presentmaqu == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.presentmaqu == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>EDG</td>
            <td>{% if entity.edg == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.edg == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.edg == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.edg == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.edg == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Mobiliers mobiles animations, Meubles Alu</td>
            <td>{% if entity.mobiliermobani == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.mobiliermobani == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.mobiliermobani == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.mobiliermobani == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.mobiliermobani == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Rehausses et Joues de gondoles</td>
            <td>{% if entity.rehaujouegond == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.rehaujouegond == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.rehaujouegond == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.rehaujouegond == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.rehaujouegond == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Bar à beauté (MUS), Nail bar, Sièges</td>
            <td>{% if entity.barbeautnail == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.barbeautnail == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.barbeautnail == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.barbeautnail == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.barbeautnail == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Tablettes bain Sephora</td>
            <td>{% if entity.tabbain == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.tabbain == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.tabbain == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.tabbain == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.tabbain == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
			<td>Commentaires Nettoyage Visuel</td>
			<td>{% if entity.parvissolcom %}{{ entity.parvissolcom }}{% endif %}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Nettoyage Récurent</td>
			<td>Propre</td>
			<td>Traces</td>
			<td>Poussières</td>
			<td>Tâches</td>
			<td>Usé</td>
		</tr>
		<tr>
            <td>Sol surface de vente, tapis</td>
            <td>{% if entity.solsurfvente == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.solsurfvente == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.solsurfvente == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.solsurfvente == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.solsurfvente == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Bureaux, Plateaux, Tables, Ecrans</td>
            <td>{% if entity.burplattabecr == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.burplattabecr == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.burplattabecr == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.burplattabecr == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.burplattabecr == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Corbeilles</td>
            <td>{% if entity.corbeilles == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.corbeilles == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.corbeilles == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.corbeilles == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.corbeilles == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>WC, Lavabo, Corbeilles</td>
            <td>{% if entity.wclavcorb == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.wclavcorb == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.wclavcorb == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.wclavcorb == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.wclavcorb == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Miroirs sanitaire</td>
            <td>{% if entity.miroirssanit == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.miroirssanit == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.miroirssanit == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.miroirssanit == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.miroirssanit == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Cuisine, Plan de travail, Siège</td>
            <td>{% if entity.cuisinesiege == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.cuisinesiege == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.cuisinesiege == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.cuisinesiege == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.cuisinesiege == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Evier et robinetterie</td>
            <td>{% if entity.evierrobin == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.evierrobin == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.evierrobin == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.evierrobin == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.evierrobin == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Sol locaux sociaux</td>
            <td>{% if entity.sollocsoc == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.sollocsoc == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.sollocsoc == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.sollocsoc == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.sollocsoc == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
			<td>Commentaires Nettoyage Récurent</td>
			<td>{% if entity.solSurfVCom %}{{ entity.solSurfVCom }}{% endif %}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Nettoyage de Fond</td>
			<td>Propre</td>
			<td>Traces</td>
			<td>Poussières</td>
			<td>Tâches</td>
			<td>Usé</td>
		</tr>
		<tr>
            <td>Sol Mécanisé, Rénovation</td>
            <td>{% if entity.solmecareno == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.solmecareno == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.solmecareno == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.solmecareno == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.solmecareno == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Vitrerie</td>
            <td>{% if entity.vitrerie == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.vitrerie == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.vitrerie == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.vitrerie == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.vitrerie == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Caisses, Nail Bar</td>
            <td>{% if entity.caissnailprof == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.caissnailprof == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.caissnailprof == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.caissnailprof == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.caissnailprof == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Tour express, Tour en verre, Boutiquette</td>
            <td>{% if entity.tourverbout == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.tourverbout == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.tourverbout == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.tourverbout == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.tourverbout == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Linéaires muraux</td>
            <td>{% if entity.linemur == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.linemur == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.linemur == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.linemur == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.linemur == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
            <td>Gondoles centrale</td>
            <td>{% if entity.gondolecent == "Propre" %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if entity.gondolecent == "Traces" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.gondolecent == "Poussières" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.gondolecent == "Tâches" %}<i class="icon-remove"></i>{% endif %}</td>
			<td>{% if entity.gondolecent == "Usé" %}<i class="icon-remove"></i>{% endif %}</td>
        </tr>
		<tr>
			<td>Commentaires Nettoyage de Fond</td>
			<td>{% if entity.solMecReCom %}{{ entity.solMecReCom }}{% endif %}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
</table>
<table class="table table-striped table-bordered table-condensed">
    <thead>
		<tr>
			<td>Points avec le magasin</td>
			<td>{% if entity.poinMag == 1 %}<i class="icon-ok"></i>{% endif %}</td>
		</tr>
		<tr>
			<td>Réapprovisionnement</td>
			<td>{% if entity.reapro == 1 %}<i class="icon-ok"></i>{% endif %}</td>
		</tr>
		<tr>
			<td>Formation (ou point) avec les agents</td>
			<td>{% if entity.formPoAgen == 1 %}<i class="icon-ok"></i>{% endif %}</td>
		</tr>
		<tr>
			<td>Traitement Prioritaire</td>
			<td>{% if entity.traitPrio == 1 %}<i class="icon-ok"></i>{% endif %}</td>
		</tr>
		<tr>
			<td>Commentaires Traitement Prioritaire</td>
			<td>{{ entity.gondoleCentCom }}</td>
		</tr>
		<tr>
			<td>Satisfaction Global Client</td>
			<td>{{ entity.satisGlobal }}</td>
		</tr>
	</thead>
</table>
{% block javascripts %}{% endblock %}
{% endblock %}