{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block Preparationpage %} 
{{ parent() }}
<div class="container">
 <h4>{% trans %}Préparation{% endtrans %}</h4>
<pre>{% trans %}Cette fonction permet d’assurer la gestion des manquants ou encore des emplacements de stockage{% endtrans %}. {% trans %}Les fonctions de colisage et de palettisation sont aujourd’hui beaucoup plus développées car elles correspondent à un besoin croissant des entrepôts qui traitent un plus grand nombre de commandes de détail{% endtrans %}. {% trans %}Les commandes peuvent être préparées de différentes manières pour le picking{% endtrans %} :</pre>
<p>• {% trans %}Préparation pick and pack{% endtrans %}
• {% trans %}Préparation pick then pack{% endtrans %}
• {% trans %}Préparation pick to light{% endtrans %}</p>
<pre>{% trans %}Cette fonction permet de piloter l’ensemble des opérations aboutissant à l’expédition des marchandises{% endtrans %} :</pre>
<p>• {% trans %}L’import ou la saisie des commandes{% endtrans %}
• {% trans %}Le colisage{% endtrans %}
• {% trans %}La constitution des rafales{% endtrans %}
• {% trans %}Le suivi des commandes et des colis{% endtrans %}</p>
<pre><p>{% trans %}Le calcul du colisage permet de déterminer le type, la taille, et le contenu des colis pour chaque commande à préparer{% endtrans %}. {% trans %}Cette fonction permet d’obtenir automatiquement des informations précises sur les colis, d’où un important gain de temps et une diminution du risque d’erreur{% endtrans %}.</p>
<p>{% trans %}La rafale est un ensemble de commandes préparées en même temps{% endtrans %}. {% trans %}Pour constituer une rafale, l’opérateur sélectionne les commandes qui la constitue dans la liste des commandes à préparer{% endtrans %}. {% trans %}Les commandes sont sélectionnées par rapport au{% endtrans %} :</p></pre>
<p>• {% trans %}Poids{% endtrans %}
• {% trans %}Volume{% endtrans %}
• {% trans %}Transporteur{% endtrans %}
• {% trans %}Zone d’expédition{% endtrans %}
• {% trans %}Délai{% endtrans %}</p>
<pre>{% trans %}Ensuite elle est mise en préparation, ce qui a pour effet de déterminer les palettes sur lesquelles seront effectuées les prélèvements, d’établir et d’ordonnancer des tournées de préparation, de lancer le réapprovisionnement des zones de prélèvement et d’éditer les documents de préparation (étiquettes, bons de livraison…){% endtrans %}.<p>{% trans %}Ces étiquettes doivent comporter{% endtrans %} :</p></pre>
<p>• {% trans %}Les coordonnées du client final{% endtrans %}
• {% trans %}Les numéros des colis{% endtrans %}
• {% trans %}Le poids théorique{% endtrans %}
• {% trans %}Le nom du transporteur{% endtrans %}
• {% trans %}Le code à barres d’identification…{% endtrans %}
{% trans %}Les bons de livraison doivent comporter{% endtrans %} :
• {% trans %}Les coordonnées du client{% endtrans %}
• {% trans %}Le récapitulatif des commandes livrées{% endtrans %}
• {% trans %}Le récapitulatif des colis{% endtrans %}..</p>
<pre>{% trans %}Il est important de disposer d’un suivi et d’un contrôle des commandes{% endtrans %}. {% trans %}Les tableaux de bords sont des outils efficaces, car ils permettent de suivre et de contrôler le déroulement de la préparation rafale par rafale{% endtrans %}. {% trans %}Les informations y figurant sont{% endtrans %} :</pre>
<p>• {% trans %}Le nombre total des colis par rafale{% endtrans %}
• {% trans %}Le taux d’avancement des colis{% endtrans %} ({% trans %}nombre de colis préparés{% endtrans %} / {% trans %}nombre de colis de la rafale{% endtrans %})
• {% trans %}Le nombre total des commandes dans la rafale{% endtrans %}
• {% trans %}Le taux d’avancement des commandes{% endtrans %}
• {% trans %}Le volume et le poids préparés{% endtrans %}
• {% trans %}La liste des colis et commandes non terminés{% endtrans %}.</p>
<pre>{% trans %}Dans certains cas, les colis réceptionnés sont directement amenés vers les aires de préparation pour les orienter vers des commandes en attente d’expédition{% endtrans %}.</pre>
</div>
<div class="container">
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>- {% trans %}Ticket{% endtrans %} -</th>
			<th>{% trans %}Commentaires{% endtrans %}:</th>
			<th>{% trans %}Date{% endtrans %}:</th>
			<th>{% trans %}Auteur{% endtrans %}:</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>- {{ entity.id }} -</td>
			<td>{{ entity.com }}</td>
			<td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
			<td>{{ entity.auteur }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div class="page-header"></div>
<div class="container">
<form action="{{ path('Preparation_create') }}" method="post" {{ form_enctype(form) }}>
	{{ form_label(form.com, "") }}{% trans %}Vos Commentaires Suggestions{% endtrans %}:
	{{ form_widget(form.com) }}
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>
</div>
{% endblock %}