{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block pocontrqtepage %} 
{{ parent() }}
<h4>{% trans %}Listing des Points de Contrôles{% endtrans %}</h4>
<br></br>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
			<th>{% trans %}Tache{% endtrans %}</th>
            <th>{% trans %}Qte{% endtrans %}</th>
			<th>{% trans %}Fréquence{% endtrans %}</th>
            <th><i class="icon-eye-open"></i> {% trans %}Voir{% endtrans %}</th>
			<th><i class="icon-edit"></i> {% trans %}Modifier{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('pocontrqte_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
			<td>{{ entity.tachesprog.tache }}</td>
            <td>{{ entity.qte }}</td>
			<td>{{ entity.tachesprog.frequence }}</td>
            <td><a href="{{ path('pocontrqte_show', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-eye-open"></i></a></td>
			<td><a href="{{ path('pocontrqte_edit', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
        <a class="btn btn-primary" href="{{ path('pocontrqte_new') }}?idMag={{idMag}}">
            {% trans %}Nouveau Paramètre{% endtrans %}
        </a>
</ul>
{% endblock %}