{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block pocontrqteshowpage %} 
{{ parent() }}
<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Qte{% endtrans %}</th>
            <td>{{ entity.qte }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('pocontrqte') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('pocontrqte_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('pocontrqte_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock %}