{% extends '::base.html.twig' %}

{% block title %}
{% trans %}Toolbox{% endtrans %} - {% trans %}Gestion Logistique{% endtrans %}
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/prettyCheckboxes02.css') }}" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ asset('css/smart_cart.css') }}" type="text/css" media="screen" />
{% endblock %}
{% block body %}
	<div class="navbar">
		<div class="container">
        	<div class="navbar-inner">
            	<div class="container">
					{% if app.session.get('applicationUSER') == "ToolboxInterv" %}
					<ul class="nav">
						<li><a class="brand" href="{{ path('comclients') }}">{% trans %}ToolboxIntervention{% endtrans %}</a></li>
					</ul>
					<ul class="nav pull-right">
                    	<li><a href="{{ path('fos_user_profile_show') }}">{% trans %}Connexion{% endtrans %}: {{ app.user.username }}</a></li>
						<li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off icon-white"></i> {% trans %}Déconnexion{% endtrans %}</a></li>
                    </ul>
					{% elseif app.session.get('applicationUSER') == "ToolboxClient" %}
					<ul class="nav">
						<li><a class="brand" href="{{ path('comclients') }}">{% trans %}ToolboxClient{% endtrans %}</a></li>
					</ul>
					<ul class="nav pull-right">
                    	<li><a href="{{ path('fos_user_profile_show') }}">{% trans %}Connexion: {% endtrans %}{{ app.user.username }}</a></li>
						<li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off icon-white"></i> {% trans %}Déconnexion{% endtrans %}</a></li>
                    </ul>
					{% else %}
                	<ul class="nav">
                    	<li><a class="brand" href="{{ path('PhareosLogisToolBoxBundle_homepage') }}">{% trans %}Toolbox{% endtrans %}</a></li>
						<li class="dropdown" id="DropMenu1"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-exclamation-sign icon-white"></i> {% trans %}Administration Entrepôt{% endtrans %}<b class="caret"></b> </a>
          					<ul class="dropdown-menu">
            					<li><a href="{{ path('clienttool_new') }}">{% trans %}Nouveau Client{% endtrans %}</a></li>
            					<li><a href="{{ path('clienttool') }}">{% trans %}Listing Clients{% endtrans %}</a></li>
								<li class="divider"></li>
								<li><a href="{{ path('categorie_new') }}">{% trans %}Nouvelle Catégorie{% endtrans %}</a></li>
            					<li><a href="{{ path('categorie') }}">{% trans %}Listing Catégorie{% endtrans %}</a></li>
								<li class="divider"></li>
								<li><a href="{{ path('fournisseur_new') }}">{% trans %}Nouveau Fournisseur{% endtrans %}</a></li>
            					<li><a href="{{ path('fournisseur') }}">{% trans %}Listing Fournisseurs{% endtrans %}</a></li>
								<!-- <li class="divider"></li> -->
								<!-- <li><a href="#">{% trans %}Seuils des quarantaines{% endtrans %}</a></li> -->
            					<!-- <li><a href="#">{% trans %}Types unités{% endtrans %}</a></li> -->
            					<li class="divider"></li>
								<li><a href="{{ path('Admin') }}">{% trans %}Demande d'amélioration{% endtrans %}</a></li>
          					</ul>
        				</li>
						<li class="dropdown" id="DropMenu1"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-book icon-white"></i> Documents - Envoi - PDF <b class="caret"></b> </a>
          					<ul class="dropdown-menu">
            					<li><a href="#">Commandes</a></li>
            					<li><a href="#">Bon de livraisons</a></li>
            					<li><a href="#">Bordereaux d'expéditions</a></li>
								<li><a href="#">Bon de Reception</a></li>
								<li><a href="#">Factures</a></li>
            					<li class="divider"></li>
            					<li><a href="{{ path('Doc') }}">Demande d'amélioration</a></li>
          					</ul>
        				</li>
					</ul>
                    <ul class="nav pull-right">
                    	<li><a href="{{ path('fos_user_profile_show') }}">Connexion: {{ app.user.username }}</a></li>
						<li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off icon-white"></i> Déconnexion</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
			<div style="background-color:#000000">
				<div class="container">
				{% if app.session.get('applicationUSER') == "ToolboxInterv" %}
				<table>
						<thead>
							<tr align="left">
								<th><div class="btn-group">
										<button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="icon-road icon-white"></i> Ordres de Préparations<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('articlestbl') }}">Visualisation du stock</a></li>
												<li><a href="{{ path('comclients') }}">Etat des Ordres de Préparations</a></li>
											</ul>
									</div>
								</th>
							</tr>
						</thead>
					</table>
				{% elseif app.session.get('applicationUSER') == "ToolboxClient" %}
					<table>
						<thead>
							<tr align="left">
								<th><div class="btn-group">
										<button class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="icon-shopping-cart icon-white"></i> Ordres de Réception<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('comreciptmp') }}">Nouvel Ordre de Réception</a></li>
												<li><a href="{{ path('commanderecip') }}">Etat des Ordres de Réceptions</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('commanderecipattente') }}">OR En attentes de réception</a></li>
												<li><a href="{{ path('commanderecippartiel') }}">OR En réceptions partielle</a></li>
												<li><a href="{{ path('commandereciprecep') }}">OR Réceptionnés</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('commandereciparchive') }}">OR Archivés</a></li>
											</ul>
									</div>
								</th>
								<th><div class="btn-group">
										<button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="icon-road icon-white"></i> Ordres de Préparations<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('choixdestination') }}">Nouvel Ordre de Préparation</a></li>
												<li><a href="{{ path('articlestbl') }}">Visualisation du stock</a></li>
												<li><a href="{{ path('comclients') }}">Etat des Ordres de Préparations</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('comclientsprepavirt') }}"><i class="icon-shopping-cart"></i> Mon Panier</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('comclientsatprepa') }}">OP en attentes de préparation</a></li>
												<li><a href="{{ path('comclientsencprepa') }}">OP en cours de préparation</a></li>
												<li><a href="{{ path('comclientsatexp') }}">OP en attentes d'expédition</a></li>
												<li><a href="{{ path('comclientsencliv') }}">OP expédiés en cours de livraison</a></li>
												<li><a href="{{ path('comclientslivre') }}">OP livrés</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('comclientsarchive') }}">OP Archivés</a></li>
											</ul>
									</div>
								</th>
								<th><div class="btn-group">
										<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-tasks icon-white"></i> Catégories<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('categorie_new') }}">Nouvelle Catégorie</a></li>
												<li><a href="{{ path('categorie') }}">Liste des catégories</a></li>
											</ul>
									</div>
								</th>
								<th><div class="btn-group">
										<button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><i class="icon-download-alt icon-white"></i> Fournisseurs<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('fournisseur_new') }}">Nouveau Fournisseur</a></li>
												<li><a href="{{ path('fournisseur') }}">Liste des fournisseurs</a></li>
											</ul>
									</div>
								</th>
								<th><div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-font"></i> Articles<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('articlestbl_new') }}">Nouvel Article</a></li>
												<li><a href="{{ path('articlestbl') }}">Liste des articles</a></li>
											</ul>
									</div>
								</th>
								<th><div class="btn-group">
										<button class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><i class="icon-flag icon-white"></i> Clients<span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('destination_new') }}">Nouveau Client</a></li>
												<li><a href="{{ path('destination') }}">Liste des clients</a></li>
											</ul>
									</div>
								</th>
								<th></th>
								<th></th>								
								<th></th>
							</tr>
						</thead>
					</table>
				{% else %}
					<table>
						<thead>
							<tr align="left">
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>								
								<th>
									<div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-font icon-black"></i> Articles <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('articlestbl_new') }}">Nouvel Article</a></li>
												<li><a href="{{ path('articlestbl') }}">Liste des articles</a></li>
												<!-- <li><a href="#">Articles en quarantaine</a></li> -->
												<!-- <li><a href="#">Types d'unités logistiques</a></li> -->
												<!-- <li><a href="#">Statistiques de préparations</a></li> -->
												<li class="divider">test</li>
												<li><a href="{{ path('Articles') }}">Demande d'amélioration</a></li>
											</ul>
									</div>
								</th>
								<th>
									<div class="btn-group">
										<button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><i class="icon-download-alt icon-black"></i> Réception <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('articlestbl_new') }}">Nouvel Article</a></li>
												<li><a href="{{ path('articlestbl') }}">Liste des articles</a></li>
												<li class="divider"></li>
												<!-- <li><a href="#">Nouvel Réception</a></li> -->
												<li><a href="{{ path('commanderecip') }}">Liste des réceptions</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('commanderecipattente') }}">OR En attentes de réception</a></li>
												<li><a href="{{ path('commanderecippartiel') }}">OR En réceptions partielles</a></li>
												<li><a href="{{ path('commandereciprecep') }}">OR Réceptionnés</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('commandereciparchive') }}">OR Archivés</a></li>
												<!-- <li><a href="#">Identification du lot</a></li> -->
												<!-- <li><a href="#">Rangement</a></li> -->
												<!-- <li class="divider"></li> -->
												<!-- <li><a href="#">Validation commandes</a></li> -->
												<!-- <li><a href="#">Validation bons de livraisons</a></li> -->
												<li class="divider"></li>
												<li><a href="{{ path('Reception') }}">Demande d'amélioration</a></li>
											</ul>
									</div>
								</th>
								<!-- <th>
									<div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th icon-black"></i> Rangement <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="#">Nouveau Rangement</a></li>
												<li><a href="#">Liste des rangements</a></li>
												<li><a href="#">Liste des péremptions quarantaines</a></li>
												<li><a href="#">Zones libres de rangement</a></li>
												<li class="divider"></li>
												<li><a href="#">Prises de vues des articles</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('Rangement') }}">Demande d'amélioration</a></li>
											</ul>
									</div>
								</th> -->
								<th>
									<div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-tasks icon-black"></i> Stock <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="#">Consultation des emplacements</a></li>
												<li><a href="#">Identification des emplacements</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('Stock') }}">Demande d'amélioration</a></li>
											</ul>
									</div>
								</th>
								<th>
									<div class="btn-group">
										<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-barcode icon-white"></i> Préparation <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('comclientsprepavirt') }}"><i class="icon-shopping-cart"></i> Panier</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('comclientsatprepa') }}">OP en attentes de préparation</a></li>
												<li><a href="{{ path('comclientsencprepa') }}">OP en cours de préparation</a></li>
												<!-- <li class="divider"></li> -->
												<!-- <li><a href="#">Tableau de Bord des OP</a></li> -->
												<!-- <li class="divider"></li> -->
												<!-- <li><a href="#">Créer un OP</a></li> -->
												<!-- <li><a href="#">Liste des OP</a></li> -->
												<!-- <li><a href="#">Importation des commandes</a></li> -->
												<!-- <li><a href="#">Articles Picking Qte</a></li> -->
												<!-- <li><a href="#">Zones de regroupement</a></li> -->
												<!-- <li><a href="#">Nouveau Colis</a></li> -->
												<!-- <li><a href="#">Liste Colis</a></li> -->
												<!-- <li class="divider"></li> -->
												<!-- <li><a href="#">Nouveau Client</a></li> -->
												<!-- <li><a href="#">Liste des Clients</a></li> -->
												<!-- <li class="divider"></li> -->
												<!-- <li><a href="#">Nouvelle Etiquette colis</a></li> -->
												<!-- <li><a href="#">Liste Etiquettes colis</a></li> -->
												<!-- <li class="divider"></li> -->
												<!-- <li><a href="#">Créer un Bon de Livraison</a></li> -->
												<!-- <li><a href="#">Liste des BL</a></li> -->
												<li class="divider"></li>
												<li><a href="{{ path('Preparation') }}">Demande d'amélioration</a></li>
											</ul>
									</div>
								</th>
								<!-- <th>
									<div class="btn-group">
										<button class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="icon-search icon-white"></i> Inventaires <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="#">Inventaire Tournant</a></li>
												<li><a href="#">Inventaire Global</a></li>
												<li><a href="#">Inventaire Temps Réel</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('Inventaire') }}">Demande d'amélioration</a></li>
											</ul>
									</div>
								</th> -->
								<th>
									<div class="btn-group">
										<button class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><i class="icon-road icon-white"></i> Expédition <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('comclientsatexp') }}">OP en attentes d'expédition</a></li>
												<li><a href="{{ path('comclientsencliv') }}">OP expédiés en cours de livraison</a></li>
												<li><a href="{{ path('comclientslivre') }}">OP livrés</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('comclientsarchive') }}">OP Archivés</a></li>
												<!-- <li class="divider"></li> -->
												<!-- <li><a href="#">Nouvelle Expédition</a></li> -->
												<!-- <li><a href="#">Liste des expéditions</a></li> -->
												<li class="divider"></li>
												<li><a href="{{ path('destination') }}">Liste des destinations clients</a></li>
												<li class="divider"></li>
												<!-- <li><a href="#">Colisage</a></li> -->
												<!-- <li><a href="#">Bon de Livraison</a></li> -->
												<!-- <li><a href="#">Transporteur</a></li> -->
												<!-- <li><a href="#">Expedition commandes pour facturation</a></li> -->
												<!-- <li class="divider"></li> -->
												<li><a href="{{ path('Expedition') }}">Demande d'amélioration</a></li>
											</ul>
									</div>
								</th>
								<!-- <th>
									<div class="btn-group">
										<button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="icon-flag icon-white"></i> Réapro <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="#">Réaprovisionnement Auto</a></li>
												<li><a href="#">Seuils d'Alerte</a></li>
												<li><a href="#">Dates de réapro</a></li>
												<li class="divider"></li>
												<li><a href="#">Commandes Réapro</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('Reapro') }}">Demande d'amélioration</a></li>
											</ul>
									</div>
								</th> -->
								<th>
									<div class="btn-group">
										<button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="icon-flag icon-white"></i> Accès Client <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('choixdestination') }}">Nouvel Ordre de Préparation</a></li>
												<li><a href="{{ path('articlestbl') }}">Visualisation du stock</a></li>
												<li><a href="{{ path('comclients') }}">Etat des Préparations</a></li>
												<li class="divider"></li>
												<!-- <li><a href="#">Nouvelle Commande de Matériel</a></li> -->
												<li><a href="{{ path('commanderecip') }}">Etat des Réceptions</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('Comclientsdesc') }}">Demande d'amélioration</a></li>
											</ul>
									</div>
								</th>
							</tr>
						</thead>
					</table>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% block Articlespage %} 
{% endblock %}
{% block Adminpage %}
{% endblock %}
{% block Docpage %}
{% endblock %}
{% block Expeditionpage %}
{% endblock %}
{% block Inventairepage %}
{% endblock %}
{% block Preparationpage %}
{% endblock %}
{% block Rangementpage %}
{% endblock %}
{% block Reapropage %}
{% endblock %}
{% block Receptionpage %}
{% endblock %}
{% block Stockpage %}
{% endblock %}
{% block articlestblnewpage %}
{% endblock %}
{% block articlestblpage %}
{% endblock %}
{% block articlestbleditpage %}
{% endblock %}
{% block articlestblshowpage %}
{% endblock %}
{% block ComClientsCompage %}
{% endblock %}
{% block comclientsindexpage %}
{% endblock %}
{% block comclientsnewpage %}
{% endblock %}
{% block choixdestinationpage %}
{% endblock %}
{% block com_article_tmppage %}
{% endblock %}
{% block comclientsshowpage %}
{% endblock %}
{% block visualisationstockclientpage %}
{% endblock %}
{% block comclientseditpage %}
{% endblock %}
{% block destinationnewpage %} 
{% endblock %}
{% block destinationeditpage %}
{% endblock %}
{% block clienttoolnewpage %}
{% endblock %}
{% block clienttoolpage %}
{% endblock %}
{% block clienttooleditpage %}
{% endblock %}
{% block clienttoolshowpage %}
{% endblock %}
{% block categorienewpage %}
{% endblock %}
{% block categoriepage %}
{% endblock %}
{% block fournisseurnewpage %}
{% endblock %}
{% block fournisseurpage %}
{% endblock %}
{% block fournisseureditpage %}
{% endblock %}
{% block fournisseurshowpage %}
{% endblock %}
{% block destinationpage %}
{% endblock %}
{% block destinationshowpage %}
{% endblock %}
{% block com_recip_tmppage %}
{% endblock %}
{% block commanderecipeditpage %}
{% endblock %}
{% block commanderecipindexpage %}
{% endblock %}
{% block commanderecipnewpage %}
{% endblock %}
{% block commanderecipshowpage %}
{% endblock %}
{% block visualisationstockrecippage %}
{% endblock %}
{% block comclientsshoweditpage %}
{% endblock %}
{% endblock %}
{% block indextoolpage %} 
{{ parent() }}
{% block articlestbljspage %}
{% endblock %}
{% block destinationjspage %}
{% endblock %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/prettyCheckboxes02.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ asset('js/jquery.smartCart-2.0.js') }}" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(function(){ 
      $('#SmartCart').smartCart({
	  enableImage: false,
	  enableImageTooltip: false,
	  productItemTemplate:'<strong><%=pname%></strong><p>Categorie: <%=pcategory%></p><p><small><%=pdesc%></small></p>',
	  });
    });
</script>
{% endblock %}