{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block frequenceeditpage %} 
{{ parent() }}
<h4>{% trans %}Modification Fréquence{% endtrans %}</h4>
<br></br>
<div class="container">
<form action="{{ path('frequence_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>
</div>
{% endblock %}