{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block frequencenewpage %} 
{{ parent() }}
<h4>{% trans %}Nouvelle Fréquence{% endtrans %}</h4>
<br></br>
<div class="container">
<form action="{{ path('frequence_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>
</div>
<ul class="record_actions">
    <li>
        <a href="{{ path('frequence') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}