{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block grdcptelistpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Listing Horaires{% endtrans %}</h4></div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable">
    <thead>
        <tr>
            <th>{% trans %}Heures Début{% endtrans %}</th>
            <th>{% trans %}Heures fin{% endtrans %}</th>
            <th>{% trans %}En cours{% endtrans %}</th>
            <th>{% trans %}Voir{% endtrans %}</th>
			<th>{% trans %}Modif{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td align="center">{{ entity.hdebut|date('H:i' ) }}</td>
            <td align="center">{{ entity.hfin|date('H:i' ) }}</td>
            <td align="center">{{ entity.encours }}</td>
            <td align="center"><a href="{{ path('josemcont_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
			<td align="center"><a href="{{ path('josemcont_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<p>
<ul>
        <a class="btn btn-primary" href="{{ path('josemcont_new') }}">
            {% trans %}Nouveaux Horaires{% endtrans %}
        </a>
</ul>
</p>

{% endblock %}