{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block grdcptenewpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Nouveau Horaires{% endtrans %}</h4></div>


<form action="{{ path('josemcont_create') }}" method="post" {{ form_enctype(form) }}>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Jour{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.jour) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th></th>
							<th></th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center"></td>
							<td align="center"></td>
							<td align="center"></td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Heure Début{% endtrans %}</th>
							<th>{% trans %}Heure Fin{% endtrans %}</th>
							<th>{% trans %}En Cours{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<div class="well">
								<input class="timepicker-3" type="text" style="width: 75px;" name="hdebut" />
								<i class="icon-time" style="margin: -2px 0 0 -22.5px; pointer-events: none; position: relative;"></i>
								</div>
							</td>
							<td>
								<div class="well">
								<input class="timepicker-4" type="text" style="width: 75px;" name="hfin" />
								<i class="icon-time" style="margin: -2px 0 0 -22.5px; pointer-events: none; position: relative;"></i>
								</div>
							</td>
							<td>{{ form_label(form.encours, "") }}{% trans %}En cours{% endtrans %}{{ form_widget(form.encours) }}</td>
						</tr>
						</tbody>
</table>
    {{ form_rest(form) }}
	<br>
	</br>
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('josemcont') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}