<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/datepicker.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/timepicker.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/jquery.signaturepad.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/jquery.dataTables.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/prettyCheckboxes02.css') }}" type="text/css" media="screen" />
		<link rel="stylesheet" href="{{ asset('css/TableTools.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('css/TableTools_JUI.css') }}" type="text/css" />
		{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		{% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
		<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
		<script type="text/javascript" src="{{ asset('js/jquery1_9_1.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-collapse.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-timepicker.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/fullcalendar.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/gcal.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.signaturepad.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/json2.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.dataTables.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/TableTools.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/prettyCheckboxes02.js') }}" charset="utf-8"></script>
		<!--[if lt IE 9]><script type="text/javascript" src="{{ asset('js/flashcanvas.js') }}"></script><![endif]-->
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<!--[if lte IE 9]><script src="{{ asset('js/webforms2-p.js') }}"></script><![endif]-->
		<script >
		$(function() {
		$("table#sortDatatable").dataTable({
		"bProcessing": true,
		"iDisplayLength": -1,
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip<"clear">',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable2").dataTable({
		"bProcessing": true,
		"sPaginationType": "full_numbers",
		"aaSorting": [[ 4, "asc" ]],
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable3").dataTable({
		"bProcessing": true,
		"sPaginationType": "full_numbers",
		"aaSorting": [[ 3, "asc" ]],
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable4").dataTable({
		"iDisplayLength": -1,
		"bProcessing": true,
		"sPaginationType": "full_numbers",
		"aaSorting": [[ 0, "asc" ]],
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable5").dataTable({
		"bProcessing": true,
		"iDisplayLength": -1,
		"aaSorting": [[ 0, "asc" ],[ 2, "asc" ],[ 4, "asc" ]],
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable6").dataTable({
		"bProcessing": true,
		"iDisplayLength": -1,
		"aaSorting": [[ 1, "asc" ],[ 3, "asc" ]],
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable7").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": '<"clear">rtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable8").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ],[ 1, "asc" ]],
		"sDom": 'T<"clear">rtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable9").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": 'T<"clear">rtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable10").dataTable({
		"bProcessing": true,
		"aLengthMenu": [[50, -1], [50, "All"]],
		"aaSorting": [[ 0, "asc" ],[ 1, "asc" ],[ 2, "asc" ]],
		"sDom": 'T<"clear">lfrtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable11").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ], [ 7, "asc" ]],
		"iDisplayLength": 3,
		"bSort": false,
		"aLengthMenu": [[1,10],[1,10]],
		"sDom": '<"clear">rtp',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable12").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": 'T<"clear">rtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable13").dataTable({
		"iDisplayLength": 100,
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": '<"clear">rtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable14").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ]],
		"sDom": '<"clear">rtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable15").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ], [ 7, "asc" ]],
		"iDisplayLength": -1,
		"bSort": false,
		"aLengthMenu": [[1,10],[1,10]],
		"sDom": '<"clear">rtp',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable16").dataTable({
		"iDisplayLength": -1,
		"bProcessing": true,
		"aaSorting": [[ 0, "asc" ],[ 1, "asc" ]],
		"sDom": '<"clear">rt',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable17").dataTable({
		"bProcessing": true,
		"aaSorting": [[ 1, "asc" ]],
		"sDom": '<"clear">rtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable18").dataTable({
		"bProcessing": true,
		"aLengthMenu": [[50, -1], [50, "All"]],
		"bSortClasses": false,
		"aaSorting": [],
		"sDom": '<"clear">lrtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable19").dataTable({
		"bProcessing": true,
		"iDisplayLength": -1,
		"sPaginationType": "full_numbers",
		"aaSorting": [[ 0, "asc" ]],
		"sDom": '<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable20").dataTable({
		"bProcessing": true,
		"bSortClasses": false,
		"aaSorting": [[ 3, "asc" ], [ 0, "asc" ]],
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Tous"]],
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable21").dataTable({
		"bProcessing": true,
		"aLengthMenu": [[50, -1], [50, "All"]],
		"bSortClasses": false,
		"iDisplayLength": 50,
		"aaSorting": [[ 3, "asc" ], [ 0, "asc" ]],
		"sDom": 'T<"clear">lfrtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortDatatable22").dataTable({
		"bProcessing": true,
		"aLengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
		"bSortClasses": false,
		"iDisplayLength": 20,
		"aaSorting": [[ 3, "asc" ], [ 0, "asc" ]],
		"sDom": 'T<"clear">lfrtip',
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script>
		$('#myModal').modal(options);
		</script>
		<script >
		$(function() {
		$("table#sortDatatableTot").dataTable({
		"sPaginationType": "full_numbers",
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
			"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}"
				},
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
		"fnHeaderCallback": function( nHead, aaData, iStart, iEnd, aiDisplay ) {
				var total_count = 0;
				var total_pal = 0;
 
				/*Calculate the total for all rows, even outside this page*/
				for (var i=iStart ; i<iEnd ; i++) {
					/*Have to strip out extra characters so parsefloat and parseInt work right*/
					total_count += parseInt (aaData[ aiDisplay[i] ][6]*1);
					total_pal += parseInt (aaData[ aiDisplay[i] ][8]*1);
				}
				var nCells = nHead.getElementsByTagName('th');
				nCells[6].innerHTML = "Qte (Totale) " + "(" + parseInt(total_count*1) + ")";
				nCells[8].innerHTML = "Nb Palette (Totale) " + "(" + parseInt(total_pal*1) + ")";
				},
        "oLanguage": {
				"sUrl": "{{ asset('js/french.txt') }}"
				}
			});
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExample").tablesorter({ sortList: [[4,0]] });
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExample2").tablesorter({ sortList: [[0,0]] });
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExampleD2").tablesorter({ sortList: [[0,0], [1,0]] });
		});
		</script>
		<script >
		$(function() {
		$("table#sortTableExampleD3").tablesorter({ sortList: [[0,0],[1,0],[2,0]] });
		});
		</script>
		<script >
		$(function() {
		$(".dropdown-toggle").dropdown();
		});
		</script>
		<script >
		$(function() {
		$(".collapse").collapse()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker01").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker02").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker03").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker04").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker05").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker06").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker2").datepicker()
		});
		</script>
		<script >
		$(function() {
		$("#datepicker3").datepicker()
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-1').timepicker({
                minuteStep: 30,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
            });
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-2').timepicker({
				minuteStep: 30,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
            });
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-3').timepicker({
				minuteStep: 5,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
            });
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-4').timepicker({
				minuteStep: 5,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
            });
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-5').timepicker({
				minuteStep: 5,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
				defaultTime: '05:00'
            });
		});
		</script>
		<script >
		$(function() {
		$('.timepicker-6').timepicker({
				minuteStep: 5,
                template: 'modal',
                showSeconds: false,
				showMinutes: false,
                showMeridian: false
				defaultValue: '05:00'
            });
		});
		</script>
		 <script type="text/javascript">
			$('#timepicker1').timepicker({
				minuteStep: 1,
				secondStep: 5,
				showInputs: false,
				template: 'modal',
				modalBackdrop: true,
				showSeconds: true,
				showMeridian: false,
				defaultTime: '11:45'
			});
		</script>
		<script type="text/javascript">
			$('#timepicker10').timepicker({
				minuteStep: 30,
				showInputs: false,
				template: 'modal',
				modalBackdrop: true,
				showSeconds: false,
				showMeridian: false,
				defaultTime: false
			});
		</script>
		<script type="text/javascript">
			$('#timepicker11').timepicker({
				minuteStep: 5,
				showInputs: false,
				template: 'modal',
				modalBackdrop: true,
				showSeconds: false,
				showMeridian: false,
				defaultTime: false
			});
		</script>
		<script type="text/javascript">
			$('#timepicker12').timepicker({
				minuteStep: 5,
				showInputs: false,
				template: 'modal',
				modalBackdrop: true,
				showSeconds: false,
				showMeridian: false,
				defaultTime: false
			});
		</script>
		<SCRIPT language="JavaScript">
		function Lien() {
		i = document.Choix.Liste.selectedIndex;
		if (i == 0) return;
		url = document.Choix.Liste.options[i].value;
		parent.location.href = url;
		}
		</SCRIPT>
		<SCRIPT language="JavaScript">
		function Lien2() {
		i = document.Choix2.Liste.selectedIndex;
		if (i == 0) return;
		url = document.Choix2.Liste.options[i].value;
		parent.location.href = url;
		}
		</SCRIPT>
		<script>
			var options = {
				drawOnly : true,
				penWidth : 1,
			};
			$(document).ready(function() {
			$('.sigPad').signaturePad(options);
			});
		</script>
		{% block indexdeskpage %}
		{% endblock %}
		{% block indextoolpage %} 
		{% endblock %}
		{% endblock %}
    </body>
</html>