{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}

{% extends 'PhareosNomadeNetServiceBundle::default_layout.html.twig' %}



{% block mag %}
        <p>
            Magasin id du magasin = {{ id }} sélectionné affichage du Nom du mag, adresse, tel...
			ce magasin pourrais avoir comme tag : {{ tag  }}
			user_name : {{ user }} user_email: {{ email }}
        </p>
		<p>
			Menu => Agent, planning, audit qualité, Rdz-vous, Formation, Réapro, Documents
{% endblock %}