{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block grdcptemodifpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Modification Grand Compte{% endtrans %} {{ entity.Nom }}</h4></div>

<form action="{{ path('grdcpte_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.Nom, "") }}{% trans %}Nom{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.Nom) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.adres1, "") }}{% trans %}Adresse 1{% endtrans %}</th>
							<th>{{ form_label(edit_form.adres2, "") }}{% trans %}Adresse 2{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.adres1) }}</td>
							<td align="center">{{ form_widget(edit_form.adres2) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.cp, "") }}{% trans %}Code Postal{% endtrans %}</th>
							<th>{{ form_label(edit_form.ville, "") }}{% trans %}Ville{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.cp) }}</td>
							<td align="center">{{ form_widget(edit_form.ville) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.tel, "") }}{% trans %}Téléphone{% endtrans %}</th>
							<th>{{ form_label(edit_form.fax, "") }}{% trans %}Fax{% endtrans %}</th>
							<th>{{ form_label(edit_form.mail, "") }}{% trans %}Mail{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.tel) }}</td>
							<td align="center">{{ form_widget(edit_form.fax) }}</td>
							<td align="center">{{ form_widget(edit_form.mail) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Acheteur{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_label(edit_form.achcivil, "") }}{% trans %}Civilité{% endtrans %}: {{ form_widget(edit_form.achcivil) }}</td>
							<td align="center">{{ form_label(edit_form.acheteur, "") }}{% trans %}Nom{% endtrans %}: {{ form_widget(edit_form.acheteur) }}</td>
							<td align="center">{{ form_label(edit_form.prenach, "") }}{% trans %}Prénom{% endtrans %}: {{ form_widget(edit_form.prenach) }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_label(edit_form.achtel, "") }}{% trans %}Tel{% endtrans %}: {{ form_widget(edit_form.achtel) }}</td>
							<td align="center">{{ form_label(edit_form.achmail, "") }}{% trans %}Mail{% endtrans %}: {{ form_widget(edit_form.achmail) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Caractéristiques{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_label(edit_form.nbragences, "") }}{% trans %}Nbr d'agences{% endtrans %}: {{ form_widget(edit_form.nbragences) }}</td>
						</tr>
						</tbody>
</table>
	{{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-success" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>
<ul class="record_actions">
    <li>
        <a href="{{ path('grdcpte') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}