{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block grdcptelistpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Listing Grand Compte{% endtrans %}</h4></div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable">
    <thead>
        <tr>
            <th>{% trans %}Nom{% endtrans %}</th>
            <th>{% trans %}Acheteur{% endtrans %}</th>
            <th>{% trans %}Nbr Agences{% endtrans %}</th>
            <th>{% trans %}Cahier des Charges{% endtrans %}</th>
            <th>{% trans %}Carnet de Bord{% endtrans %}</th>
            <th>{% trans %}Contrat{% endtrans %}</th>
            <th>{% trans %}Plan de Prévention{% endtrans %}</th>
            <th>{% trans %}Voir{% endtrans %}</th>
			<th>{% trans %}Modif{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.Nom }}</td>
            <td>{{ entity.acheteur }}</td>
            <td align="center">{{ entity.nbragences }}</td>
            <td align="center">{% if entity.cdcpdf %}<a href="{{ asset('upload/desk/grdcpte/cdc/' ~ entity.id ~'/' ~ entity.cdcpdf)}}" target="_blank"> <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
			<td align="center">{% if entity.cdbpdf %}<a href="{{ asset('upload/desk/grdcpte/cdb/' ~ entity.id ~'/' ~ entity.cdbpdf)}}" target="_blank"> <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
			<td align="center">{% if entity.contratpdf %}<a href="{{ asset('upload/desk/grdcpte/contrat/' ~ entity.id ~'/' ~ entity.contratpdf)}}" target="_blank"> <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
			<td align="center">{% if entity.planprevpdf %}<a href="{{ asset('upload/desk/grdcpte/planprev/' ~ entity.id ~'/' ~ entity.planprevpdf)}}" target="_blank"> <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
            <td align="center"><a href="{{ path('grdcpte_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
			<td align="center"><a href="{{ path('grdcpte_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<p>
<ul>
        <a class="btn btn-primary" href="{{ path('grdcpte_new') }}">
            {% trans %}Nouveau Grd Compte{% endtrans %}
        </a>
</ul>
</p>

{% endblock %}