{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block grdcptenewpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Nouveau Grand Compte{% endtrans %}</h4></div>


<form action="{{ path('grdcpte_create') }}" method="post" {{ form_enctype(form) }}>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Département{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_label(form.departements, "") }}{% trans %}Dept{% endtrans %}: {{ form_widget(form.departements) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.Nom, "") }}{% trans %}Nom{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.Nom) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.adres1, "") }}{% trans %}Adresse 1{% endtrans %}</th>
							<th>{{ form_label(form.adres2, "") }}{% trans %}Adresse 2{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.adres1) }}</td>
							<td align="center">{{ form_widget(form.adres2) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.cp, "") }}{% trans %}Code Postal{% endtrans %}</th>
							<th>{{ form_label(form.ville, "") }}{% trans %}Ville{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.cp) }}</td>
							<td align="center">{{ form_widget(form.ville) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.tel, "") }}{% trans %}Téléphone{% endtrans %}</th>
							<th>{{ form_label(form.fax, "") }}{% trans %}Fax{% endtrans %}</th>
							<th>{{ form_label(form.mail, "") }}{% trans %}Mail{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.tel) }}</td>
							<td align="center">{{ form_widget(form.fax) }}</td>
							<td align="center">{{ form_widget(form.mail) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Acheteur{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_label(form.achcivil, "") }}{% trans %}Civilité{% endtrans %}: {{ form_widget(form.achcivil) }}</td>
							<td align="center">{{ form_label(form.acheteur, "") }}{% trans %}Nom{% endtrans %}: {{ form_widget(form.acheteur) }}</td>
							<td align="center">{{ form_label(form.prenach, "") }}{% trans %}Prénom{% endtrans %}: {{ form_widget(form.prenach) }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_label(form.achtel, "") }}{% trans %}Tel{% endtrans %}: {{ form_widget(form.achtel) }}</td>
							<td align="center">{{ form_label(form.achmail, "") }}{% trans %}Mail{% endtrans %}: {{ form_widget(form.achmail) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Caractéristiques{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_label(form.nbragences, "") }}{% trans %}Nbr d'agences{% endtrans %}: {{ form_widget(form.nbragences) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Documents{% endtrans %} (pdf)</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_label(form.cdcpdf, "") }}{% trans %}Cahier des Charges{% endtrans %}: {{ form_widget(form.cdcpdf) }}</td>
							<td align="center">{{ form_label(form.cdbpdf, "") }}{% trans %}Carnet de Bord{% endtrans %}: {{ form_widget(form.cdbpdf) }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_label(form.contratpdf, "") }}{% trans %}Contrat{% endtrans %}: {{ form_widget(form.contratpdf) }}</td>
							<td align="center">{{ form_label(form.planprevpdf, "") }}{% trans %}Plan de Prévention{% endtrans %}: {{ form_widget(form.planprevpdf) }}</td>
						</tr>
						</tbody>
</table>
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('grdcpte') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}