<h1>progaffect</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Id_agent</th>
            <td>{{ entity.idagent }}</td>
        </tr>
        <tr>
            <th>Id_lieux</th>
            <td>{{ entity.idlieux }}</td>
        </tr>
        <tr>
            <th>Joursem</th>
            <td>{{ entity.joursem }}</td>
        </tr>
        <tr>
            <th>Heurearrive</th>
            <td>{{ entity.heurearrive }}</td>
        </tr>
        <tr>
            <th>Heuresortie</th>
            <td>{{ entity.heuresortie }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('progaffect') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('progaffect_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('progaffect_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
