<h1>{% trans %}forminfo{% endtrans %}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Nom{% endtrans %}</th>
            <td>{{ entity.nom }}</td>
        </tr>
        <tr>
            <th>{% trans %}Prenom{% endtrans %}</th>
            <td>{{ entity.prenom }}</td>
        </tr>
        <tr>
            <th>{% trans %}Adresse1{% endtrans %}</th>
            <td>{{ entity.adressse1 }}</td>
        </tr>
        <tr>
            <th>{% trans %}Adresse2{% endtrans %}</th>
            <td>{{ entity.adresse2 }}</td>
        </tr>
        <tr>
            <th>{% trans %}Codepostal{% endtrans %}</th>
            <td>{{ entity.codepostal }}</td>
        </tr>
        <tr>
            <th>{% trans %}Ville{% endtrans %}</th>
            <td>{{ entity.ville }}</td>
        </tr>
        <tr>
            <th>{% trans %}Nationa{% endtrans %}</th>
            <td>{{ entity.nationa }}</td>
        </tr>
        <tr>
            <th>{% trans %}Ressortce{% endtrans %}</th>
            <td>{{ entity.ressortce }}</td>
        </tr>
        <tr>
            <th>{% trans %}Carteident{% endtrans %}</th>
            <td>{{ entity.carteident }}</td>
        </tr>
        <tr>
            <th>{% trans %}Delivrpar{% endtrans %}</th>
            <td>{{ entity.delivrpar }}</td>
        </tr>
        <tr>
            <th>{% trans %}Titresejour{% endtrans %}</th>
            <td>{{ entity.titresejour }}</td>
        </tr>
        <tr>
            <th>{% trans %}Datevalide{% endtrans %}</th>
            <td>{{ entity.datevalide|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Autotravil{% endtrans %}</th>
            <td>{{ entity.autotravil }}</td>
        </tr>
        <tr>
            <th>{% trans %}Delivattrav{% endtrans %}</th>
            <td>{{ entity.delivattrav }}</td>
        </tr>
        <tr>
            <th>{% trans %}Notrepresent{% endtrans %}</th>
            <td>{{ entity.notrepresent }}</td>
        </tr>
        <tr>
            <th>{% trans %}Notepres{% endtrans %}</th>
            <td>{{ entity.notepres }}</td>
        </tr>
        <tr>
            <th>{% trans %}Noteeloc{% endtrans %}</th>
            <td>{{ entity.noteeloc }}</td>
        </tr>
        <tr>
            <th>{% trans %}Notedynam{% endtrans %}</th>
            <td>{{ entity.notedynam }}</td>
        </tr>
        <tr>
            <th>{% trans %}Noteanaly{% endtrans %}</th>
            <td>{{ entity.noteanaly }}</td>
        </tr>
        <tr>
            <th>{% trans %}Noteorga{% endtrans %}</th>
            <td>{{ entity.noteorga }}</td>
        </tr>
        <tr>
            <th>{% trans %}Noteexp{% endtrans %}</th>
            <td>{{ entity.noteexp }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('forminfo') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('forminfo_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('forminfo_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
