{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditpage %} 
{{ parent() }}
<h4>{% trans %}Paramètrage Listing Produits{% endtrans %} - {% trans %}Materiels{% endtrans %} - {% trans %}Consommables{% endtrans %}</h4>
<br></br>
<div class="container">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable15">
    <thead>
        <tr>
            <th>{% trans %}Nom{% endtrans %}</th>
			<th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Seuil du Magasin{% endtrans %}</th>
            <th>{% trans %}Seuil du Véhicule{% endtrans %}</th>
            <th>{% trans %}Supprimer{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
		{% if entity.nom != '-----------' %}
        <tr>
            <td>{{ entity.nom }}</td>
			<td>{{ entity.typemat }}</td>
            <td align="center">{{ entity.seuilmag }}</td>
            <td align="center">{{ entity.seuilveh }}</td>
            <td align="center"><a href="{{ path('prodmag_delete', { 'id': entity.id }) }}"><i class="icon-remove icon-red"></i></a></td>
        </tr>
		{% endif %}
    {% endfor %}
    </tbody>
</table>
<br>
</br>
<div class="container">
<form action="{{ path('prodmag_create') }}" method="post" {{ form_enctype(form) }}>
<table class="table table-striped table-bordered table-condensed">
			<thead>
						<tr>
							<th>{% trans %}Produit{% endtrans %}</th>
							<th>{% trans %}Type{% endtrans %}</th>
							<th>{% trans %}Seuil Magasin{% endtrans %}</th>
							<th>{% trans %}Seuil Véhicule{% endtrans %}</th>
						</tr>
			</thead>
			<tbody>
						<tr>
							<td>{{ form_widget(form.nom) }}</td>
							<td>{{ form_widget(form.typemat) }}</td>
							<td>{{ form_widget(form.seuilmag) }}</td>
							<td>{{ form_widget(form.seuilveh) }}</td>
						</tr>
			</tbody>			
</table>
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Ajouter{% endtrans %}</button>
    </p>
</form>
</div>
{% endblock %}