{# src/Phareos/NomadeNetServiceBundle/Resources/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}PhareosNomade{% endblock %}</title>
    </head>
    <body>

        {% block body %}
        {% endblock %}

    </body>
</html>