{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}

{% extends 'PhareosNomadeNetServiceBundle::default_layout_magselectpage.html.twig' %}



{% block mag %}
	<div class="navbar">
		<div class="container">
        	<div class="navbar-inner">
            	<div class="container">
                	<ul class="nav">
                    	<li><a class="brand" href="{{ path('PhareosNomadeNetServiceBundle_homepage') }}">Altea Nomade</a></li>
						<li class="dropdown" id="DropMenu1"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-exclamation-sign icon-white"></i> Administration <b class="caret"></b> </a>
          					<ul class="dropdown-menu">
            					<li><a href="#">Gestion des Utilisateurs</a></li>
            					<li><a href="#">Gestion des Agents</a></li>
            					<li><a href="#">Gestion Mots de passes</a></li>
            					<li class="divider"></li>
								<li><a href="{{ path('nom_responsmag_newaffectation') }}?idMag={{idMag}}">Affecter un Responsable Magasin</a></li>
								<li><a href="#">Remplacer un Responsable Magasin</a></li>
								<li><a href="#">Supprimer une affectation</a></li>
								<li class="divider"></li>
            					<li><a href="#">Compte Administrateur</a></li>
          					</ul>
        				</li>
						<li><a href="{{ path('PhareosNomadeNetServiceBundle_homepage') }}"><i class="icon-share-alt icon-white"></i> Retour Liste des Magasins</a></li>
						<li class="dropdown" id="DropMenu1"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-book icon-white"></i> Documents - Envoi - PDF <b class="caret"></b> </a>
          					<ul class="dropdown-menu">
            					<li><a href="#">Planning Vierge</a></li>
            					<li><a href="#">Planning</a></li>
            					<li><a href="#">Carnet de Bord</a></li>
								<li><a href="#">Bon de Vitrage</a></li>
								<li><a href="#">Attestation Formation</a></li>
            					<li class="divider"></li>
            					<li><a href="#">Compte Administrateur</a></li>
          					</ul>
        				</li>
					</ul>
                    <ul class="nav pull-right">
                    	<!--<li><a href="{{ path('fos_user_profile_show') }}">Connecté en tant que {{ app.user.username }}</a></li>-->
						<!--<li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.email }}</a></li>-->
						<li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off icon-white"></i> Déconnection</a></li>
                    </ul>
                    
                </div>
            </div>
			<div style="background-color:#000000">
				<div class="container">
					<table>
						<thead>
							<tr align="left">
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>								
								<th>
									<div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-black"></i> Agents <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('agent_newaffectation') }}?idMag={{idMag}}">Affecter un nouvel agent</a></li>
												<li><a href="#">Remplacer un agent</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('agent_deleteaffectation') }}?idMag={{idMag}}">Supprimer une affectation</a></li>
											</ul>
									</div>
								</th>
								<th>
									<div class="btn-group">
										<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-calendar icon-white"></i> Planning <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('planning_new') }}?idMag={{idMag}}">Nouveau</a></li>
												<li><a href="{{ path('planning') }}?idMag={{idMag}}">Consulter</a></li>
												<li><a href="{{ path('planning') }}?idMag={{idMag}}">Modifier</a></li>
											</ul>
									</div>
								</th>
								<th>
									<div class="btn-group">
										<button class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="icon-search icon-white"></i> Audit <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('audit_new') }}?idMag={{idMag}}">Nouvel</a></li>
												<li><a href="{{ path('audit') }}?idMag={{idMag}}">Consulter</a></li>
											</ul>
									</div>
								</th>
								<th>
									<div class="btn-group">
										<button class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><i class="icon-road icon-white"></i> Rdz-Vous <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="#">Nouveau</a></li>
												<li><a href="{{ path('calendar') }}?idMag={{idMag}}">Consulter</a></li>
												<li><a href="#">Modifier</a></li>
												<li class="divider"></li>
												<li><a href="#">Supprimer</a></li>
											</ul>
									</div>
								</th>
								<th>
									<div class="btn-group">
										<button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><i class="icon-bookmark icon-white"></i> Formation <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="#">Nouvelle</a></li>
												<li><a href="#">Ajouter</a></li>
												<li><a href="#">Modifier</a></li>
											</ul>
									</div>
								</th>
								<th>
									<div class="btn-group">
										<button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="icon-flag icon-white"></i> Réapro <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="#">Nouvelle</a></li>
												<li><a href="#">Consulter</a></li>
												<li><a href="#">Modifier</a></li>
											</ul>
									</div>
								</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
		<div class="container">
			<div><h6>Code Magasin: {{ lieux.codag }} - Ville: {{lieux.nomville}} - Adresse: {{lieux.adruelieux}} - Tel: {% if site.telsite %}{{site.telsite}}{% else %}...{% endif %} - Fax: {% if site.faxsite %}{{site.faxsite}}{% else %} ...{% endif %}- Email: {% if site.emailsite %}{{site.emailsite}}{% else %} ...{% endif %} - </h6></div>
			{% if agent1.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">1</i></li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" %}<a href="{{ path('agent_edit', { 'id': agent1.id }) }}">{% endif %}<h6> Agent: {{agent1.nompers}} - {{agent1.PRENOMPERS}}{% if agent1.TELFIXPERS %} - Tel: {{agent1.TELFIXPERS}}{% endif %}{% if agent1.TELPORPERS %} - Port: {{agent1.TELPORPERS}}{% endif %}{% if agent1.EMAILPERS %} - Email: {{agent1.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=1">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if agent2.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">2</i></li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" %}<a href="{{ path('agent_edit', { 'id': agent2.id }) }}">{% endif %}<h6> Agent: {{agent2.nompers}} - {{agent2.PRENOMPERS}}{% if agent1.TELFIXPERS %} - Tel: {{agent2.TELFIXPERS}}{% endif %}{% if agent2.TELPORPERS %} - Port: {{agent2.TELPORPERS}}{% endif %}{% if agent2.EMAILPERS %} - Email: {{agent2.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=2">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if agent3.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">3</i></li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" %}<a href="{{ path('agent_edit', { 'id': agent3.id }) }}">{% endif %}<h6> Agent: {{agent3.nompers}} - {{agent3.PRENOMPERS}}{% if agent3.TELFIXPERS %} - Tel: {{agent3.TELFIXPERS}}{% endif %}{% if agent3.TELPORPERS %} - Port: {{agent3.TELPORPERS}}{% endif %}{% if agent3.EMAILPERS %} - Email: {{agent3.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=3">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if agent4.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">4</i></li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" %}<a href="{{ path('agent_edit', { 'id': agent4.id }) }}">{% endif %}<h6> Agent: {{agent4.nompers}} - {{agent4.PRENOMPERS}}{% if agent4.TELFIXPERS %} - Tel: {{agent4.TELFIXPERS}}{% endif %}{% if agent4.TELPORPERS %} - Port: {{agent4.TELPORPERS}}{% endif %}{% if agent4.EMAILPERS %} - Email: {{agent4.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=4">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if agent5.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">5</i></li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" %}<a href="{{ path('agent_edit', { 'id': agent5.id }) }}">{% endif %}<h6> Agent: {{agent5.nompers}} - {{agent5.PRENOMPERS}}{% if agent5.TELFIXPERS %} - Tel: {{agent5.TELFIXPERS}}{% endif %}{% if agent5.TELPORPERS %} - Port: {{agent5.TELPORPERS}}{% endif %}{% if agent5.EMAILPERS %} - Email: {{agent5.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=5">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if agent6.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">6</i></li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" %}<a href="{{ path('agent_edit', { 'id': agent6.id }) }}">{% endif %}<h6> Agent: {{agent6.nompers}} - {{agent6.PRENOMPERS}}{% if agent6.TELFIXPERS %} - Tel: {{agent6.TELFIXPERS}}{% endif %}{% if agent6.TELPORPERS %} - Port: {{agent6.TELPORPERS}}{% endif %}{% if agent6.EMAILPERS %} - Email: {{agent6.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=6">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if agent7.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">7</i></li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" %}<a href="{{ path('agent_edit', { 'id': agent7.id }) }}">{% endif %}<h6> Agent: {{agent7.nompers}} - {{agent7.PRENOMPERS}}{% if agent7.TELFIXPERS %} - Tel: {{agent7.TELFIXPERS}}{% endif %}{% if agent7.TELPORPERS %} - Port: {{agent7.TELPORPERS}}{% endif %}{% if agent7.EMAILPERS %} - Email: {{agent7.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=7">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if agent8.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">8</i></li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" %}<a href="{{ path('agent_edit', { 'id': agent8.id }) }}">{% endif %}<h6> Agent: {{agent8.nompers}} - {{agent8.PRENOMPERS}}{% if agent8.TELFIXPERS %} - Tel: {{agent8.TELFIXPERS}}{% endif %}{% if agent8.TELPORPERS %} - Port: {{agent8.TELPORPERS}}{% endif %}{% if agent8.EMAILPERS %} - Email: {{agent8.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=8">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if agent9.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">9</i></li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" %}<a href="{{ path('agent_edit', { 'id': agent9.id }) }}">{% endif %}<h6> Agent: {{agent9.nompers}} - {{agent9.PRENOMPERS}}{% if agent9.TELFIXPERS %} - Tel: {{agent9.TELFIXPERS}}{% endif %}{% if agent9.TELPORPERS %} - Port: {{agent9.TELPORPERS}}{% endif %}{% if agent9.EMAILPERS %} - Email: {{agent9.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=9">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if responsmag1.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-warning">1</i></li>
							<li><i class="icon-edit"></i></li>
							<li><a href="{{ path('nom_responsmag_edit', { 'id': responsmag1.id }) }}"><h6> Resp.: {{responsmag1.nompers}} - {{responsmag1.PRENOMPERS}}{% if responsmag1.TELFIXPERS %} - Tel: {{responsmag1.TELFIXPERS}}{% endif %}{% if responsmag1.TELPORPERS %} - Port: {{responsmag1.TELPORPERS}}{% endif %}{% if responsmag1.EMAILPERS %} - Email: {{responsmag1.EMAILPERS}}{% endif %}</h6></a></li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" %}<li><a href="{{ path('nom_responsmag_replaceconfirmaffectation') }}?NumidResp=1">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if responsmag2.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-warning">2</i></li>
							<li><i class="icon-edit"></i></li>
							<li><a href="{{ path('nom_responsmag_edit', { 'id': responsmag2.id }) }}"><h6> Resp.: {{responsmag2.nompers}} - {{responsmag2.PRENOMPERS}}{% if responsmag2.TELFIXPERS %} - Tel: {{responsmag2.TELFIXPERS}}{% endif %}{% if responsmag2.TELPORPERS %} - Port: {{responsmag2.TELPORPERS}}{% endif %}{% if responsmag2.EMAILPERS %} - Email: {{responsmag2.EMAILPERS}}{% endif %}</h6></a></li>
							{% if app.user.username == "Jeff" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" %}<li><a href="{{ path('nom_responsmag_replaceconfirmaffectation') }}?NumidResp=2">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}	
							
			<!--{% if agent2.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=2"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent2.id }) }}"><h6> Agent2: {{agent2.nompers}} - {{agent2.PRENOMPERS}}{% if agent2.TELFIXPERS %} - Tel: {{agent2.TELFIXPERS}}{% endif %}{% if agent2.TELPORPERS %} - Port: {{agent2.TELPORPERS}}{% endif %}{% if agent2.EMAILPERS %} - Email: {{agent2.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent3.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=3"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent3.id }) }}"><h6> Agent3: {{agent3.nompers}} - {{agent3.PRENOMPERS}}{% if agent3.TELFIXPERS %} - Tel: {{agent3.TELFIXPERS}}{% endif %}{% if agent3.TELPORPERS %} - Port: {{agent3.TELPORPERS}}{% endif %}{% if agent3.EMAILPERS %} - Email: {{agent3.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent4.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=4"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent4.id }) }}"><h6> Agent4: {{agent4.nompers}} - {{agent4.PRENOMPERS}}{% if agent4.TELFIXPERS %} - Tel: {{agent4.TELFIXPERS}}{% endif %}{% if agent4.TELPORPERS %} - Port: {{agent4.TELPORPERS}}{% endif %}{% if agent4.EMAILPERS %} - Email: {{agent4.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent5.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=5"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent5.id }) }}"><h6> Agent5: {{agent5.nompers}} - {{agent5.PRENOMPERS}}{% if agent5.TELFIXPERS %} - Tel: {{agent5.TELFIXPERS}}{% endif %}{% if agent5.TELPORPERS %} - Port: {{agent5.TELPORPERS}}{% endif %}{% if agent5.EMAILPERS %} - Email: {{agent5.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent6.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=6"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent6.id }) }}"><h6> Agent6: {{agent6.nompers}} - {{agent6.PRENOMPERS}}{% if agent6.TELFIXPERS %} - Tel: {{agent6.TELFIXPERS}}{% endif %}{% if agent6.TELPORPERS %} - Port: {{agent6.TELPORPERS}}{% endif %}{% if agent6.EMAILPERS %} - Email: {{agent6.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent7.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=7"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent7.id }) }}"><h6> Agent7: {{agent7.nompers}} - {{agent7.PRENOMPERS}}{% if agent7.TELFIXPERS %} - Tel: {{agent7.TELFIXPERS}}{% endif %}{% if agent7.TELPORPERS %} - Port: {{agent7.TELPORPERS}}{% endif %}{% if agent7.EMAILPERS %} - Email: {{agent7.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent8.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=8"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent8.id }) }}"><h6> Agent8: {{agent8.nompers}} - {{agent8.PRENOMPERS}}{% if agent8.TELFIXPERS %} - Tel: {{agent8.TELFIXPERS}}{% endif %}{% if agent8.TELPORPERS %} - Port: {{agent8.TELPORPERS}}{% endif %}{% if agent8.EMAILPERS %} - Email: {{agent8.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent9.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=9"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent9.id }) }}"><h6> Agent9: {{agent9.nompers}} - {{agent9.PRENOMPERS}}{% if agent9.TELFIXPERS %} - Tel: {{agent9.TELFIXPERS}}{% endif %}{% if agent9.TELPORPERS %} - Port: {{agent9.TELPORPERS}}{% endif %}{% if agent9.EMAILPERS %} - Email: {{agent9.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if responsmag1.nompers %}<h6><a href="{{ path('nom_responsmag_replaceconfirmaffectation') }}?NumidResp=1"> <i class="icon-share-alt"></i> Responsable Mag: {{responsmag1.nompers}} - {{responsmag1.PRENOMPERS}}{% if responsmag1.TELFIXPERS %} - Tel: {{responsmag1.TELFIXPERS}}{% endif %}{% if responsmag1.TELPORPERS %} - Port: {{responsmag1.TELPORPERS}}{% endif %}{% if responsmag1.EMAILPERS %} - Email: {{responsmag1.EMAILPERS}}{% endif %}</a></h6>{% endif %}
			{% if responsmag2.nompers %}<h6><a href="{{ path('nom_responsmag_replaceconfirmaffectation') }}?NumidResp=2"> <i class="icon-share-alt"></i> Responsable Mag: {{responsmag2.nompers}} - {{responsmag2.PRENOMPERS}}{% if responsmag2.TELFIXPERS %} - Tel: {{responsmag2.TELFIXPERS}}{% endif %}{% if responsmag2.TELPORPERS %} - Port: {{responsmag2.TELPORPERS}}{% endif %}{% if responsmag2.EMAILPERS %} - Email: {{responsmag2.EMAILPERS}}{% endif %}</a></h6>{% endif %} -->
			<div class="page-header"></div>
{% block planningpage %}
{% endblock %}
{% block auditpage %}
{% endblock %}
{% block agentaffectationpage %}
{% endblock %}
{% block deleteaffectationpage %}
{% endblock %}
{% block responsmagaffectationpage %}
{% endblock %}
{% block nom_responsmagnewpage %}
{% endblock %}
{% block agenteditpage %}
{% endblock %}
{% block editnomresponsmagpage %}
{% endblock %}
{% block calendardefaultpage %}
{% endblock %}
{% endblock %}