{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}

{% extends 'PhareosNomadeNetServiceBundle::default_layout_magselectpage.html.twig' %}



{% block mag %}
	<div class="navbar">
		<div class="container">
        	<div class="navbar-inner">
            	<div class="container">
                	<ul class="nav">
                    	<li><a class="brand" href="{{ path('PhareosNomadeNetServiceBundle_homepage') }}">Altea Nomade</a></li>
						<li class="dropdown" id="DropMenu1"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-exclamation-sign icon-white"></i> Administration <b class="caret"></b> </a>
          					<ul class="dropdown-menu">
            					<!-- <li><a href="#">Gestion des Utilisateurs</a></li> -->
            					<!-- <li><a href="#">Gestion des Agents</a></li> -->
            					<!-- <li><a href="#">Gestion Mots de passes</a></li> -->
            					<!-- <li class="divider"></li> -->
								<li><a href="{{ path('nom_responsmag_newaffectation') }}?idMag={{idMag}}">Affecter un Responsable Magasin</a></li>
								<!-- <li><a href="#">Remplacer un Responsable Magasin</a></li> -->
								<li><a href="#">Supprimer une affectation de responsable mag</a></li>
								<li class="divider"></li>
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('agent_newaffectation') }}?idMag={{idMag}}">Affecter un nouvel agent</a></li>{% endif %}
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('agent_deleteaffectation') }}?idMag={{idMag}}">Supprimer une affectation</a></li>{% endif %}
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li class="divider"></li>{% endif %}
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('auditadmin') }}?idMag={{idMag}}">Listing de tous les anciens audits qualités</a></li>{% endif %}
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('audtechadmin') }}?idMag={{idMag}}">Listing de tous les nouveaux audits qualités</a></li>{% endif %}
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('auditmensueladmin') }}?idMag={{idMag}}">Listing de tous les audits globaux</a></li>{% endif %}
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li class="divider"></li>{% endif %}
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('frequence_new') }}?idMag={{idMag}}">Fréquences - Cahier des charges</a></li>{% endif %}
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('fonction_new') }}?idMag={{idMag}}">Fonctions - Cahier des charges</a></li>{% endif %}
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('tachesprog_new') }}?idMag={{idMag}}">Nomenclatures - Cahier des charges</a></li>{% endif %}
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li class="divider"></li>{% endif %}
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" or app.user.username == "Mike" %}<li><a href="{{ path('prod') }}?idMag={{idMag}}">Paramètrage Materiels - Produits - Consommables</a></li>{% endif %}
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" or app.user.username == "Mike" %}<li><a href="{{ path('prodvehic') }}?idMag={{idMag}}">Paramètrage Stock Véhicule Materiels - Produits - Consommables</a></li>{% endif %}
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" or app.user.username == "Mike" %}<li><a href="{{ path('stockmag_admin') }}?idMag={{idMag}}">Stock dans tous les magasins</a></li>{% endif %}
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li class="divider"></li>{% endif %}
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('controlag') }}?idMag={{idMag}}">Listing Contrôle Audits Globaux</a></li>{% endif %}
								{% if app.user.username == "FCharcot" or app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('controlag_indexacclient') }}?idMag={{idMag}}">Listing Contrôle Audits Globaux Accès Client</a></li>{% endif %}
								{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" %}<li><a href="{{ path('controlag_create') }}?idMag={{idMag}}">Génération Contrôle Audits Globaux sur l'année {{ "now"|date('Y') }}</a></li>{% endif %}
            					<!-- <li><a href="#">Compte Administrateur</a></li> -->
          					</ul>
        				</li>
						<li><a href="{{ path('PhareosNomadeNetServiceBundle_homemag', { 'id': idMag }) }}"><i class="icon-share-alt icon-white"></i> Accueil Magasin</a></li>
						<li><a href="{{ path('PhareosNomadeNetServiceBundle_homepage') }}"><i class="icon-share-alt icon-white"></i> Choisir un compte</a></li>
						{% if app.session.get('nomGC') == "SEPHORA" %}
						<li class="dropdown" id="DropMenu1"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-book icon-white"></i> Documents <b class="caret"></b> </a>
          					<ul class="dropdown-menu">
            					<li><a href="{{ asset('filedownl/SEPHORA/planning/' ~ lieux.codag ~'.xlsx')}}"  target="_blank">Planning</a></li>
								<li class="divider"></li>
            					<!-- <li><a href="#">Cahier des Charges Gérénale</a></li> -->
								<li><a href="{{ asset('filedownl/SEPHORA/cdc/' ~ lieux.codag ~'.xlsx')}}"  target="_blank">Cahier des Charges Local</a></li>
          					</ul>
        				</li>
						{% endif %}
					</ul>
                    <ul class="nav pull-right">
                    	<li><a href="{{ path('fos_user_profile_show') }}">Connexion: {{ app.user.username }}</a></li>
						<!--<li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.email }}</a></li>-->
						<li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off icon-white"></i> Déconnexion</a></li>
                    </ul>
                    
                </div>
            </div>
			<div style="background-color:#000000">
				<div class="container">
					<table>
						<thead>
							<tr align="left">
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>								
								<th>
									<div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-black"></i> Magasins <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('PhareosNomadeNetServiceBundle_homemagfiche', { 'id': idMag }) }}">Fiche Générale</a></li>
												<li><a href="{{ path('PhareosNomadeNetServiceBundle_homemageditfiche', { 'id': idMag }) }}">Modifier la Fiche Générale</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('tachesprogmag_new') }}?idMag={{idMag}}">Fiche Technique</a></li>
											</ul>
									</div>
								</th>
								<th>
									<div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-calendar icon-black"></i> Planning <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<!-- <li><a href="{{ path('planning_new') }}?idMag={{idMag}}">Créer</a></li> -->
												<!-- <li><a href="{{ path('planning') }}?idMag={{idMag}}">Consulter</a></li> -->
												<!-- <li class="divider"></li> -->
												<li><a href="{{ path('tachesprogmag_plannew') }}?idMag={{idMag}}">Créer</a></li>
												<li><a href="{{ path('tachesprogmag_plannew') }}?idMag={{idMag}}">Consulter</a></li>
											</ul>
									</div>
								</th>
								<th>
									<div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-search icon-black"></i> Audit Qualité <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('audtech_new') }}?idMag={{idMag}}">Nouvel audit qualité</a></li>
												<li><a href="{{ path('audtech') }}?idMag={{idMag}}">Consulter les audits qualité</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('recadrage_new') }}?idMag={{idMag}}">Nouveau recadrage</a></li>
												<li><a href="{{ path('recadrage') }}?idMag={{idMag}}">Listing recadrages</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('audit') }}?idMag={{idMag}}">Consulter les anciens audits qualité</a></li>
											</ul>
									</div>
								</th>
								<th>
									<div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-road icon-black"></i> Audit Global <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('auditmensuel_new') }}?idMag={{idMag}}">Nouvel Audit Global</a></li>
												<li><a href="{{ path('auditmensuel') }}?idMag={{idMag}}">Consulter les audits globaux</a></li>
											</ul>
									</div>
								</th>
								<th>
									<div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-bookmark icon-black"></i> Formation <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('formation_new') }}?idMag={{idMag}}">Nouvelle formation</a></li>
												<li><a href="{{ path('formation') }}?idMag={{idMag}}">Consulter</a></li>
											</ul>
									</div>
								</th>
								<th>
									<div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-flag icon-black"></i> Gestion de Stock <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('prodmag') }}?idMag={{idMag}}">Paramètrage Materiels - Produits</a></li>
												<li><a href="{{ path('stockmag') }}?idMag={{idMag}}">Dépot dans le Magasin - Demande Réapro</a></li>
											</ul>
									</div>
								</th>
								<th>
								</th>
								<th>
								</th>
								<th>
								</th>
								<th>
								</th>
								<th>
									<a href="{{ path('calendar') }}?idMag={{idMag}}"> <i class="icon-calendar icon-white"></i> <b class="caret"></b></a>
									<a href="{{ path('notescom') }}?idMag={{idMag}}"> <i class="icon-comment icon-white"></i> <b class="caret"></b></a>
								</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
		<div class="container">
			<div><h6>Code Magasin: {{ lieux.codag }} - Ville: <font color="firebrick">{{lieux.nomville}} - Adresse: {{lieux.adruelieux}}</font> - Tel: {% if site.telsite %}{{site.telsite}}{% else %}...{% endif %} - Fax: {% if site.faxsite %}{{site.faxsite}}{% else %} ...{% endif %}- Email: {% if site.emailsite %}{{site.emailsite}}{% else %} ...{% endif %} - </h6></div>
			{% if agent1.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">1</i></li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<a href="{{ path('agent_edit', { 'id': agent1.id }) }}">{% endif %}<h6> Agent: {{agent1.nompers}} - {{agent1.PRENOMPERS}}{% if agent1.TELFIXPERS %} - Tel: {{agent1.TELFIXPERS}}{% endif %}{% if agent1.TELPORPERS %} - Port: {{agent1.TELPORPERS}}{% endif %}{% if agent1.EMAILPERS %} - Email: {{agent1.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=1">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if agent2.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">2</i></li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<a href="{{ path('agent_edit', { 'id': agent2.id }) }}">{% endif %}<h6> Agent: {{agent2.nompers}} - {{agent2.PRENOMPERS}}{% if agent1.TELFIXPERS %} - Tel: {{agent2.TELFIXPERS}}{% endif %}{% if agent2.TELPORPERS %} - Port: {{agent2.TELPORPERS}}{% endif %}{% if agent2.EMAILPERS %} - Email: {{agent2.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=2">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if agent3.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">3</i></li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<a href="{{ path('agent_edit', { 'id': agent3.id }) }}">{% endif %}<h6> Agent: {{agent3.nompers}} - {{agent3.PRENOMPERS}}{% if agent3.TELFIXPERS %} - Tel: {{agent3.TELFIXPERS}}{% endif %}{% if agent3.TELPORPERS %} - Port: {{agent3.TELPORPERS}}{% endif %}{% if agent3.EMAILPERS %} - Email: {{agent3.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles"%}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=3">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if agent4.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">4</i></li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<a href="{{ path('agent_edit', { 'id': agent4.id }) }}">{% endif %}<h6> Agent: {{agent4.nompers}} - {{agent4.PRENOMPERS}}{% if agent4.TELFIXPERS %} - Tel: {{agent4.TELFIXPERS}}{% endif %}{% if agent4.TELPORPERS %} - Port: {{agent4.TELPORPERS}}{% endif %}{% if agent4.EMAILPERS %} - Email: {{agent4.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=4">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if agent5.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">5</i></li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<a href="{{ path('agent_edit', { 'id': agent5.id }) }}">{% endif %}<h6> Agent: {{agent5.nompers}} - {{agent5.PRENOMPERS}}{% if agent5.TELFIXPERS %} - Tel: {{agent5.TELFIXPERS}}{% endif %}{% if agent5.TELPORPERS %} - Port: {{agent5.TELPORPERS}}{% endif %}{% if agent5.EMAILPERS %} - Email: {{agent5.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=5">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if agent6.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">6</i></li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<a href="{{ path('agent_edit', { 'id': agent6.id }) }}">{% endif %}<h6> Agent: {{agent6.nompers}} - {{agent6.PRENOMPERS}}{% if agent6.TELFIXPERS %} - Tel: {{agent6.TELFIXPERS}}{% endif %}{% if agent6.TELPORPERS %} - Port: {{agent6.TELPORPERS}}{% endif %}{% if agent6.EMAILPERS %} - Email: {{agent6.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=6">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if agent7.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">7</i></li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<a href="{{ path('agent_edit', { 'id': agent7.id }) }}">{% endif %}<h6> Agent: {{agent7.nompers}} - {{agent7.PRENOMPERS}}{% if agent7.TELFIXPERS %} - Tel: {{agent7.TELFIXPERS}}{% endif %}{% if agent7.TELPORPERS %} - Port: {{agent7.TELPORPERS}}{% endif %}{% if agent7.EMAILPERS %} - Email: {{agent7.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=7">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if agent8.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">8</i></li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<a href="{{ path('agent_edit', { 'id': agent8.id }) }}">{% endif %}<h6> Agent: {{agent8.nompers}} - {{agent8.PRENOMPERS}}{% if agent8.TELFIXPERS %} - Tel: {{agent8.TELFIXPERS}}{% endif %}{% if agent8.TELPORPERS %} - Port: {{agent8.TELPORPERS}}{% endif %}{% if agent8.EMAILPERS %} - Email: {{agent8.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=8">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if agent9.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-success">9</i></li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-edit"></i></li>{% endif %}
							<li>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<a href="{{ path('agent_edit', { 'id': agent9.id }) }}">{% endif %}<h6> Agent: {{agent9.nompers}} - {{agent9.PRENOMPERS}}{% if agent9.TELFIXPERS %} - Tel: {{agent9.TELFIXPERS}}{% endif %}{% if agent9.TELPORPERS %} - Port: {{agent9.TELPORPERS}}{% endif %}{% if agent9.EMAILPERS %} - Email: {{agent9.EMAILPERS}}{% endif %}</h6>{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}</a>{% endif %}</li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=9">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if responsmag1.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-warning">1</i></li>
							<li><i class="icon-edit"></i></li>
							<li><a href="{{ path('nom_responsmag_edit', { 'id': responsmag1.id }) }}"><h6> Resp.: {{responsmag1.nompers}} - {{responsmag1.PRENOMPERS}}{% if responsmag1.TELFIXPERS %} - Tel: {{responsmag1.TELFIXPERS}}{% endif %}{% if responsmag1.TELPORPERS %} - Port: {{responsmag1.TELPORPERS}}{% endif %}{% if responsmag1.EMAILPERS %} - Email: {{responsmag1.EMAILPERS}}{% endif %}</h6></a></li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('nom_responsmag_replaceconfirmaffectation') }}?NumidResp=1">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}
			{% if responsmag2.nompers %}
				<ul class="breadcrumb">
							<li><i class="badge badge-warning">2</i></li>
							<li><i class="icon-edit"></i></li>
							<li><a href="{{ path('nom_responsmag_edit', { 'id': responsmag2.id }) }}"><h6> Resp.: {{responsmag2.nompers}} - {{responsmag2.PRENOMPERS}}{% if responsmag2.TELFIXPERS %} - Tel: {{responsmag2.TELFIXPERS}}{% endif %}{% if responsmag2.TELPORPERS %} - Port: {{responsmag2.TELPORPERS}}{% endif %}{% if responsmag2.EMAILPERS %} - Email: {{responsmag2.EMAILPERS}}{% endif %}</h6></a></li>
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><i class="icon-share-alt"></i></li>{% endif %}
							{% if app.user.username == "Jeff" or app.user.username == "alexisnomade" or app.user.username == "CCharles" %}<li><a href="{{ path('nom_responsmag_replaceconfirmaffectation') }}?NumidResp=2">Remplacer</a></li>{% endif %}
				</ul>
			{% endif %}	
							
			<!--{% if agent2.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=2"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent2.id }) }}"><h6> Agent2: {{agent2.nompers}} - {{agent2.PRENOMPERS}}{% if agent2.TELFIXPERS %} - Tel: {{agent2.TELFIXPERS}}{% endif %}{% if agent2.TELPORPERS %} - Port: {{agent2.TELPORPERS}}{% endif %}{% if agent2.EMAILPERS %} - Email: {{agent2.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent3.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=3"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent3.id }) }}"><h6> Agent3: {{agent3.nompers}} - {{agent3.PRENOMPERS}}{% if agent3.TELFIXPERS %} - Tel: {{agent3.TELFIXPERS}}{% endif %}{% if agent3.TELPORPERS %} - Port: {{agent3.TELPORPERS}}{% endif %}{% if agent3.EMAILPERS %} - Email: {{agent3.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent4.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=4"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent4.id }) }}"><h6> Agent4: {{agent4.nompers}} - {{agent4.PRENOMPERS}}{% if agent4.TELFIXPERS %} - Tel: {{agent4.TELFIXPERS}}{% endif %}{% if agent4.TELPORPERS %} - Port: {{agent4.TELPORPERS}}{% endif %}{% if agent4.EMAILPERS %} - Email: {{agent4.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent5.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=5"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent5.id }) }}"><h6> Agent5: {{agent5.nompers}} - {{agent5.PRENOMPERS}}{% if agent5.TELFIXPERS %} - Tel: {{agent5.TELFIXPERS}}{% endif %}{% if agent5.TELPORPERS %} - Port: {{agent5.TELPORPERS}}{% endif %}{% if agent5.EMAILPERS %} - Email: {{agent5.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent6.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=6"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent6.id }) }}"><h6> Agent6: {{agent6.nompers}} - {{agent6.PRENOMPERS}}{% if agent6.TELFIXPERS %} - Tel: {{agent6.TELFIXPERS}}{% endif %}{% if agent6.TELPORPERS %} - Port: {{agent6.TELPORPERS}}{% endif %}{% if agent6.EMAILPERS %} - Email: {{agent6.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent7.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=7"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent7.id }) }}"><h6> Agent7: {{agent7.nompers}} - {{agent7.PRENOMPERS}}{% if agent7.TELFIXPERS %} - Tel: {{agent7.TELFIXPERS}}{% endif %}{% if agent7.TELPORPERS %} - Port: {{agent7.TELPORPERS}}{% endif %}{% if agent7.EMAILPERS %} - Email: {{agent7.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent8.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=8"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent8.id }) }}"><h6> Agent8: {{agent8.nompers}} - {{agent8.PRENOMPERS}}{% if agent8.TELFIXPERS %} - Tel: {{agent8.TELFIXPERS}}{% endif %}{% if agent8.TELPORPERS %} - Port: {{agent8.TELPORPERS}}{% endif %}{% if agent8.EMAILPERS %} - Email: {{agent8.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent9.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=9"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent9.id }) }}"><h6> Agent9: {{agent9.nompers}} - {{agent9.PRENOMPERS}}{% if agent9.TELFIXPERS %} - Tel: {{agent9.TELFIXPERS}}{% endif %}{% if agent9.TELPORPERS %} - Port: {{agent9.TELPORPERS}}{% endif %}{% if agent9.EMAILPERS %} - Email: {{agent9.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if responsmag1.nompers %}<h6><a href="{{ path('nom_responsmag_replaceconfirmaffectation') }}?NumidResp=1"> <i class="icon-share-alt"></i> Responsable Mag: {{responsmag1.nompers}} - {{responsmag1.PRENOMPERS}}{% if responsmag1.TELFIXPERS %} - Tel: {{responsmag1.TELFIXPERS}}{% endif %}{% if responsmag1.TELPORPERS %} - Port: {{responsmag1.TELPORPERS}}{% endif %}{% if responsmag1.EMAILPERS %} - Email: {{responsmag1.EMAILPERS}}{% endif %}</a></h6>{% endif %}
			{% if responsmag2.nompers %}<h6><a href="{{ path('nom_responsmag_replaceconfirmaffectation') }}?NumidResp=2"> <i class="icon-share-alt"></i> Responsable Mag: {{responsmag2.nompers}} - {{responsmag2.PRENOMPERS}}{% if responsmag2.TELFIXPERS %} - Tel: {{responsmag2.TELFIXPERS}}{% endif %}{% if responsmag2.TELPORPERS %} - Port: {{responsmag2.TELPORPERS}}{% endif %}{% if responsmag2.EMAILPERS %} - Email: {{responsmag2.EMAILPERS}}{% endif %}</a></h6>{% endif %} -->
			<div class="page-header"></div>
{% block contenumagpage %}
{% endblock %}
{% block showlastauditpage %}
{% endblock %}
{% block planningpage %}
{% endblock %}
{% block auditpage %}
{% endblock %}
{% block auditadminpage %}
{% endblock %}
{% block audtechpage %}
{% endblock %}
{% block audtechadminpage %}
{% endblock %}
{% block agentaffectationpage %}
{% endblock %}
{% block deleteaffectationpage %}
{% endblock %}
{% block responsmagaffectationpage %}
{% endblock %}
{% block nom_responsmagnewpage %}
{% endblock %}
{% block agenteditpage %}
{% endblock %}
{% block editnomresponsmagpage %}
{% endblock %}
{% block calendardefaultpage %}
{% endblock %}
{% block auditmensuelnewpage %}
{% endblock %}
{% block auditmensuelpage %}
{% endblock %}
{% block auditmensueleditpage %}
{% endblock %}
{% block auditmensuelshowpage %}
{% endblock %}
{% block formationeditpage %}
{% endblock %}
{% block formationpage %}
{% endblock %}
{% block formationnewpage %}
{% endblock %}
{% block formationshowpage %}
{% endblock %}
{% block reaproeditpage %}
{% endblock %}
{% block reapropage %}
{% endblock %}
{% block reapronewpage %}
{% endblock %}
{% block reaproshowpage %}
{% endblock %}
{% block planningpdfpage %}
{% endblock %}
{% block tachespage %}
{% endblock %}
{% block tachesnewpage %}
{% endblock %}
{% block tachesviewpage %}
{% endblock %}
{% block tacheseditpage %}
{% endblock %}
{% block pocontrqtepage %}
{% endblock %}
{% block pocontrqtenewpage %}
{% endblock %}
{% block pocontrqteeditpage %}
{% endblock %}
{% block pocontrqteshowpage %}
{% endblock %}
{% block frequencenewpage %}
{% endblock %}
{% block frequenceeditpage %}
{% endblock %}
{% block frequenceshowpage %}
{% endblock %}
{% block frequencepage %}
{% endblock %}
{% block fonctioneditpage %}
{% endblock %}
{% block fonctionpage %}
{% endblock %}
{% block fonctionnewpage %}
{% endblock %}
{% block fonctionshowpage %}
{% endblock %}
{% block tachesmagpage %}
{% endblock %}
{% block planingdnewpage %}
{% endblock %}
{% block planjsnewpage %}
{% endblock %}
{% endblock %}