{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}

{% extends 'PhareosNomadeNetServiceBundle::default_layout_magselectpage.html.twig' %}



{% block mag %}
	<div class="navbar">
		<div class="container">
        	<div class="navbar-inner">
            	<div class="container">
                	<ul class="nav">
                    	<li><a class="brand" href="{{ path('PhareosNomadeNetServiceBundle_homemagclient', { 'id': idMag }) }}">Altea Nomade Accès Client</a></li>
					</ul>
                    <ul class="nav pull-right">
                    	<li><a href="#">Connexion: {{ app.user.username }}</a></li>
						<!--<li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.email }}</a></li>-->
						<li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off icon-white"></i> Déconnexion</a></li>
                    </ul>
                    
                </div>
            </div>
			<div style="background-color:#000000">
				<div class="container">
					<table>
						<thead>
							<tr align="left">
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th>
									<div class="btn-group">
										<button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-black"></i> Accès Client <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li><a href="{{ path('PhareosNomadeNetServiceBundle_homemagclient', { 'id': idMag }) }}">Listing Contrôle Audits</a></li>
												<li><a href="{{ path('notescomclient') }}?idMag={{idMag}}">Bloc note</a></li>
											</ul>
									</div>
								</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
		<div class="container">
			
							
			<!--{% if agent2.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=2"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent2.id }) }}"><h6> Agent2: {{agent2.nompers}} - {{agent2.PRENOMPERS}}{% if agent2.TELFIXPERS %} - Tel: {{agent2.TELFIXPERS}}{% endif %}{% if agent2.TELPORPERS %} - Port: {{agent2.TELPORPERS}}{% endif %}{% if agent2.EMAILPERS %} - Email: {{agent2.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent3.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=3"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent3.id }) }}"><h6> Agent3: {{agent3.nompers}} - {{agent3.PRENOMPERS}}{% if agent3.TELFIXPERS %} - Tel: {{agent3.TELFIXPERS}}{% endif %}{% if agent3.TELPORPERS %} - Port: {{agent3.TELPORPERS}}{% endif %}{% if agent3.EMAILPERS %} - Email: {{agent3.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent4.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=4"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent4.id }) }}"><h6> Agent4: {{agent4.nompers}} - {{agent4.PRENOMPERS}}{% if agent4.TELFIXPERS %} - Tel: {{agent4.TELFIXPERS}}{% endif %}{% if agent4.TELPORPERS %} - Port: {{agent4.TELPORPERS}}{% endif %}{% if agent4.EMAILPERS %} - Email: {{agent4.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent5.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=5"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent5.id }) }}"><h6> Agent5: {{agent5.nompers}} - {{agent5.PRENOMPERS}}{% if agent5.TELFIXPERS %} - Tel: {{agent5.TELFIXPERS}}{% endif %}{% if agent5.TELPORPERS %} - Port: {{agent5.TELPORPERS}}{% endif %}{% if agent5.EMAILPERS %} - Email: {{agent5.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent6.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=6"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent6.id }) }}"><h6> Agent6: {{agent6.nompers}} - {{agent6.PRENOMPERS}}{% if agent6.TELFIXPERS %} - Tel: {{agent6.TELFIXPERS}}{% endif %}{% if agent6.TELPORPERS %} - Port: {{agent6.TELPORPERS}}{% endif %}{% if agent6.EMAILPERS %} - Email: {{agent6.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent7.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=7"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent7.id }) }}"><h6> Agent7: {{agent7.nompers}} - {{agent7.PRENOMPERS}}{% if agent7.TELFIXPERS %} - Tel: {{agent7.TELFIXPERS}}{% endif %}{% if agent7.TELPORPERS %} - Port: {{agent7.TELPORPERS}}{% endif %}{% if agent7.EMAILPERS %} - Email: {{agent7.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent8.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=8"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent8.id }) }}"><h6> Agent8: {{agent8.nompers}} - {{agent8.PRENOMPERS}}{% if agent8.TELFIXPERS %} - Tel: {{agent8.TELFIXPERS}}{% endif %}{% if agent8.TELPORPERS %} - Port: {{agent8.TELPORPERS}}{% endif %}{% if agent8.EMAILPERS %} - Email: {{agent8.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if agent9.nompers %}<a href="{{ path('agent_replaceconfirmaffectation') }}?NumidAgent=9"><i class="icon-share-alt"></i></a><a href="{{ path('agent_edit', { 'id': agent9.id }) }}"><h6> Agent9: {{agent9.nompers}} - {{agent9.PRENOMPERS}}{% if agent9.TELFIXPERS %} - Tel: {{agent9.TELFIXPERS}}{% endif %}{% if agent9.TELPORPERS %} - Port: {{agent9.TELPORPERS}}{% endif %}{% if agent9.EMAILPERS %} - Email: {{agent9.EMAILPERS}}{% endif %}</h6></a>{% endif %}
			{% if responsmag1.nompers %}<h6><a href="{{ path('nom_responsmag_replaceconfirmaffectation') }}?NumidResp=1"> <i class="icon-share-alt"></i> Responsable Mag: {{responsmag1.nompers}} - {{responsmag1.PRENOMPERS}}{% if responsmag1.TELFIXPERS %} - Tel: {{responsmag1.TELFIXPERS}}{% endif %}{% if responsmag1.TELPORPERS %} - Port: {{responsmag1.TELPORPERS}}{% endif %}{% if responsmag1.EMAILPERS %} - Email: {{responsmag1.EMAILPERS}}{% endif %}</a></h6>{% endif %}
			{% if responsmag2.nompers %}<h6><a href="{{ path('nom_responsmag_replaceconfirmaffectation') }}?NumidResp=2"> <i class="icon-share-alt"></i> Responsable Mag: {{responsmag2.nompers}} - {{responsmag2.PRENOMPERS}}{% if responsmag2.TELFIXPERS %} - Tel: {{responsmag2.TELFIXPERS}}{% endif %}{% if responsmag2.TELPORPERS %} - Port: {{responsmag2.TELPORPERS}}{% endif %}{% if responsmag2.EMAILPERS %} - Email: {{responsmag2.EMAILPERS}}{% endif %}</a></h6>{% endif %} -->
			<div class="page-header"></div>
			
{% block contenumagpage %}
{% endblock %}
{% block showlastauditpage %}
{% endblock %}
{% block planningpage %}
{% endblock %}
{% block auditpage %}
{% endblock %}
{% block auditadminpage %}
{% endblock %}
{% block audtechpage %}
{% endblock %}
{% block audtechadminpage %}
{% endblock %}
{% block agentaffectationpage %}
{% endblock %}
{% block deleteaffectationpage %}
{% endblock %}
{% block responsmagaffectationpage %}
{% endblock %}
{% block nom_responsmagnewpage %}
{% endblock %}
{% block agenteditpage %}
{% endblock %}
{% block editnomresponsmagpage %}
{% endblock %}
{% block calendardefaultpage %}
{% endblock %}
{% block auditmensuelnewpage %}
{% endblock %}
{% block auditmensuelpage %}
{% endblock %}
{% block auditmensueleditpage %}
{% endblock %}
{% block auditmensuelshowpage %}
{% endblock %}
{% block formationeditpage %}
{% endblock %}
{% block formationpage %}
{% endblock %}
{% block formationnewpage %}
{% endblock %}
{% block formationshowpage %}
{% endblock %}
{% block reaproeditpage %}
{% endblock %}
{% block reapropage %}
{% endblock %}
{% block reapronewpage %}
{% endblock %}
{% block reaproshowpage %}
{% endblock %}
{% block planningpdfpage %}
{% endblock %}
{% block tachespage %}
{% endblock %}
{% block tachesnewpage %}
{% endblock %}
{% block tachesviewpage %}
{% endblock %}
{% block tacheseditpage %}
{% endblock %}
{% block pocontrqtepage %}
{% endblock %}
{% block pocontrqtenewpage %}
{% endblock %}
{% block pocontrqteeditpage %}
{% endblock %}
{% block pocontrqteshowpage %}
{% endblock %}
{% block frequencenewpage %}
{% endblock %}
{% block frequenceeditpage %}
{% endblock %}
{% block frequenceshowpage %}
{% endblock %}
{% block frequencepage %}
{% endblock %}
{% block fonctioneditpage %}
{% endblock %}
{% block fonctionpage %}
{% endblock %}
{% block fonctionnewpage %}
{% endblock %}
{% block fonctionshowpage %}
{% endblock %}
{% block tachesmagpage %}
{% endblock %}
{% block planingdnewpage %}
{% endblock %}
{% block planjsnewpage %}
{% endblock %}
{% endblock %}