{% extends 'PhareosPointageServiceBundle:Default:index.html.twig' %}

{% block agenteditpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>Modification Agent {{ entity.nompers }}</h4></div>

<form action="{{ path('agents_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.nom_pers, "Nom") }}</th>
							<th>{{ form_label(edit_form.prenom_pers, "Prénom") }}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.nom_pers) }}</td>
							<td align="center">{{ form_widget(edit_form.prenom_pers) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.adres1, "Adresse 1") }}</th>
							<th>{{ form_label(edit_form.adres2, "Adresse 2") }}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.adres1) }}</td>
							<td align="center">{{ form_widget(edit_form.adres2) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.cp, "Code Postal") }}</th>
							<th>{{ form_label(edit_form.ville, "Ville") }}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.cp) }}</td>
							<td align="center">{{ form_widget(edit_form.ville) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.telfix_pers, "Téléphone") }}</th>
							<th>{{ form_label(edit_form.telport_pers, "Mobile") }}</th>
							<th>{{ form_label(edit_form.email_pers, "Mail") }}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.telfix_pers) }}</td>
							<td align="center">{{ form_widget(edit_form.telport_pers) }}</td>
							<td align="center">{{ form_widget(edit_form.email_pers) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Civilité</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>{{ form_label(edit_form.sexe, "Sexe") }}</th>
							<th>{{ form_label(edit_form.nationalite, "Nationalité") }}</th>
							<th>{{ form_label(edit_form.num_ss, "Num SS") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.sexe) }}</td>
							<td align="center">{{ form_widget(edit_form.nationalite) }}</td>
							<td align="center">{{ form_widget(edit_form.num_ss) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(edit_form.num_cs, "Num Carte de Séjour") }}</th>
							<th>{{ form_label(edit_form.validite_cs, "Date Fin C.D.S.") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.num_cs) }}</td>
							<td align="center">{{ form_widget(edit_form.validite_cs) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Divers</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>{{ form_label(edit_form.vehicule, "Véhicule") }}</th>
							<th>{{ form_label(edit_form.permis, "Permis") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.vehicule) }}</td>
							<td align="center">{{ form_widget(edit_form.permis) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(edit_form.commentaires, "Commentaires") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.commentaires) }}</td>
						</tr>
						</tbody>
</table>
    {{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-success" type="submit">Enregistrer</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('agents') }}">
            Retour à la liste
        </a>
    </li>
</ul>
</div>
{% endblock %}