{% extends 'PhareosPointageServiceBundle:Default:index.html.twig' %}

{% block agentsnewpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>Nouvel Agent</h4></div>

<form action="{{ path('agents_create') }}" method="post" {{ form_enctype(form) }}>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.nom_pers, "Nom") }}</th>
							<th>{{ form_label(form.prenom_pers, "Prénom") }}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.nom_pers) }}</td>
							<td align="center">{{ form_widget(form.prenom_pers) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.adres1, "Adresse 1") }}</th>
							<th>{{ form_label(form.adres2, "Adresse 2") }}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.adres1) }}</td>
							<td align="center">{{ form_widget(form.adres2) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.cp, "Code Postal") }}</th>
							<th>{{ form_label(form.ville, "Ville") }}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.cp) }}</td>
							<td align="center">{{ form_widget(form.ville) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.telfix_pers, "Téléphone") }}</th>
							<th>{{ form_label(form.telport_pers, "Mobile") }}</th>
							<th>{{ form_label(form.email_pers, "Mail") }}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.telfix_pers) }}</td>
							<td align="center">{{ form_widget(form.telport_pers) }}</td>
							<td align="center">{{ form_widget(form.email_pers) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Civilité</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>{{ form_label(form.sexe, "Sexe") }}</th>
							<th>{{ form_label(form.nationalite, "Nationalité") }}</th>
							<th>{{ form_label(form.num_ss, "Num SS") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.sexe) }}</td>
							<td align="center">{{ form_widget(form.nationalite) }}</td>
							<td align="center">{{ form_widget(form.num_ss) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(form.num_cs, "Num Carte de Séjour") }}</th>
							<th>{{ form_label(form.validite_cs, "Date Fin C.D.S.") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.num_cs) }}</td>
							<td align="center">{{ form_widget(form.validite_cs) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Divers</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>{{ form_label(form.vehicule, "Véhicule") }}</th>
							<th>{{ form_label(form.permis, "Permis") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.vehicule) }}</td>
							<td align="center">{{ form_widget(form.permis) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(form.commentaires, "Commentaires") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.commentaires) }}</td>
						</tr>
						</tbody>
</table>
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">Sauvegarder</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('agents') }}">
            Retour à la liste
        </a>
    </li>
</ul>
</div>
{% endblock %}