{% extends 'PhareosPointageServiceBundle:Default:index.html.twig' %}


{% block agentshowpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>Agent {{ entity.nompers }}</h4></div>

<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Nom</th>
							<th>Prénom</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.nompers }}</td>
							<td align="center">{{ entity.prenompers }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Adresse 1</th>
							<th>Adresse 2</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.adres1 }}</td>
							<td align="center">{{ entity.adres2 }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Code Postal</th>
							<th>Ville</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.cp }}</td>
							<td align="center">{{ entity.ville }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Téléphone</th>
							<th>Mobile</th>
							<th>Mail</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ entity.telfixpers }}</td>
							<td align="center">{{ entity.telportpers }}</td>
							<td align="center">{{ entity.emailpers }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Civilité</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>Sexe</th>
							<th>Nationalité</th>
							<th>Num SS</th>
						</tr>
						<tr>
							<td align="center">{{ entity.sexe }}</td>
							<td align="center">{{ entity.nationalite }}</td>
							<td align="center">{{ entity.numss }}</td>
						</tr>
						<tr>
							<th>Num Carte de Séjour</th>
							<th>Date Fin C.D.S.</th>
						</tr>
						<tr>
							<td align="center">{{ entity.numcs }}</td>
							<td align="center">{{ entity.validitecs }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Divers</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>Véhicule</th>
							<th>Permis</th>
						</tr>
						<tr>
							<td align="center">{{ entity.vehicule }}</td>
							<td align="center">{{ entity.permis }}</td>
						</tr>
						<tr>
							<th>Commentaires</th>
						</tr>
						<tr>
							<td align="center">{{ entity.commentaires }}</td>
						</tr>
						</tbody>
</table>
<p>
	<form action="{{ path('agents_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Supprimer</button>
	</form>
</p>
<p>
	<a class="btn btn-warning" href="{{ path('agents_edit', { 'id': entity.id }) }}">
            Modifier
	</a>
</p>
<ul class="record_actions">
    <li>
        <a href="{{ path('agents') }}">
            Retour à la liste
        </a>
    </li>
</ul>
</div>
{% endblock %}