{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block tachespage %} 
{{ parent() }}
<h4>Listing des Nomenclatures</h4>
<br></br>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable13">
    <thead>
        <tr>
            <th>Fonction</th>
			<th>Nomenclature</th>
			<th>Fréquence</th>
            <th>Durée H:Min</th>
			<th><i class="icon-remove icon-red"></i> Supprimer</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.fonction.nom }}</td>
			<td>{{ entity.tache }}</td>
			<td>{{ entity.frequence.nom }}</td>
            <td align="center">{{ entity.duree|date('H:i') }}</td>
			<td align="center"><a href="{{ path('tachesprog_delete', { 'id': entity.id }) }}"><i class="icon-remove icon-red"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
</br>
<div class="container">
<form action="{{ path('tachesprog_create') }}" method="post" {{ form_enctype(form) }}>
    <table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Nomenclature</th>
			<th>Fonction</th>
			<th>Fréquence</th>
            <th>Durée H:Min</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ form_widget(form.tache) }}</td>
			<td>{{ form_widget(form.fonction) }}</td>
			<td>{{ form_widget(form.frequence) }}</td>
            <td>{{ form_widget(form.duree) }}</td>
        </tr>
    </tbody>
</table>
	
	{{ form_rest(form) }}
	<br>
	</br>
    <p>
        <button class="btn btn-primary" type="submit">Ajouter</button>
    </p>
</form>
</div>
{% endblock %}