{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditmensuelpage %} 
{{ parent() }}
<h4>{% trans %}Listing des Audits Mensuels{% endtrans %}</h4>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable10">
    <thead>
		<tr>
			<th>{% trans %}Num{% endtrans %}</th>
			<th>{% trans %}R.S.{% endtrans %}</th>
			<th>{% trans %}Magasin{% endtrans %}</th>
			<th>{% trans %}Date de Réunion{% endtrans %}:</th>
			<th>{% trans %}Jour Réunion{% endtrans %}</th>
			<th>{% trans %}Date Rdz Vous{% endtrans %}:</th>
			<th>{% trans %}Jour Rdz Vous{% endtrans %}</th>
			<th>{% trans %}Dispo Dir{% endtrans %}</th>
            <th><i class="icon-eye-open"></i> {% trans %}Voir{% endtrans %}</th>
			<th><i class="icon-edit"></i>{% trans %} Modifier{% endtrans %}</th>
			<th><i class="icon-file"></i>{% trans %}PDF{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
			<td>{{ entity.id }}</td>
			<td>{{ entity.responsecteur }}</td>
			<td>{% if entity.dispodir == 1 %}<font color="red">{{ entity.ptvente }}</font>{% else %}{{ entity.ptvente }}{% endif %}</td>
			<td>{% if entity.datereunion %}{{ entity.datereunion|date('d-m-Y H:i') }}{% endif %}</td>
			<td>
			{% if entity.datereunion|date('D') == entity.dateprochre|date('D') %}
			<font color="blue">	
			{% if entity.datereunion %}
				{% if entity.datereunion|date('D') == 'Mon' %}
				{% trans %}Lundi{% endtrans %}
				{% elseif entity.datereunion|date('D') == 'Tue' %}
				{% trans %}Mardi{% endtrans %}
				{% elseif entity.datereunion|date('D') == 'Wed' %}
				{% trans %}Mercredi{% endtrans %}
				{% elseif entity.datereunion|date('D') == 'Thu' %}
				{% trans %}Jeudi{% endtrans %}
				{% elseif entity.datereunion|date('D') == 'Fri' %}
				{% trans %}Vendredi{% endtrans %}
				{% else %}
				{% trans %}Samedi{% endtrans %}
				{% endif %}
			{% endif %}
			</font>
		{% else %}
			<font color="red">
			{% if entity.datereunion %}
				{% if entity.datereunion|date('D') == 'Mon' %}
				{% trans %}Lundi{% endtrans %}
				{% elseif entity.datereunion|date('D') == 'Tue' %}
				{% trans %}Mardi{% endtrans %}
				{% elseif entity.datereunion|date('D') == 'Wed' %}
				{% trans %}Mercredi{% endtrans %}
				{% elseif entity.datereunion|date('D') == 'Thu' %}
				{% trans %}Jeudi{% endtrans %}
				{% elseif entity.datereunion|date('D') == 'Fri' %}
				{% trans %}Vendredi{% endtrans %}
				{% else %}
				{% trans %}Samedi{% endtrans %}
				{% endif %}
			{% endif %}
			</font>
		{% endif %}
			</td>
			<td>{% if entity.dateprochre %}{{ entity.dateprochre|date('d-m-Y') }}{% endif %}</td>
			<td>
			{% if entity.datereunion|date('D') == entity.dateprochre|date('D') %}
			<font color="blue">	
			{% if entity.dateprochre %}
				{% if entity.dateprochre|date('D') == 'Mon' %}
				{% trans %}Lundi{% endtrans %}
				{% elseif entity.dateprochre|date('D') == 'Tue' %}
				{% trans %}Mardi{% endtrans %}
				{% elseif entity.dateprochre|date('D') == 'Wed' %}
				{% trans %}Mercredi{% endtrans %}
				{% elseif entity.dateprochre|date('D') == 'Thu' %}
				{% trans %}Jeudi{% endtrans %}
				{% elseif entity.dateprochre|date('D') == 'Fri' %}
				{% trans %}Vendredi{% endtrans %}
				{% else %}
				{% trans %}Samedi{% endtrans %}
				{% endif %}
			{% endif %}
			</font>
		{% else %}
			<font color="red">
			{% if entity.dateprochre %}
				{% if entity.dateprochre|date('D') == 'Mon' %}
				{% trans %}Lundi{% endtrans %}
				{% elseif entity.dateprochre|date('D') == 'Tue' %}
				{% trans %}Mardi{% endtrans %}
				{% elseif entity.dateprochre|date('D') == 'Wed' %}
				{% trans %}Mercredi{% endtrans %}
				{% elseif entity.dateprochre|date('D') == 'Thu' %}
				{% trans %}Jeudi{% endtrans %}
				{% elseif entity.dateprochre|date('D') == 'Fri' %}
				{% trans %}Vendredi{% endtrans %}
				{% else %}
				{% trans %}Samedi{% endtrans %}
				{% endif %}
			{% endif %}
			</font>
		{% endif %}
			</td>
            <td align="center">{% if entity.dispodir == 1 %}<a href="{{ path('auditmensuel_show', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-flag icon-red"></i>{% else %} - {% endif %}</td>
			<td align="center"><a href="{{ path('auditmensuel_show', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-eye-open"></i></a></td>
			<td align="center">{% if entity.nomsignaltea is none %}<a href="{{ path('auditmensuel_edit', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-edit"></i></a>{% else %}<i class="icon-ban-circle">{% endif %}</td>
			<td align="center">{% if entity.nomsignaltea is none %}<i class="icon-ban-circle">{% else %}<a href="{{ path('auditmensuel_showpdf', { 'id': entity.id }) }}?idMag={{idMag}}" target="_blank"><i class="icon-download"></a>{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
</br>
<ul>
        <a class="btn btn-primary" href="{{ path('auditmensuel_new') }}?idMag={{idMag}}">
            {% trans %}Nouvel Audit Mensuel{% endtrans %}
        </a>
</ul>
{% endblock %}