{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditmensuelnewpage %} 
{{ parent() }}
<h4>{% trans %}Nouveau Rdz Vous Audit Global{% endtrans %}</h4>
<br></br>
<div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
						{% trans %}Audit sur papier{% endtrans %}
				</a>
			</div>
			<div style="height: auto;" id="collapseOne" class="accordion-body in collapse">
				<div class="accordion-inner">
<h4>{% trans %}Audit réalisé sur document papier{% endtrans %}</h4>
<br></br>
<form action="{{ path('auditmensuel_createpaper') }}" method="post" {{ form_enctype(form_paper) }}>
{{ form_widget(form_paper.fileimgpaper) }}
{{ form_rest(form_paper) }}
<p>
<button class="btn btn-primary" type="submit" value="submit">{% trans %}Envoyer{% endtrans %}</button>
</p>
</form>
</div>
</div>
</div>
<form action="{{ path('auditmensuel_create') }}" method="post" {{ form_enctype(form) }}>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Point de vente{% endtrans %}</td>
				<td>{% trans %}Date Réunion{% endtrans %}</td>
				<td>{% trans %}Heure de la Réunion{% endtrans %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input size="16" type="text" value="{{ poinvente }}" name="ptvente"></td>
				<td><div class="input-append date" id="datepicker2" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y') }} name="datereunion">
				<span class="add-on"><i class="icon-th"></i></span>
				</td>
				<td>
				<div class="input-append bootstrap-timepicker">
					<input id="timepicker11" value={{ "now"|date('H:i') }} type="text" class="input-small" name="heurereunion">
					<span class="add-on"><i class="icon-time"></i></span>
				</div>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Participants{% endtrans %}:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Reponsable Secteur Altéa{% endtrans %}: <p><input size="16" type="text" value="{{ respSecteur }}" name="responsecteur"></p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Contrôle Administratif{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Les récépissés DUE des agents ont-elles bien été transmises {% endtrans %}?: <p>{{ form_widget(form.recepagent) }}</td>
				<td>{% trans %}Les agents portent-ils bien leur tenue de travail {% endtrans %}?: <p>{{ form_widget(form.tenutrav) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Le 3620 (pointage virtuel) est-il fait quotidiennement par les agents {% endtrans %}?: <p>{{ form_widget(form.pointagev) }}</td>
				<td>{% trans %}Des problèmes de retard ou d'absences sont-ils signalés {% endtrans %}?: <p>{{ form_widget(form.absence) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Ces absences ont-elles été remplacés / rattrapés {% endtrans %}?: <p>{{ form_widget(form.absrempl) }}</p></td>
				<td>{% trans %}Le planning est-il respecté par les agents {% endtrans %}?: <p>{{ form_widget(form.planrespect) }}</p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Contrôle Qualité{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>{% trans %}La qualité du service rendu est-elle satisafaisante {% endtrans %}?:</th>
				<td></td>
			</tr>
			<tr>
				<td>{% trans %}Pour les tâches quotidiennes{% endtrans %}:<p>{{ form_widget(form.qualitserv) }}</p></td>
				<td>{% trans %}Pour les rotation de fond{% endtrans %}:<p>{{ form_widget(form.qualitrotf) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Pour les sols{% endtrans %}:<p>{{ form_widget(form.qualitsol) }}</p></td>
				<td>{% trans %}Observations sur la qualité du magasin{% endtrans %}: <p>{{ form_widget(form.observqual) }}</p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Evolution de la prestation{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Depuis le mois dernier, Altéa Propreté a-t-il mené les actions correctrices nécessaires {% endtrans %}?: <p>{{ form_widget(form.corection) }}</p></td>
				<td>{% trans %}Comment le magasin juge-t-il l'évolution de la prestation de service {% endtrans %}?: <p>{{ form_widget(form.evolprest) }}</p></td>
			</tr>
			<tr>
				<td><p>{{ form_widget(form.corectionras) }}</p></td>
				<td></td>
			</tr>
			<tr>
				<td>{% trans %}Précision{% endtrans %}: <p>{{ form_widget(form.observevol) }}</p></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Date de la prochaine réunion{% endtrans %}:</th>
				<th>{% trans %}Heure de la prochaine réunion{% endtrans %}:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><div class="input-append date" id="datepicker3" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y') }} name="dateprochre">
				<span class="add-on"><i class="icon-th"></i></span>
				</td>
				<td>
				<div class="input-append bootstrap-timepicker">
					<input id="timepicker12" value={{ "now"|date('H:i') }} type="text" class="input-small" name="heureprochre">
					<span class="add-on"><i class="icon-time"></i></span>
				</div>
				</td>
			</tr>
		</tbody>
	</table>
    {{ form_rest(form) }}
    <div class="row">
	<div class="span4">
	<p>
        <button class="btn btn-primary" type="submit" value="submit">{% trans %}Enregistrer{% endtrans %}</button>
		<button class="btn" type="reset" value="reset">{% trans %}Annuler{% endtrans %}</button>
    </p>
	</div>
	<div class="span8">
	</div>
	</div>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('auditmensuel') }}?idMag={{idMag}}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}