{% trans %}Bonjour,{% endtrans %}

{% trans %}Comme convenu lors du passage de votre chargé de secteur, voici la confirmation
de votre futur Rendez-vous prévu pour le {% endtrans %}{{ entity.dateprochre|date('d-m-Y') }} à {{ entity.dateprochre|date('H') }}H{{ entity.dateprochre|date('i') }}
{% trans %}avec Mme{% endtrans %} {{ entity.responsecteur }}
{% trans %}Vous trouverez également ci-joint le fichier PDF de l'Audit Global réalisé aujourd'hui{% endtrans %}.

{% trans %}En vous souhaitant une bonne journée{% endtrans %}.

{% trans %}Cordialement{% endtrans %}

Altéa Propreté
23-25 rue Jean Jacques Rousseau
75001  PARIS
RCS 537 437 485
Mail: contact@altea-proprete.com
Tel : 0890 80 61 61



