{% trans %}Bonjour,{% endtrans %}

{% trans %}Vous venez de recevoir un mail de l'application Nomade{% endtrans %}
{% trans %}Absence d'une signature sur l'Audit Global du{% endtrans %} {{ datereunion2|date('d-m-Y') }},
{% trans %}Responsable du magasin{% endtrans %} {{ ptvente }}


{% trans %}vous pouvez vous connecter à l'application pour visualiser l'audit global concerné{% endtrans %}
{% trans %}(menu administration -> listing de tous les audits globaux) à l'adresse suivante{% endtrans %}:
http://phareoscloud.org
{% trans %}muni de vos codes d'accès Nomade{% endtrans %}
{% trans %}si vous êtes déjà connecté sur un autre profil il faut vous déconnecter{% endtrans %}
{% trans %}puis vous reconnecter sur le profil Nomade{% endtrans %}

{% trans %}Cordialement{% endtrans %}
{% trans %}Pharéos Applications{% endtrans %}


{% trans %}ps: ce message vous est envoyé par un logiciel vous ne pouvez répondre directement à ce message{% endtrans %}