{% trans %}Bonjour,{% endtrans %}

{% trans %}Vous venez de recevoir un mail de l'application Nomade{% endtrans %}
{% trans %}Point négatif sur l'Audit Global du{% endtrans %} {{ entity.datereunion|date('d-m-Y') }},
{% trans %}Magasin{% endtrans %} {{ entity.ptvente }}

{% trans %}Responsable Secteur{% endtrans %}: {{ entity.responsecteur }}

{% if entity.recepagent == 1 %}{% else %}{% trans %}Problème sur les DUE(s){% endtrans %}{% endif %}
{% if entity.pointagev == 1 %}{% else %}{% trans %}Problème sur le 3620{% endtrans %}{% endif %}
{% if entity.tenutrav == 1 %}{% else %}{% trans %}Problème sur la tenue de travail{% endtrans %}{% endif %}
{% if entity.absence == 1 %}{% else %}{% trans %}Problème de retard ou d'absence{% endtrans %}{% endif %}
{% if entity.absrempl == 1 %}{% else %}{% trans %}Problème sur le remplacement des absences{% endtrans %}{% endif %}
{% if entity.planrespect == 1 %}{% else %}{% trans %}Problème sur le planning{% endtrans %}{% endif %}
{% if entity.qualitserv == 'PAS SATISFAISANTE' %}{% trans %}Tâches quotidiennes Insatisfaisantes{% endtrans %}{% endif %}
{% if entity.qualitrotf == 'PAS SATISFAISANTE' %}{% trans %}Rotation de fond Insatisfaisant{% endtrans %}{% endif %}
{% if entity.qualitsol == 'PAS SATISFAISANTE' %}{% trans %}Qualité du sol Insatisfaisant{% endtrans %}{% endif %}

{{ observqual1 }}
{{ observqual2 }}
{{ observqual3 }}
{{ observqual4 }}
{{ observqual5 }}
{{ observqual6 }}

{% if entity.corection == 1 %}{% else %}{% trans %}Actions correctrices Non menées a bien par l'agent{% endtrans %}{% endif %}
{% if entity.evolprest == 'EN REGRESSION' %}{% trans %}Evolution de la prestation en régression{% endtrans %}{% endif %}

{{ observevol1 }}
{{ observevol2 }}
{{ observevol3 }}
{{ observevol4 }}
{{ observevol5 }}
{{ observevol6 }}

{% trans %}Cordialement{% endtrans %}

{% trans %}Pharéos Applications{% endtrans %}


{% trans %}ps: ce message vous est envoyé par un logiciel vous ne pouvez répondre directement à ce message{% endtrans %}

