{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block reapropage %} 
{{ parent() }}
<h4>{% trans %}Listing Réapro{% endtrans %}</h4>
<br></br>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
			<th>{% trans %}Date de la demande{% endtrans %}:</th>
            <th><i class="icon-eye-open"></i></th>
			<th><i class="icon-edit"></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
			<td><a href="{{ path('reapronom_show', { 'id': entity.id }) }}?idMag={{idMag}}">{% if entity.datedemande %}{{ entity.datedemande|date('d-m-Y') }}{% endif %}</a></td>
            <td><a href="{{ path('reapronom_show', { 'id': entity.id }) }}?idMag={{idMag}}">{% trans %}Voir{% endtrans %}</a></td>
			<td><a href="{{ path('reapronom_edit', { 'id': entity.id }) }}?idMag={{idMag}}">{% trans %}Modifier{% endtrans %}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
        <a class="btn btn-primary" href="{{ path('reapronom_new') }}?idMag={{idMag}}">
            {% trans %}Nouvel demande de réapro{% endtrans %}
        </a>
</ul>
{% endblock %}