{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block reapronewpage %} 
{{ parent() }}
<h4>{% trans %}Demande de réapro{% endtrans %}</h4>

<form action="{{ path('reapronom_create') }}" method="post" {{ form_enctype(form) }}>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Site{% endtrans %}</td>
				<td>{% trans %}Date de la demande{% endtrans %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input size="16" type="text" value={{ app.session.get('nomGC') ~ "-" ~ lieux.nomville ~ "-" ~ lieux.codag }} name="site3"></td>
				<td>{{ form_widget(form.datedemande) }}</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Responsable de secteur{% endtrans %}</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input size="16" type="text" value={{ app.session.get('nomUSER') }} name="nomrespsect"></p></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Produits{% endtrans %}:</th>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Produit 1{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(form.prod01) }}</td>
				<td>{{ form_widget(form.prod01qte) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Produit 2{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(form.prod02) }}</td>
				<td>{{ form_widget(form.prod02qte) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Produit 3{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(form.prod03) }}</td>
				<td>{{ form_widget(form.prod03qte) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Produit 4{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(form.prod04) }}</td>
				<td>{{ form_widget(form.prod04qte) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Produit 5{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(form.prod05) }}</td>
				<td>{{ form_widget(form.prod05qte) }}</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Materiel{% endtrans %}:</th>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Materiel 1{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(form.mat01) }}</td>
				<td>{{ form_widget(form.mat01qte) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Materiel 2{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(form.mat02) }}</td>
				<td>{{ form_widget(form.mat02qte) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Materiel 3{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(form.mat03) }}</td>
				<td>{{ form_widget(form.mat03qte) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Materiel 4{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(form.mat04) }}</td>
				<td>{{ form_widget(form.mat04qte) }}</td>
			</tr>
			<tr>
				<td>{% trans %}Materiel 5{% endtrans %}:</td>
				<td>{% trans %}Quantité{% endtrans %}:</td>
			</tr>
			<tr>
				<td>{{ form_widget(form.mat05) }}</td>
				<td>{{ form_widget(form.mat05qte) }}</td>
			</tr>
		</tbody>
	</table>
    {{ form_rest(form) }}
    <p>
        <button type="submit">{% trans %}Create{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('reapronom') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}