<h1>{% trans %}stockcom list{% endtrans %}</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <th>{% trans %}Com{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('stockcom_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.com }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('stockcom_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('stockcom_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('stockcom_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>
