{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block collaborateureditpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>Modification Collaborateur {{ entity.nom }}</h4></div>

<form action="{{ path('collaborateur_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Département</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_label(edit_form.departements, "Dept: ") }}{{ form_widget(edit_form.departements) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.nom, "Nom") }}</th>
							<th>{{ form_label(edit_form.prenom, "Prénom") }}</th>
							<th>{{ form_label(edit_form.nomjeunefille, "Nom de Jeune Fille") }}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.nom) }}</td>
							<td align="center">{{ form_widget(edit_form.prenom) }}</td>
							<td align="center">{{ form_widget(edit_form.nomjeunefille) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.adres1, "Adresse 1") }}</th>
							<th>{{ form_label(edit_form.adres2, "Adresse 2") }}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.adres1) }}</td>
							<td align="center">{{ form_widget(edit_form.adres2) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.cp, "Code Postal") }}</th>
							<th>{{ form_label(edit_form.ville, "Ville") }}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.cp) }}</td>
							<td align="center">{{ form_widget(edit_form.ville) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.tel, "Téléphone") }}</th>
							<th>{{ form_label(edit_form.mobile, "Mobile") }}</th>
							<th>{{ form_label(edit_form.mail, "Mail") }}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.tel) }}</td>
							<td align="center">{{ form_widget(edit_form.mobile) }}</td>
							<td align="center">{{ form_widget(edit_form.mail) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Civilité</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>{{ form_label(edit_form.datenaissance, "Date de Naissance") }}</th>
							<th>{{ form_label(edit_form.lieunaissance, "Lieu de Naissance") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.datenaissance) }}</td>
							<td align="center">{{ form_widget(edit_form.lieunaissance) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(edit_form.sexe, "Sexe") }}</th>
							<th>{{ form_label(edit_form.situatfam, "Situation Familliale") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.sexe) }}</td>
							<td align="center">{{ form_widget(edit_form.situatfam) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(edit_form.nationalite, "Nationalité") }}</th>
							<th>{{ form_label(edit_form.carteident, "Num Carte d'Identité") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.nationalite) }}</td>
							<td align="center">{{ form_widget(edit_form.carteident) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(edit_form.annexesept, "Annexe 7") }}</th>
							<th>{{ form_label(edit_form.autortravail, "Autorisation de Travail") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.annexesept) }}</td>
							<td align="center">{{ form_widget(edit_form.autortravail) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(edit_form.cartesejour, "Num Carte de Séjour") }}</th>
							<th>{{ form_label(edit_form.datefincsj, "Date Fin C.D.S.") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.cartesejour) }}</td>
							<td align="center">{{ form_widget(edit_form.datefincsj) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Situation Sociale</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>{{ form_label(edit_form.numsecu, "Num Secu") }}</th>
							<th>{{ form_label(edit_form.datevismed, "Date Visite Médicale") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.numsecu) }}</td>
							<td align="center">{{ form_widget(edit_form.datevismed) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(edit_form.handicap, "Handicap") }}</th>
							<th>{{ form_label(edit_form.attestation, "Attestation") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.handicap) }}</td>
							<td align="center">{{ form_widget(edit_form.attestation) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>Poste</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>{{ form_label(edit_form.typeposte, "Type de Poste") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.typeposte) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(edit_form.nivechelon, "Niv. Echelon") }}</th>
							<th>{{ form_label(edit_form.echelon, "Echelon") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.nivechelon) }}</td>
							<td align="center">{{ form_widget(edit_form.echelon) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(edit_form.txhoraire, "Taux Horaire") }}</th>
							<th>{{ form_label(edit_form.anciennete, "Ancienneté") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.txhoraire) }}</td>
							<td align="center">{{ form_widget(edit_form.anciennete) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(edit_form.permis, "Permis") }}</th>
							<th>{{ form_label(edit_form.vehicule, "Véhicule") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.permis) }}</td>
							<td align="center">{{ form_widget(edit_form.vehicule) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(edit_form.complement, "Complément") }}</th>
							<th>{{ form_label(edit_form.accompte, "Accompte") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.complement) }}</td>
							<td align="center">{{ form_widget(edit_form.accompte) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(edit_form.perimetre, "Périmètre") }}</th>
							<th>{{ form_label(edit_form.tailletshirt, "Taille T-Shirt") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.perimetre) }}</td>
							<td align="center">{{ form_widget(edit_form.tailletshirt) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(edit_form.motifpi, "Motif Plus Intérresser") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.motifpi) }}</td>
						</tr>
						<tr>
							<th>{{ form_label(edit_form.commentaires, "Commentaires") }}</th>
						</tr>
						<tr>
							<td align="center">{{ form_widget(edit_form.commentaires) }}</td>
						</tr>
						</tbody>
</table>
    {{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-success" type="submit">Enregistrer</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('collaborateur') }}">
            Retour à la liste
        </a>
    </li>
</ul>
</div>
{% endblock %}