{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block planningpage %} 
{{ parent() }}
<h4>{% trans %}Modification du Planning{% endtrans %}</h4>

<form action="{{ path('planning_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Semaine{% endtrans %}</td>
				<td>{% trans %}Date{% endtrans %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ form_widget(edit_form.titre) }}</td>
				<td>
				<div class="input-append date" id="datepicker2" data-date={% if entity.datemaj %}{{ entity.datemaj|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={% if entity.datemaj %}{{ entity.datemaj|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="date_maj">
				<span class="add-on"><i class="icon-th"></i></span>
				</td>
			</tr>
		</tbody>
	</table>
    <table class="table table-striped table-bordered table-condensed">
			<thead>
						<tr>
							<th>{% trans %}Lundi{% endtrans %}</th>
							<th>{% trans %}Mardi{% endtrans %}</th>
							<th>{% trans %}Mercredi{% endtrans %}</th>
							<th>{% trans %}Jeudi{% endtrans %}</th>
							<th>{% trans %}Vendredi{% endtrans %}</th>
							<th>{% trans %}Samedi{% endtrans %}</th>
						</tr>
			</thead>
			<tbody>
						<tr>
							<th>{% trans %}Nettoyage récurrent{% endtrans %}</th>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t1) }}</td>
							<td>{{ form_widget(edit_form.mardi_t1) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t1) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t1) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t1) }}</td>
							<td>{{ form_widget(edit_form.samedi_t1) }}</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t2) }}</td>
							<td>{{ form_widget(edit_form.mardi_t2) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t2) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t2) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t2) }}</td>
							<td>{{ form_widget(edit_form.samedi_t2) }}</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t3) }}</td>
							<td>{{ form_widget(edit_form.mardi_t3) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t3) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t3) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t3) }}</td>
							<td>{{ form_widget(edit_form.samedi_t3) }}</td>
						</tr>
						<tr>
							<th>{% trans %}Temps Nettoyage récurrent{% endtrans %}</th>
							<td><i class="icon-time"></i>{{ form_widget(edit_form.temps_nr) }}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th>{% trans %}Contrôle visuel{% endtrans %}</th>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t4) }}</td>
							<td>{{ form_widget(edit_form.mardi_t4) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t4) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t4) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t4) }}</td>
							<td>{{ form_widget(edit_form.samedi_t4) }}</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t4) }}</td>
							<td>{{ form_widget(edit_form.mardi_t4) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t4) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t4) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t4) }}</td>
							<td>{{ form_widget(edit_form.samedi_t4) }}</td>
						</tr>
						<tr>
							<th>{% trans %}Temps contrôle visuel{% endtrans %}</th>
							<td><i class="icon-time"></i>{{ form_widget(edit_form.temps_cv) }}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th>{% trans %}Nettoyage de fond{% endtrans %}</th>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
							<td>_______________________________</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t5) }}</td>
							<td>{{ form_widget(edit_form.mardi_t5) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t5) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t5) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t5) }}</td>
							<td>{{ form_widget(edit_form.samedi_t5) }}</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t5com) }}</td>
							<td>{{ form_widget(edit_form.mardi_t5com) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t5com) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t5com) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t5com) }}</td>
							<td>{{ form_widget(edit_form.samedi_t5com) }}</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t6) }}</td>
							<td>{{ form_widget(edit_form.mardi_t6) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t6) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t6) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t6) }}</td>
							<td>{{ form_widget(edit_form.samedi_t6) }}</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t6com) }}</td>
							<td>{{ form_widget(edit_form.mardi_t6com) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t6com) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t6com) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t6com) }}</td>
							<td>{{ form_widget(edit_form.samedi_t6com) }}</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t7) }}</td>
							<td>{{ form_widget(edit_form.mardi_t7) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t7) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t7) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t7) }}</td>
							<td>{{ form_widget(edit_form.samedi_t7) }}</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t7com) }}</td>
							<td>{{ form_widget(edit_form.mardi_t7com) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t7com) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t7com) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t7com) }}</td>
							<td>{{ form_widget(edit_form.samedi_t7com) }}</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t8) }}</td>
							<td>{{ form_widget(edit_form.mardi_t8) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t8) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t8) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t8) }}</td>
							<td>{{ form_widget(edit_form.samedi_t8) }}</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t8com) }}</td>
							<td>{{ form_widget(edit_form.mardi_t8com) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t8com) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t8com) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t8com) }}</td>
							<td>{{ form_widget(edit_form.samedi_t8com) }}</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t9) }}</td>
							<td>{{ form_widget(edit_form.mardi_t9) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t9) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t9) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t9) }}</td>
							<td>{{ form_widget(edit_form.samedi_t9) }}</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t9com) }}</td>
							<td>{{ form_widget(edit_form.mardi_t9com) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t9com) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t9com) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t9com) }}</td>
							<td>{{ form_widget(edit_form.samedi_t9com) }}</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t10) }}</td>
							<td>{{ form_widget(edit_form.mardi_t10) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t10) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t10) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t10) }}</td>
							<td>{{ form_widget(edit_form.samedi_t10) }}</td>
						</tr>
						<tr>
							<td>{{ form_widget(edit_form.lundi_t10com) }}</td>
							<td>{{ form_widget(edit_form.mardi_t10com) }}</td>
							<td>{{ form_widget(edit_form.mercredi_t10com) }}</td>
							<td>{{ form_widget(edit_form.jeudi_t10com) }}</td>
							<td>{{ form_widget(edit_form.vendredi_t10com) }}</td>
							<td>{{ form_widget(edit_form.samedi_t10com) }}</td>
						</tr>
						<tr>
							<th>{% trans %}Temps nettoyage de fond{% endtrans %}</th>
							<td><i class="icon-time"></i>{{ form_widget(edit_form.temps_nf) }}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
			</tbody>
						
		</table>
	
	
	{{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
		
		<a class="btn btn-success" href="{{ path('planning') }}?idMag={{idMag}}">
           <i class="icon-share-alt icon-white"></i> {% trans %}Retour à la liste{% endtrans %}
        </a>
    </p>
	
</form>
{% if app.user.username == "Jeff" %}
<ul class="record_actions">
    <li>
        <form action="{{ path('planning_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endif %}
{% endblock %}