{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block planningpage %} 
{{ parent() }}
<h4>{% trans %}Listing des plannings{% endtrans %}</h4>
<br></br>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>{% trans %}Date de Mise a Jour des Plannings{% endtrans %}</th>
			<th>{% trans %}Semaine{% endtrans %}</th>
            <th><i class="icon-eye-open"></i></th>
			<th><i class="icon-edit"></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.datemaj %}{{ entity.datemaj|date('d-m-Y') }}{% endif %}</td>
			<td>{{ entity.titre }}</td>
            <td><a href="{{ path('planning_show', { 'id': entity.id }) }}">{% trans %}Voir{% endtrans %}</a></td>
            <td><a href="{{ path('planning_edit', { 'id': entity.id }) }}">{% trans %}Modifier{% endtrans %}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
        <a class="btn btn-primary" href="{{ path('planning_new') }}?idMag={{idMag}}">
            {% trans %}Nouveau planning{% endtrans %}
        </a>
</ul>
{% endblock %}