{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block planningpage %} 
{{ parent() }}
<h1>Nouveau planning</h1>

<form action="{{ path('planning_create') }}" method="post" {{ form_enctype(form) }}>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
						<tr>
							<th>Lundi</th>
							<th>Mardi</th>
							<th>Mercredi</th>
							<th>Jeudi</th>
							<th>Vendredi</th>
							<th>Samedi</th>
							<th>Temps</th>
						</tr>
			</thead>
			<tbody>
						<tr>
							<td>Nettoyage Récurrent</td>
							<td>Nettoyage Récurrent</td>
							<td>Nettoyage Récurrent</td>
							<td>Nettoyage Récurrent</td>
							<td>Nettoyage Récurrent</td>
							<td>Nettoyage Récurrent</td>
							<td></td>
						</tr>
						<tr>
							<td>{{ form_widget(form.lundi_t1) }}</td>
							<td>{{ form_widget(form.mardi_t1) }}</td>
							<td>{{ form_widget(form.mercredi_t1) }}</td>
							<td>{{ form_widget(form.jeudi_t1) }}</td>
							<td>{{ form_widget(form.vendredi_t1) }}</td>
							<td>{{ form_widget(form.samedi_t1) }}</td>
							<td></td>
						</tr>
			</tbody>
						
		</table>
    {{ form_rest(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('planning') }}?idMag={{idMag}}">
            Retour a la liste
        </a>
    </li>
</ul>
{% endblock %}