{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block comclientsindexpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>Etat des ordres de préparations livrés</h4></div>
<div class="progress progress-danger progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
	{% set nbentity = 0 %}
	{% for entity1 in entities %}
	{% set nbentity = nbentity + 1 %}
	{% endfor %}
<table class="table table-striped table-bordered table-condensed" id="sortDatatable4">
    <thead>
        <tr>
            {% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<th>Client</th>
			{% endif %}
			<th>Num OP</th>
			<th>Date OP</th>
			<th>Compte</th>
			<th>Mag.</th>
			<th>Site</th>
			<th>Num Bon Commande Maint.</th>
            <th>Type Livraison</th>
            <th>Bon Livr.</th>
			<th>Etat</th>
			<th>Date prévue</th>
			<th>Date Livraison</th>
			<th>Date Interv. Prévue</th>
			{% if app.session.get('applicationUSER') == "ToolboxClient" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			{% else %}
			<th>Poids</th>
			<th>Volume</th>
			{% endif %}
			<th>Voir</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            {% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<td>{{ entity.client }}</td>
			{% endif %}
			<td><strong>{% if entity.numop %}{% if entity.etat == 'En attente de préparation' %}<font color="blue">{{ entity.numop }}</font>{% else %}{{ entity.numop }}{% endif %}{% endif %}</strong></td>
			<td>{% if entity.datecom %}{{ entity.datecom|date('d-m-Y H') }}h{{ entity.datecom|date('i:s') }}{% endif %}</td>
			<td>{% if entity.compte %}{{ entity.compte }}{% endif %}</td>
			<td>{% if entity.nummag %}{{ entity.nummag }}{% endif %}</td>
			<td>{% if entity.nomdusite %}{{ entity.nomdusite }}{% endif %}</td>
			<td>{% if entity.numcommaint %}{{ entity.numcommaint }}{% else %}-{% endif %}</td>
            <td align="center">{% if entity.install %}Installation{% else %}Livraison{% endif %}</td>
            <td align="center">{% if entity.compdf %}<a href="{{ asset('upload/toolbox/op/client/' ~ entity.id ~'/' ~ entity.compdf)}}" target="_blank"> <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
            <td>{% if entity.etat == 'En attente de préparation' %}<font color="blue"><strong>{{ entity.etat }}</strong></font>{% else %}{{ entity.etat }}{% endif %}</td>
			<td>{% if entity.datelivrend == 1 %} - {% else %}{% if entity.livrimp == 1 %}<font color="red"><strong>{{ entity.datelivrsouh|date('d-m-Y H') }}h{{ entity.datelivrsouh|date('i') }}</strong></font>{% else %}{{ entity.datelivrsouh|date('d-m-Y H') }}h{{ entity.datelivrsouh|date('i') }}{% endif %}{% endif %}</td>
			<td>{% if entity.datelivre %}{{ entity.datelivre|date('d-m-Y') }}{% else %} - {% endif %}</td>
			<td>{% if entity.dateintervprev %}{{ entity.dateintervprev|date('d-m-Y') }}{% else %} - {% endif %}</td>
			{% if app.session.get('applicationUSER') == "ToolboxClient" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			{% else %}
			<td>{% if entity.poids %}{{ entity.poids }}{% else %} - {% endif %}</td>
			<td>{% if entity.volume %}{{ entity.volume }}{% else %} - {% endif %}</td>
			{% endif %}
			<td align="center"><a href="{{ path('comclients_showlivre', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
<div>
	
</div>
{% endblock %}