{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block comclientsindexpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Panier{% endtrans %}</h4></div>
<div class="progress progress-danger progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
	{% set nbentity = 0 %}
	{% for entity1 in entities %}
	{% set nbentity = nbentity + 1 %}
	{% endfor %}
<table class="table table-striped table-bordered table-condensed" id="sortDatatable4">
    <thead>
        <tr>
            {% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<th>{% trans %}Client{% endtrans %}</th>
			{% endif %}
			<th>{% trans %}Num OP{% endtrans %}</th>
			<th>{% trans %}Date OP{% endtrans %}</th>
			<th>{% trans %}Compte{% endtrans %}</th>
			<th>{% trans %}Mag{% endtrans %}.</th>
			<th>{% trans %}Site{% endtrans %}</th>
			<th>{% trans %}Num Bon Commande Maint{% endtrans %}.</th>
            <th>{% trans %}Type Livraison{% endtrans %}</th>
            <th>{% trans %}Bon Livr{% endtrans %}.</th>
			<th>{% trans %}Date prévue{% endtrans %}</th>
            <th>Voir</th>
			{% if app.session.get('applicationUSER') == "ToolboxClient" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			{% else %}
			<th>{% trans %}Poids{% endtrans %}</th>
			<th>{% trans %}Volume{% endtrans %}</th>
			{% endif %}
			{% if app.session.get('applicationUSER') == "ToolboxInterv" or app.session.get('applicationUSER') == "Toolbox" %}
			{% else %}
			<th>{% trans %}Modifier{% endtrans %}</th>
			<th>{% trans %}Valider{% endtrans %}</th>
			{% endif %}
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            {% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<td>{{ entity.client }}</td>
			{% endif %}
			<td>{% if entity.validor == 1 %}{% if entity.valid == 1 %}<strong><font color="green">{{ entity.numop }}</font></strong>{% else %}<strong><font color="red">{{ entity.numop }}</font></strong>{% endif %}{% else %}<strong><font color="grey">{{ entity.numop }}</font></strong>{% endif %}</td>
			<!-- <td><strong>{% if entity.numop %}{% if entity.etat == 'En attente de préparation' %}<font color="blue">{{ entity.numop }}</font>{% else %}{{ entity.numop }}{% endif %}{% endif %}</strong></td> -->
			<td>{% if entity.datecom %}{{ entity.datecom|date('d-m-Y H') }}h{{ entity.datecom|date('i:s') }}{% endif %}</td>
			<td>{% if entity.compte %}{{ entity.compte }}{% endif %}</td>
			<td>{% if entity.nummag %}{{ entity.nummag }}{% endif %}</td>
			<td>{% if entity.nomdusite %}{{ entity.nomdusite }}{% endif %}</td>
			<td>{% if entity.numcommaint %}{{ entity.numcommaint }}{% else %}-{% endif %}</td>
            <td align="center">{% if entity.install %}<i class="icon-wrench"></i>{% else %}<i class="icon-share"></i>{% endif %}</td>
            <td align="center">{% if entity.compdf %}<a href="{{ asset('upload/toolbox/op/client/' ~ entity.id ~'/' ~ entity.compdf)}}" target="_blank"> <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
			<td>{% if entity.datelivrend == 1 %} - {% else %}{% if entity.livrimp == 1 %}<font color="red"><strong>{{ entity.datelivrsouh|date('d-m-Y H') }}h{{ entity.datelivrsouh|date('i') }}</strong></font>{% else %}{{ entity.datelivrsouh|date('d-m-Y H') }}h{{ entity.datelivrsouh|date('i') }}{% endif %}{% endif %}</td>
			<td align="center"><a href="{{ path('comclients_showview', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
			{% if app.session.get('applicationUSER') == "ToolboxClient" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			{% else %}
			<td>{% if entity.poids %}{{ entity.poids }}{% else %} - {% endif %}</td>
			<td>{% if entity.volume %}{{ entity.volume }}{% else %} - {% endif %}</td>
			{% endif %}
			{% if app.session.get('applicationUSER') == "ToolboxInterv" or app.session.get('applicationUSER') == "Toolbox" %}
			{% else %}
			<td align="center">{% if entity.valid == 1 %}<a href="{{ path('comclients_editpan', { 'id': entity.id }) }}"><i class="icon-edit"></i></a>{% else %}<a href="{{ path('comclients_editpan', { 'id': entity.id }) }}"><i class="icon-edit icon-red"></i></a>{% endif %}</td>
			<td align="center">{% if entity.validor == 1 %}{% if entity.valid == 1 %}<a href="{{ path('comclients_showpan', { 'id': entity.id }) }}"><i class="icon-check icon-green"></i></a>{% else %}<a href="{{ path('comclients_showpan', { 'id': entity.id }) }}"><i class="icon-check icon-red"></i></a>{% endif %}{% else %}<i class="icon-check icon-grey"></i>{% endif %}</td>
			{% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
<div>
	
</div>
{% endblock %}