{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block comclientsindexpage %} 
{{ parent() }}
<div class="container-fluid">
<div class="page-header"><h4>{% trans %}Facturation{% endtrans %}</h4></div>
<div class="progress progress-danger progress-striped active">
    <div class="bar" style="width: 100%;"></div>
    </div>
	{% set nbentity = 0 %}
	{% for entity1 in entities %}
	{% set nbentity = nbentity + 1 %}
	{% endfor %}
<table class="table table-striped table-bordered table-condensed" id="sortDatatable4">
    <thead>
        <tr>
            {% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<th><font size="1">{% trans %}Client{% endtrans %}</font></th>
			{% endif %}
			<th><font size="1">{% trans %}Num OP{% endtrans %}</font></th>
			<th><font size="1">{% trans %}Date OP{% endtrans %}</font></th>
			<th><font size="1">{% trans %}Compte{% endtrans %}</font></th>
			<th><font size="1">{% trans %}Mag{% endtrans %}.</font></th>
			<th><font size="1">{% trans %}Site{% endtrans %}</font></th>
			<th><font size="1">{% trans %}Num Bon Commande Maint{% endtrans %}.</font></th>
            <th><font size="1">{% trans %}Type Livraison{% endtrans %}</font></th>
            <th><font size="1">{% trans %}Bon Livr{% endtrans %}.</font></th>
			<th><font size="1">{% trans %}Etat{% endtrans %}</font></th>
			<th><font size="1">{% trans %}Date Livraison{% endtrans %}</font></th>
			{% if app.session.get('applicationUSER') == "ToolboxClient" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			{% else %}
			<th><font size="1">{% trans %}Poids{% endtrans %}</font></th>
			<th><font size="1">{% trans %}Volume{% endtrans %}</font></th>
			{% endif %}
			<th><font size="1">{% trans %}Prep{% endtrans %}.</font></th>
			<th><font size="1">{% trans %}Admin{% endtrans %}.</font></th>
			<th><font size="1">{% trans %}Pal{% endtrans %}.</font></th>
			<th><font size="1">{% trans %}Fourn{% endtrans %}.</font></th>
			<th><font size="1">{% trans %}Transp{% endtrans %}.</font></th>
			<th><font size="1">{% trans %}Rec. Bon{% endtrans %}.</font></th>
			<th><font size="1">{% trans %}Total{% endtrans %}</font></th>
			<th><font size="1">Voir</font></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            {% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<td><font size="1">{{ entity.client }}</td>
			{% endif %}
			<td><font size="1"><strong>{% if entity.numop %}{{ entity.numop }}{% endif %}</strong></font></td>
			<td>{% if entity.datecom %}<font size="1">{{ entity.datecom|date('d-m-Y H') }}h{{ entity.datecom|date('i:s') }}</font>{% endif %}</td>
			<td>{% if entity.compte %}<font size="1">{{ entity.compte }}</font>{% endif %}</td>
			<td>{% if entity.nummag %}<font size="1">{{ entity.nummag }}</font>{% endif %}</td>
			<td>{% if entity.nomdusite %}<font size="1">{{ entity.nomdusite }}</font>{% endif %}</td>
			<td>{% if entity.numcommaint %}<font size="1">{{ entity.numcommaint }}</font>{% else %}<font size="1">-</font>{% endif %}</td>
            <td align="center">{% if entity.install %}<font size="1">{% trans %}Installation{% endtrans %}</font>{% else %}<font size="1">{% trans %}Livraison{% endtrans %}</font>{% endif %}</td>
            <td align="center">{% if entity.compdf %}<a href="{{ asset('upload/toolbox/op/client/' ~ entity.id ~'/' ~ entity.compdf)}}" target="_blank"> <i class="icon-download"></i></a>{% else %}<font size="1">-<font size="1">{% endif %}</td>
            <td><font size="1">{{ entity.etat }}</font></td>
			<td>{% if entity.datelivre %}<font size="1">{{ entity.datelivre|date('d-m-Y') }}</font>{% else %}<font size="1"> - </font>{% endif %}</td>
			{% if app.session.get('applicationUSER') == "ToolboxClient" or app.session.get('applicationUSER') == "ToolboxInterv" %}
			{% else %}
			<td>{% if entity.poids %}<font size="1">{{ entity.poids }}</font>{% else %}{% endif %}</td>
			<td>{% if entity.volume %}<font size="1">{{ entity.volume }}</font>{% else %}{% endif %}</td>
			{% endif %}
			<td>{% if entity.prepa %}<font size="1">{{ entity.prepa }}</font>{% else %}{% endif %}</td>
			<td>{% if entity.admin %}<font size="1">{{ entity.admin }}</font>{% else %}{% endif %}</td>
			<td>{% if entity.pale %}<font size="1">{{ entity.pale }}</font>{% else %}{% endif %}</td>
			<td>{% if entity.fourniture %}<font size="1">{{ entity.fourniture }}</font>{% else %}{% endif %}</td>
			<td>{% if entity.transp %}<font size="1">{{ entity.transp }}</font>{% else %}{% endif %}</td>
			<td>{% if entity.recupbon %}<font size="1">{{ entity.recupbon }}</font>{% else %}{% endif %}</td>
			<td><font size="1"><strong>{{ entity.prepa + entity.admin + entity.pale + entity.fourniture + entity.transp + entity.recupbon }}</strong></font></td>
			<td align="center"><a href="{{ path('comclients_showlivre', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
</br>
</div>
<div>
	
</div>
{% endblock %}