{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block comclientsnewpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h3>{% trans %}Confirmation Panier{% endtrans %}</h3></div>
<div class="progress progress-danger progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<pre><h4>{% trans %}Récapitulatif de vôtre panier{% endtrans %}:</h4>
<strong>{% trans %}Adresse de livraison{% endtrans %}: </strong>
{{ entitydestselect.compte }}
{{ entitydestselect.adresse1 }}
{{ entitydestselect.adresse2 }}
{{ entitydestselect.cp }} - {{ entitydestselect.ville }}
</pre>
<pre>
<strong>{% trans %}Liste des articles à préparer{% endtrans %}:</strong>
<table class="table table-striped table-bordered table-condensed" id="sortTableExample2">
    <thead>
        <tr>
            <th>{% trans %}Article{% endtrans %}</th>
            <th>{% trans %}Qtte{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entityarticle in entitiesarticlestmp %}
        <tr>
            <td>{{ entityarticle.nomarticle }}</td>
            <td>{{ entityarticle.qtte }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</pre>
<form name="myForm" method="post" {{ form_enctype(form) }}>
	<div class="row">
	<div class="span7">
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td><strong>{{ form_label(form.numcommaint, "") }}{% trans %}Num Bon de commande de Maintenance{% endtrans %}: </strong></td>
			<td>{{ form_widget(form.numcommaint) }}</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>{% trans %}Date de livraison prévue{% endtrans %}:</strong></td>
			<td><div class="input-append date" id="datepicker" data-date={{ "now"|date('d-m-Y') }} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y H:i:s') }} name="datelivrsouh">
								<span class="add-on"><i class="icon-th"></i></span>
				
			</td>
			<td>
				<div class="input-append bootstrap-timepicker">
					<input id="timepicker10" value={{ "now"|date('H:i') }} type="text" class="input-small" name="heurelivrsouh">
					<span class="add-on"><i class="icon-time"></i></span>
				</div>
			</td>
		</tr>
		<tr>
			<td><strong>{{ form_label(form.comm, "") }}{% trans %}Vos commentaires{% endtrans %}: </strong></td>
			<td>{{ form_widget(form.comm) }}</td>
			<td></td>
		</tr>
	</table>
	</div>
	<div class="span5">
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td><strong>{% trans %}Cochez si date de livraison prévue IMPERATIVE{% endtrans %} </strong> <i class="icon-hand-right"></i></td>
			<td>{{ form_widget(form.livrimp) }}</td>
		</tr>
		<tr>
			<td><strong>{% trans %}Cochez si date de livraison prévue NON DETERMINEE{% endtrans %} </strong> <i class="icon-hand-right"></i></td>
			<td>{{ form_widget(form.datelivrend) }}</td>
		</tr>
	</table>
	</div>
	</div>
    <div class="row">
	<div class="span4">
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td><strong>{% trans %}Cochez si intervention à prévoir{% endtrans %} </strong> <i class="icon-hand-right"></i> <p>...</p><p><strong>{% trans %}Cochez si livraison simple{% endtrans %} </strong> <i class="icon-hand-right"></i> </p></td>
			<td>{{ form_widget(form.install) }}</td>
		</tr>
		<tr>
			<td><p><strong>{{ form_label(form.compdf, "") }}{% trans %}Vôtre Bon de livraison à faire signer au client{% endtrans %}:  </strong></p>{{ form_widget(form.compdf) }}</td>
			<td></td>
		</tr>
		<tr>
			<td><p><strong>{{ form_label(form.compdf2, "") }}{% trans %}si vous souhaitez joindre un deuxième fichier{% endtrans %}:  </strong></p>{{ form_widget(form.compdf2) }}</td>
			<td></td>
		</tr>
		<tr>
			<td><p><strong>{{ form_label(form.compdf3, "") }}{% trans %}3ème Fichier{% endtrans %}:  </strong></p>{{ form_widget(form.compdf3) }}</td>
			<td></td>
		</tr>
		<tr>
			<td><p><strong>{{ form_label(form.compdf4, "") }}{% trans %}4ème Fichier{% endtrans %}:  </strong></p>{{ form_widget(form.compdf4) }}</td>
			<td></td>
		</tr>
	</table>
	</div>
	<div class="span8">
	</div>
	</div>
	{{ form_rest(form) }}
	
    

	<p>
        <button class="btn btn-success" type="submit" onclick="javascript:document.myForm.action='{{ path('comclients_createpan') }}'">{% trans %}Sauvegarde de vôtre panier{% endtrans %}</button>
    </p>
	{% if validor == 1 %}
	<p>
        <a class="btn">{% trans %}Impossible de valider automatiquement votre OP{% endtrans %}</a>
    </p>
	{% else %}
	<div class="modal hide" id="myModal">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>{% trans %}Confirmation de la validation de vôtre panier{% endtrans %}</h3>
    </div>
    <div class="modal-body">
    <p>{% trans %}Une fois vôtre panier validé vous ne pourrez plus le modifier{% endtrans %}</p>
	<p>{% trans %}Voulez vous confirmer cette validation?{% endtrans %}</p>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">{% trans %}Non{% endtrans %}</a>
	<button class="btn btn-success" type="submit" onclick="javascript:document.myForm.action='{{ path('comclients_createpanval') }}'">{% trans %}Oui Confirmez la validation{% endtrans %}</button>
    </div>
    </div>
	<a class="btn btn-danger" data-toggle="modal" href="#myModal" >{% trans %}VALIDATION AUTOMATIQUE DE VOTRE OP{% endtrans %}</a>
	{% endif %}
	
	
</form>


</div>
{% endblock %}