{% trans %}Bonjour{% endtrans %},

{% trans %}Vous venez de recevoir un mail de l'application Toolbox{% endtrans %} 
{% trans %}Une installation prévue va être effectué par la société{% endtrans %}: {{ client }}
{% trans %}Le numéro d'ordre de préparation est le{% endtrans %}: {{ numOP }}
{% trans %}Une date d'intervention prévue fixé au{% endtrans %} ( {{ date|date('d-m-Y') }} ) {% trans %}viens d'être déterminé par la société{% endtrans %} {{ client }}

{% trans %}vous pouvez vous connecter à l'application pour visualiser l'ordre de{% endtrans %}
{% trans %}préparation en cliquant sur le lien suivant{% endtrans %}:
http://phareoscloud.org
{% trans %}muni de vos codes d'accès Clients pour visualisé{% endtrans %} 
{% trans %}l'OP d'intervention et la date d'intervention prévue{% endtrans %}


{% trans %}Cordialement{% endtrans %}
{% trans %}Pharéos Applications{% endtrans %}


{% trans %}ps: ce message vous est envoyé par un logiciel vous ne pouvez répondre directement à ce message{% endtrans %}