{% extends '::base.html.twig' %}
{% block title %}
{% trans %}ToolBox{% endtrans %} - {% trans %}Liste des OP{% endtrans %}
{% endblock %}
{% block body %}
<div class="container">
<div class="page-header"><h4>{% trans %}Récapitulatif de vôtre OP{% endtrans %}:</h4></div>
<table border="1" width="98%" style="border-collapse: collapse;" class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Num Ordre de Préparation{% endtrans %}: {{ entity.numop }}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>{% trans %}Date{% endtrans %}: {{ entity.datecom|date('d-m-Y   H:i:s') }}</th>
		</tr>
	</tbody>
</table>
<div class="page-header"></div>
<table border="1" width="98%" style="border-collapse: collapse;" class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Liste des articles à préparer{% endtrans %}:</th>
			<th>{% trans %}Quantité{% endtrans %}:</th>
			{% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<th>{% trans %}Emplacement{% endtrans %}:</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
	{% if resultcount == "1" %}
		<tr>
			<td>{{ designat }}</td>
			<td>{{ qtte }}</td>
			{% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<td>{% trans %}Allée{% endtrans %}: {{ allee }} - {% trans %}Travée{% endtrans %}: {{ travee }} - {% trans %}Niveau{% endtrans %}: {{ niveau }} - {% trans %}Emplacement{% endtrans %}: {{ emplacement }}</td>
			{% endif %}
		</tr>
	{% else %}
	{% for article in idarticle %}
		<tr>
			<td>{{ article.designat }}</td>
			<td>{{ article.qtte }}</td>
			{% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<td>{% trans %}Allée{% endtrans %}: {{ article.allee }} - {% trans %}Travée{% endtrans %}: {{ article.travee }} - {% trans %}Niveau{% endtrans %}: {{ article.niveau }} - {% trans %}Emplacement{% endtrans %}: {{ article.emplacement }}</td>
			{% endif %}
		</tr>
	{% endfor %}
	{% endif %}
	</tbody>
</table>
<div class="page-header"></div>	
<table border="1" width="98%" style="border-collapse: collapse;" class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
            <th>{% if destination.typecpte %}{% trans %}Type de Compte{% endtrans %}: {% endif %}</th>
            <td>{% if destination.typecpte %}{{ destination.typecpte }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if destination.compte %}{% trans %}Compte{% endtrans %}: {% endif %}</th>
            <td>{% if destination.compte %}{{ destination.compte }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if entity.nomdusite %}{% trans %}Nom du Site{% endtrans %}: {% endif %}</th>
            <td>{% if entity.nomdusite %}{{ entity.nomdusite }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if destination.nummag %}{% trans %}Num Magasin{% endtrans %}: {% endif %}</th>
            <td>{% if destination.nummag %}{{ destination.nummag }}{% endif %}</td>
        </tr>
		<tr>
			<th>{% trans %}Adresse de Livraison{% endtrans %}:</th>
			<th>{% trans %}Info contact{% endtrans %}:</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ destination.site }}
			<p>{{ destination.adresse1 }}</p>
			<p>{{ destination.adresse2 }}</p>
			<p>{{ destination.cp }} {{ destination.ville }}</p></td>
			<td><p>{% trans %}Tel{% endtrans %}: {{ destination.tel }} {% trans %}Fax{% endtrans %}:{{ destination.fax }}</p>
			<p>{% trans %}Contact{% endtrans %}: {{ destination.contact }}</p>
			</td>
		</tr>
	</tbody>
</table>
<div class="page-header"></div>
<table border="1" width="98%" style="border-collapse: collapse;" class="table table-striped table-bordered table-condensed">
    <tbody>
		<tr>
            <th>{% trans %}Num Bon de commande de Maintenance{% endtrans %}: </th>
            <td>{% if entity.numcommaint %}{{ entity.numcommaint }}{% else %}-{% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Intervention{% endtrans %}: </th>
            <td>{% if entity.install %}<i class="icon-wrench"></i> {% trans %}à installer{% endtrans %}{% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Livraison simple{% endtrans %}: </th>
            <td>{% if not entity.install %}<i class="icon-share"></i> {% trans %}en livraison simple{% endtrans %}{% endif %}</td>
        </tr>
        <tr>
            <th>{% trans %}Commentaires{% endtrans %}:</th>
            <td>{{ entity.comm }}</td>
        </tr>
        <tr>
            <th>{% trans %}Bon de Livraison{% endtrans %}</th>
            <td>{% if entity.compdf %}{% trans %}OK{% endtrans %}{% else %}-{% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Etat{% endtrans %}</th>
            <td>{% if entity.etat %}{{ entity.etat }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Date Livraison prévue{% endtrans %}</th>
            <td>{% if entity.datelivrend == 1 %} - {% else %}{% if entity.livrimp == 1 %}<font color="red"><strong>{{ entity.datelivrsouh|date('d-m-Y H') }}h{{ entity.datelivrsouh|date('i') }}</strong></font>{% else %}{{ entity.datelivrsouh|date('d-m-Y H') }}h{{ entity.datelivrsouh|date('i') }}{% endif %}{% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Date de sortie du stock en cours de préparation{% endtrans %}</th>
            <td>{% if entity.dateencoursprepa %}{{ entity.dateencoursprepa|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Date de préparation en attente d'expédition{% endtrans %}</th>
            <td>{% if entity.dateprepare %}{{ entity.dateprepare|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Date d'expédition{% endtrans %}</th>
            <td>{% if entity.dateenvoi %}{{ entity.dateenvoi|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Date de livraison{% endtrans %}</th>
            <td>{% if entity.datelivre %}{{ entity.datelivre|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Date Intervention Prévue{% endtrans %}</th>
            <td>{% if entity.dateintervprev %}{{ entity.dateintervprev|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
    </tbody>
</table>
</div>
{% block javascripts %}{% endblock %}
{% endblock %}