{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block comclientsshowpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Récapitulatif de vôtre OP{% endtrans %}:</h4></div>
<div class="progress progress-danger progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<h4></h4>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Num Ordre de Préparation{% endtrans %}: {{ entity.numop }}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>{% trans %}Date{% endtrans %}: {{ entity.datecom|date('d-m-Y   H:i:s') }}</th>
		</tr>
		<tr>
			<th>{% trans %}OR(s) automatiques{% endtrans %}: {% if entity.autoor == 1 %}<i class="icon-ok icon-green"></i>{% else %}<i class="icon-remove icon-red"></i>{% endif %}</th>
		</tr>
		<tr>
			<th>{% trans %}Etat{% endtrans %}: {{ entity.etat }}</th>
		</tr>
		<tr>
			<th>{% trans %}Client{% endtrans %}: {{ entity.client }}</th>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="span8"> 
<div class="page-header"></div>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Liste des articles à préparer{% endtrans %}:</th>
			<th>{% trans %}Quantité{% endtrans %}:</th>
			<th>{% trans %}Stock Réservé{% endtrans %}:</th>
			<th>{% trans %}En attente OR{% endtrans %}:</th>
			<th>{% trans %}Stock Validation{% endtrans %}:</th>
			<th>{% trans %}Stock Physique{% endtrans %}:</th>
			{% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<th>{% trans %}Emplacement{% endtrans %}:</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
	{% if resultcount == "1" %}
		<tr>
			<td>{{ designat }}{% if stockreserve > 0 %} - <font color="#FF0000"><strong>{% trans %}Réservé{% endtrans %}</strong></font> <i class="icon-tags icon-red"></i>{% endif %}</td>
			<td>{% if qtte > stockreel %}<font color="#FF0000">{{ qtte }}</font>{% else %}{{ qtte }}{% endif %}</td>
			<td>{{ stockreserve }}</td>
			<td>{% if stockenattente > 0 %}<font color="#008000">{{ stockenattente }}</font>{% else %}{{ stockenattente }}{% endif %}</td>
			<td>{% if qtte > stockreel %}<font color="#FF0000">{{ stockreel }}</font>{% else %}{{ stockreel }}{% endif %}</td>
			<td>{% if qtte > stockreelphys %}<font color="#FF0000">{{ stockreelphys }}</font>{% else %}{{ stockreelphys }}{% endif %}</td>
			{% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<td>{% trans %}Allée{% endtrans %}: {{ allee }} - {% trans %}Travée{% endtrans %}: {{ travee }} - {% trans %}Niveau{% endtrans %}: {{ niveau }} - {% trans %}Emplacement{% endtrans %}: {{ emplacement }}</td>
			{% endif %}
		</tr>
	{% elseif resultcount > 1 %}
	{% for article in idarticle %}
		<tr>
			<td>{{ article.designat }}{% if article.stockreserve > 0 %} - <font color="#FF0000"><strong>{% trans %}Réservé{% endtrans %}</strong></font> <i class="icon-tags icon-red"></i>{% endif %}</td>
			<td>{% if article.qtte > article.stockreel %}<font color="#FF0000">{{ article.qtte }}</font>{% else %}{{ article.qtte }}{% endif %}</td>
			<td>{{ article.stockreserve }}</td>
			<td>{% if article.stockenattente > 0 %}<font color="#008000">{{ article.stockenattente }}</font>{% else %}{{ article.stockenattente }}{% endif %}</td>
			<td>{% if article.qtte > article.stockreel %}<font color="#FF0000">{{ article.stockreel }}</font>{% else %}{{ article.stockreel }}{% endif %}</td>
			<td>{% if article.qtte > article.stockreelphys %}<font color="#FF0000">{{ article.stockreelphys }}</font>{% else %}{{ article.stockreelphys }}{% endif %}</td>
			{% if app.session.get('applicationUSER') == "ToolboxClient" %}
			{% else %}
			<td>{% trans %}Allée{% endtrans %}: {{ article.allee }} - {% trans %}Travée{% endtrans %}: {{ article.travee }} - {% trans %}Niveau{% endtrans %}: {{ article.niveau }} - {% trans %}Emplacement{% endtrans %}: {{ article.emplacement }}</td>
			{% endif %}
		</tr>
	{% endfor %}
	{% else %}
		<tr>
			<td></td>
			<td></td>
		</tr>
	{% endif %}
	</tbody>
</table>
<div class="page-header"></div>	
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
            <th>{% if destination.typecpte %}{% trans %}Type de Compte{% endtrans %}: {% endif %}</th>
            <td>{% if destination.typecpte %}{{ destination.typecpte }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if destination.compte %}{% trans %}Compte{% endtrans %}: {% endif %}</th>
            <td>{% if destination.compte %}{{ destination.compte }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if entity.nomdusite %}{% trans %}Nom du Site{% endtrans %}: {% endif %}</th>
            <td>{% if entity.nomdusite %}{{ entity.nomdusite }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if destination.nummag %}{% trans %}Num Magasin{% endtrans %}: {% endif %}</th>
            <td>{% if destination.nummag %}{{ destination.nummag }}{% endif %}</td>
        </tr>
		<tr>
			<th>{% trans %}Adresse de Livraison{% endtrans %}:</th>
			<th>{% trans %}Info contact{% endtrans %}:</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ destination.site }}
			<p>{{ destination.adresse1 }}</p>
			<p>{{ destination.adresse2 }}</p>
			<p>{{ destination.cp }} {{ destination.ville }}</p></td>
			<td><p>{% trans %}Tel{% endtrans %}: {{ destination.tel }} {% trans %}Fax{% endtrans %}:{{ destination.fax }}</p>
			<p>{% trans %}Contact{% endtrans %}: {{ destination.contact }}</p>
			</td>
		</tr>
	</tbody>
</table>
<div class="page-header"></div>
<table class="table table-striped table-bordered table-condensed">
    <tbody>
		<tr>
            <th>{% trans %}Num Bon de commande de Maintenance{% endtrans %}: </th>
            <td>{% if entity.numcommaint %}{{ entity.numcommaint }}{% else %}-{% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Intervention{% endtrans %}: </th>
            <td>{% if entity.install %}<i class="icon-wrench"></i> {% trans %}à installer{% endtrans %}{% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Livraison simple{% endtrans %}: </th>
            <td>{% if not entity.install %}<i class="icon-share"></i> {% trans %}en livraison simple{% endtrans %}{% endif %}</td>
        </tr>
        <tr>
            <th>{% trans %}Commentaires{% endtrans %}:</th>
            <td>{{ entity.comm }}</td>
        </tr>
        <tr>
            <th>{% trans %}Bon de Livraison{% endtrans %}</th>
            <td>{% if entity.compdf %}<a href="{{ asset('upload/toolbox/op/client/' ~ entity.id ~'/' ~ entity.compdf)}}" target="_blank">{% trans %}Télécharger{% endtrans %} <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
        </tr>
		{% if entity.compdf2 %}
		<tr>
            <th>{% trans %}Fichier supplémentaire{% endtrans %}</th>
            <td>{% if entity.compdf2 %}<a href="{{ asset('upload/toolbox/op/clientfile2/' ~ entity.id ~'/' ~ entity.compdf2)}}" target="_blank">{% trans %}Télécharger{% endtrans %} <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
        </tr>
		{% endif %}
		{% if entity.compdf3 %}
		<tr>
            <th>{% trans %}Fichier N° 3{% endtrans %}</th>
            <td>{% if entity.compdf3 %}<a href="{{ asset('upload/toolbox/op/clientfile3/' ~ entity.id ~'/' ~ entity.compdf3)}}" target="_blank">{% trans %}Télécharger{% endtrans %} <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
        </tr>
		{% endif %}
		{% if entity.compdf4 %}
		<tr>
            <th>{% trans %}Fichier N° 4{% endtrans %}</th>
            <td>{% if entity.compdf4 %}<a href="{{ asset('upload/toolbox/op/clientfile4/' ~ entity.id ~'/' ~ entity.compdf4)}}" target="_blank">{% trans %}Télécharger{% endtrans %} <i class="icon-download"></i></a>{% else %}-{% endif %}</td>
        </tr>
		{% endif %}
		<tr>
            <th>{% trans %}Etat{% endtrans %}</th>
            <td>{% if entity.etat %}{{ entity.etat }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Date Livraison prévue{% endtrans %}</th>
            <td>{% if entity.datelivrend == 1 %} - {% else %}{% if entity.livrimp == 1 %}<font color="red"><strong>{{ entity.datelivrsouh|date('d-m-Y H') }}h{{ entity.datelivrsouh|date('i') }}</strong></font>{% else %}{{ entity.datelivrsouh|date('d-m-Y H') }}h{{ entity.datelivrsouh|date('i') }}{% endif %}{% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Date de sortie du stock en cours de préparation{% endtrans %}</th>
            <td>{% if entity.dateencoursprepa %}{{ entity.dateencoursprepa|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Date de préparation en attente d'expédition{% endtrans %}</th>
            <td>{% if entity.dateprepare %}{{ entity.dateprepare|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Date d'expédition{% endtrans %}</th>
            <td>{% if entity.dateenvoi %}{{ entity.dateenvoi|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
		<tr>
            <th>{% trans %}Date de livraison{% endtrans %}</th>
            <td>{% if entity.datelivre %}{{ entity.datelivre|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
		{% if app.session.get('applicationUSER') == "ToolboxInterv" %}
		<tr>
            <th>{% trans %}Modifier la date d'intervention prévue{% endtrans %}:</th>
            <td>
			<form action="{{ path('comclients_updateinterv', { 'id': entity.id }) }}" method="post" >
			<div class="input-append date" id="datepicker01" data-date={{ "now"|date('d-m-Y') }} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.dateintervprev %}{{ entity.dateintervprev|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="dateintervprev">
								<span class="add-on"><i class="icon-th"></i></span>
			<p>
				<button class="btn btn-mini btn-success" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
			</p>
			</form>
			</td>
        </tr>
		
		{% else %}
		<tr>
            <th>{% trans %}Date Intervention Prévue{% endtrans %}</th>
            <td>{% if entity.dateintervprev %}{{ entity.dateintervprev|date('d-m-Y') }}{% else %} - {% endif %}</td>
        </tr>
		{% endif %}
    </tbody>
</table>
<div class="span4">...</div>
<a class="btn btn-danger" href="{{ path('comclients_showprepa', { 'id': entity.id }) }}" target="_blank">
            <i class="icon-print icon-white"></i> {% trans %}Impression Prépa{% endtrans %}
    </a>
<a class="btn btn-danger" href="{{ path('comclients_showbl', { 'id': entity.id }) }}" target="_blank">
            <i class="icon-print icon-white"></i> {% trans %}BL{% endtrans %}
    </a>
{% if app.session.get('applicationUSER') == "Toolbox" %}
{% if entity.etat == 'Livré' or entity.etat == 'En préparation virtuelle' %}
{% else %}
{% if entity.etat == 'En attente de préparation' %}
<a href="{{ path('comclients_editprepa', { 'id': entity.id }) }}" class="btn btn-success">
            {% trans %}Changer Etat{% endtrans %}
        </a>
{% elseif entity.etat == 'En cours de préparation' %}
<a href="{{ path('comclients_editencprepa', { 'id': entity.id }) }}" class="btn btn-success">
            {% trans %}Changer Etat{% endtrans %}
        </a>
{% elseif entity.etat == 'Préparé en attente expédition' %}
<a href="{{ path('comclients_editatexp', { 'id': entity.id }) }}" class="btn btn-success">
            {% trans %}Changer Etat{% endtrans %}
        </a>
{% elseif entity.etat == 'En cours de livraison' %}
<a href="{{ path('comclients_editenclivr', { 'id': entity.id }) }}" class="btn btn-success">
            {% trans %}Changer Etat{% endtrans %}
        </a>
{% else %}
{% endif %}
{% endif %}
{% endif %}

        <a href="{{ path('comclients') }}" class="btn btn-danger">
            {% trans %}Retour à la liste{% endtrans %} ->
        </a>

</div>



{% endblock %}