{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block comclientsshoweditpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Récapitulatif de vôtre OP{% endtrans %}:</h4></div>
<div class="progress progress-danger progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<h4></h4>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Num Ordre de Préparation{% endtrans %}: {{ entity.numop }}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>{% trans %}Date{% endtrans %}: {{ entity.datecom|date('d-m-Y   H:i:s') }}</th>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="span8"> 
<div class="page-header"></div>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Liste des articles à préparer{% endtrans %}:</th>
			<th>{% trans %}Quantité{% endtrans %}:</th>
			<td>
			</td>
		</tr>
	</thead>
	<tbody>
	{% if resultcount == 1 %}
		<tr>
			<td>{{ designat }}</td>
			<td>{{ qtte }}</td>
			<td>
			</td>
		</tr>
	{% elseif resultcount > 1 %}
	{% for article in idarticle %}
		<tr>
			<td>{{ article.designat }}</td>
			<td>{{ article.qtte }}</td>
			<td>
			</td>
		</tr>
	{% endfor %}
	{% else %}
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	{% endif %}
	</tbody>
</table>
<div class="page-header"></div>	
<form action="{{ path('comclients_updatecomclient') }}" method="post">
<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td>{% trans %}Catégorie{% endtrans %} - {% trans %}Fournisseur{% endtrans %} - {% trans %}Article{% endtrans %} -> <strong>{% trans %}Stock{% endtrans %}: {% trans %}Réel{% endtrans %} {% trans %}(En attente de réception){% endtrans %}</strong></td>
			<td></td>
		</tr>
		<tr>
			<td>
			<select name="idarticle" class="span13">
			{% for entityarticle2 in entitiesarticlestot %}
			{% if entityarticle2.qtetot <= 0 %}
				<OPTION VALUE="{{ entityarticle2.id }}" style="color:#FF0000;">{{ entityarticle2.designat }} -> {% trans %}Stock:{% endtrans %} {{ entityarticle2.qtetot }} ( {{ entityarticle2.qteencours }} )</OPTION>
				{% elseif entityarticle2.qtetot < 6 %}
				<OPTION VALUE="{{ entityarticle2.id }}" style="color:#ff9933;">{{ entityarticle2.designat }} -> {% trans %}Stock:{% endtrans %} {{ entityarticle2.qtetot }} ( {{ entityarticle2.qteencours }} )</OPTION>
				{% else %}
				<OPTION VALUE="{{ entityarticle2.id }}">{{ entityarticle2.designat }} -> {% trans %}Stock:{% endtrans %} {{ entityarticle2.qtetot }} ( {{ entityarticle2.qteencours }} )</OPTION>
				{% endif %}
			{% endfor %}
			</select>
			</td>
			<td><INPUT type="text" value=0 name="qte"></td>
		</tr>
		<tr>
			<td><!-- <button class="btn btn-danger" type="submit">Ajouter</button> --></td>
			<td></td>
		</tr>
</table>
<div class="page-header"></div>	
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
            <th>{% if destination.typecpte %}{% trans %}Type de Compte{% endtrans %}: {% endif %}</th>
            <td>{% if destination.typecpte %}{{ destination.typecpte }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if destination.compte %}{% trans %}Compte{% endtrans %}: {% endif %}</th>
            <td>{% if destination.compte %}{{ destination.compte }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if entity.nomdusite %}{% trans %}Nom du Site{% endtrans %}: {% endif %}</th>
            <td>{% if entity.nomdusite %}{{ entity.nomdusite }}{% endif %}</td>
        </tr>
		<tr>
            <th>{% if destination.nummag %}{% trans %}Num Magasin{% endtrans %}: {% endif %}</th>
            <td>{% if destination.nummag %}{{ destination.nummag }}{% endif %}</td>
        </tr>
		<tr>
			<th>{% trans %}Adresse de Livraison{% endtrans %}:</th>
			<th>{% trans %}Info contact{% endtrans %}:</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ destination.site }}
			<p>{{ destination.adresse1 }}</p>
			<p>{{ destination.adresse2 }}</p>
			<p>{{ destination.cp }} {{ destination.ville }}</p></td>
			<td><p>{% trans %}Tel{% endtrans %}: {{ destination.tel }} {% trans %}Fax{% endtrans %}:{{ destination.fax }}</p>
			<p>{% trans %}Contact{% endtrans %}: {{ destination.contact }}</p>
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td></td>
		</tr>
	</tbody>
</table>
<div class="page-header"></div>

<table class="table table-striped table-bordered table-condensed">
    <tbody>
		<tr>
            <th>{% trans %}Num Bon de commande de Maintenance{% endtrans %}: </th>
            <td>{{ entity.numcommaint }}</td>
        </tr>
        <tr>
            <th>{% trans %}Commentaires{% endtrans %}:</th>
            <td>{{ entity.comm }}</td>
        </tr>
		<tr>
            <th>{% trans %}Date Livraison prévue{% endtrans %}</th>
            <td>{{ entity.datelivrsouh|date('d-m-Y H:i:s') }}</td>
        </tr>
		<tr>
            <th>{% trans %}Date de livraison impérative{% endtrans %}:</th>
            <td>{{ entity.livrimp }}</td>
        </tr>
		<tr>
            <th>{% trans %}Date de livraison non déterminée{% endtrans %}:</th>
            <td>{{ entity.datelivrend }}</td>
        </tr>
    </tbody>
</table>

	
    
<form action="{{ path('comclients_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">{% trans %}SUPPRIMER L'OP POUR EN CREER UN AUTRE{% endtrans %}</button>
</form>

<div class="span4">
<a href="{{ path('comclients') }}" class="btn btn-danger">
            {% trans %}Retour à la liste{% endtrans %} ->
</a>
</div>
</div>



{% endblock %}