{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block visualisationstockclientpage %} 
{{ parent() }}
<div class="container">

<p></p>
<div class="page-header"><h4>{% trans %}Liste des Articles en stock{% endtrans %}</h4></div>
<div class="spanscroll4" align="center">
<table class="table table-striped table-condensed" id="sortTableExample2">
    <thead>
        <tr>
            <th>{% trans %}Article{% endtrans %}</th>
            <th>{% trans %}Qtte{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entityarticle in entities %}
        <tr>
            <td>{{ entityarticle.designat }}</td>
            <td>{{ entityarticle.qtetot }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>

{% endblock %}