{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block Inventairepage %} 
{{ parent() }}
<div class="container">
 <h4>{% trans %}Inventaire{% endtrans %}</h4>
<pre>{% trans %}Cette fonction est l’outil du gestionnaire de l’entrepôt{% endtrans %}. {% trans %}Elle permet de définir et de suivre les indicateurs de marche de l’entrepôt et d’obtenir les statistiques de fonctionnement et des inventaires{% endtrans %}.
<p>{% trans %}La synthèse permet d’obtenir le cumul des données comme le nombre de pièces, de lignes, le poids, le volume, aussi bien pour les entrées que pour les sorties, sans oublier le stockage{% endtrans %}.</p>
<p>{% trans %}Ces informations sont essentielles à la mise en place de tableaux de bord et d’outils de contrôle{% endtrans %}.</p></pre>
</div>
<div class="container">
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>- {% trans %}Ticket{% endtrans %} -</th>
			<th>{% trans %}Commentaires{% endtrans %}:</th>
			<th>{% trans %}Date{% endtrans %}:</th>
			<th>{% trans %}Auteur{% endtrans %}:</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>- {{ entity.id }} -</td>
			<td>{{ entity.com }}</td>
			<td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
			<td>{{ entity.auteur }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div class="page-header"></div>
<div class="container">
<form action="{{ path('Inventaire_create') }}" method="post" {{ form_enctype(form) }}>
	{{ form_label(form.com, "") }}{% trans %}Vos Commentaires Suggestions{% endtrans %}:
	{{ form_widget(form.com) }}
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>
</div>
{% endblock %}