<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec le Site du Zéro !</title>
    </head>
    <body>
        <h1>Hello World !</h1>

        <p>
            Ici on visualise l'agent
        </p>
    </body>
</html>