{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block audtechadminpage %} 
{{ parent() }}
<h4>{% trans %}Listing des Audits Qualités{% endtrans %}</h4>
<br></br>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable18">
    <thead>
        <tr>
			<th>{% trans %}Num{% endtrans %}</th>
			<th>{% trans %}Signataire{% endtrans %}</th>
			<th>{% trans %}Date{% endtrans %}</th>
			<th>{% trans %}Code Agence{% endtrans %}</th>
			<th>{% trans %}Ville{% endtrans %}</th>
			<th>{% trans %}RS{% endtrans %}</th>
            <th><i class="icon-eye-open"></i> {% trans %}Voir{% endtrans %}</th>
			<th><i class="icon-edit"></i> {% trans %}Modifier{% endtrans %}</th>
			<th><i class="icon-file"></i> {% trans %}PDF{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
			<td>{{ entity.nomsignaltea }}</td>
			<td>{% if entity.datemaj %}{{ entity.datemaj|date('d-m-Y') }}{% endif %}</td>
			<td>{{ entity.lieux.codag }}</td>
			<td>{{ entity.lieux.nomville }}</td>
			<td>{{ entity.lieux.respsect }}</td>
            <td><a href="{{ path('audtech_showsinglemass', { 'id': entity.id }) }}?idMag={{ entity.lieux.id }}"><i class="icon-eye-open"></i></a></td>
			<td><a href="{{ path('audtech_edit', { 'id': entity.id }) }}?idMag={{ entity.lieux.id }}"><i class="icon-edit"></i></a></td>
			<td>{% if entity.nomsignaltea is none %}<i class="icon-ban-circle">{% else %}<a href="{{ path('audtech_showpdf', { 'id': entity.id }) }}?idMag={{idMag}}" target="_blank"><i class="icon-download"></a>{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br></br>
<ul>
        <a class="btn btn-primary" href="{{ path('audtech_new') }}?idMag={{idMag}}">
            {% trans %}Nouvel Audit Qualité{% endtrans %}
        </a>
</ul>
{% endblock %}