{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditpage %} 
{{ parent() }}
<div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
						{% trans %}Recadrage d'un agent{% endtrans %}
				</a>
			</div>
			<div style="height: auto;" id="collapseOne" class="accordion-body in collapse">
				<div class="accordion-inner">
<h4>{% trans %}Recadrage sur le magasin{% endtrans %}</h4>
<br></br>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable18">
    <thead>
        <tr>
            <th>{% trans %}Date Recadrage{% endtrans %}</th>
			<th>{% trans %}Agent{% endtrans %}</th>
			<th>{% trans %}Objectif{% endtrans %}</th>
			<th>{% trans %}Date Objectif{% endtrans %}</th>
            <th>{% trans %}A atteindre{% endtrans %}</th>
            <th>{% trans %}Atteint{% endtrans %}</th>
			<th><i class="icon-eye-open"></i> {% trans %}Voir{% endtrans %}</th>
			<th><i class="icon-edit"></i> {% trans %}Modifier{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entitiesrecadre %}
        <tr>
            <td align="center">{% if entity.daterecad %}{{ entity.daterecad|date('d-m-Y') }}{% endif %}</td>
			<td>{{ entity.agent.nompers }} {{ entity.agent.prenompers }}</td>
			<td>{{ entity.objectcom }}</td>
			<td align="center">{% if entity.dateobj %}{{ entity.dateobj|date('d-m-Y') }}{% endif %}</td>
            <td align="center">{% if entity.object == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% endif %}</td>
            <td align="center">{% if entity.objatt == 1 %}<i class="icon-ok icon-green"></i>{% endif %}</td>
			<td align="center"><a href="{{ path('recadrage_show', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-eye-open"></i></a></td>
			<td align="center"><a href="{{ path('recadrage_edit', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
</br>
<a class="btn btn-primary" href="{{ path('recadrage_newrecaud') }}?idMag={{idMag}}">
            {% trans %}Nouveau recadrage{% endtrans %}
</a>
</div>
</div>
</div>
<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
						{% trans %}Dépot dans le Magasin{% endtrans %} - {% trans %}Demande Réapro{% endtrans %}
				</a>
			</div>
			<div style="height: auto;" id="collapseTwo" class="accordion-body in collapse">
				<div class="accordion-inner">
<h4>{% trans %}Listing Produits{% endtrans %} - {% trans %}Materiels{% endtrans %} - {% trans %}Consommables{% endtrans %}</h4>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable15">
    <thead>
        <tr>
            <th>{% trans %}Nom{% endtrans %}</th>
			<th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Seuil du Magasin{% endtrans %}</th>
            <th>{% trans %}Seuil du Véhicule{% endtrans %}</th>
            <!-- <th>Déposé</th> -->
			<!-- <th>Livraison 3 / 4 Jours</th> -->
        </tr>
    </thead>
    <tbody>
    {% for entity in entitiesprodmag %}
		{% if entity.nom != '-----------' %}
        <tr>
            <td>{{ entity.nom }}</td>
			<td>{{ entity.typemat }}</td>
            <td align="center">{{ entity.seuilmag }}</td>
            <td align="center">{{ entity.seuilveh }}</td>
            <!-- <td align="center"><a data-toggle="modal" data-id="107" href="#myModal"><i class="icon-share icon-green"></i></a></td> -->
			<!-- <td align="center"><a href="#"><i class="icon-road icon-green"></i></a></td> -->
        </tr>
		{% endif %}
    {% endfor %}
    </tbody>
</table>
<br>
</br>
<h4>{% trans %}Dépots dans le magasin{% endtrans %} - {% trans %}demande de réapro via livraison{% endtrans %}</h4>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable15">
    <thead>
        <tr>
            <th>{% trans %}Date{% endtrans %}</th>
			<th>{% trans %}Nom{% endtrans %}</th>
			<th>{% trans %}Seuil du Magasin{% endtrans %}</th>
			<th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Qte Déposée{% endtrans %}</th>
            <th>{% trans %}Stock Restant dans le véhicule{% endtrans %}</th>
			<th>{% trans %}Seuil Véhicule{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entitiesstockmag %}
        <tr>
            <td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
            <td>{{ entity.prodmag.nom }}</td>
			<td align="center">{{ entity.prodmag.seuilmag }}</td>
			<td align="center">{{ entity.typlivr }}</td>
			<td align="center">{{ entity.depotmag }}</td>
            <td align="center">{{ entity.prodvehic.stock }}</td>
			<td align="center">{{ entity.prodmag.seuilveh }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
</br>
<div class="container">
<form action="{{ path('stockmag_createrecaud') }}" method="post" {{ form_enctype(formstockmag) }}>
<table class="table table-striped table-bordered table-condensed">
			<thead>
						<tr>
							<th>{% trans %}Date du dépot{% endtrans %}</th>
							<th>{% trans %}Nom{% endtrans %}</th>
							<th>{% trans %}Qte Déposée{% endtrans %}</th>
							<th>{% trans %}Type de dépot{% endtrans %}</th>
						</tr>
			</thead>
			<tbody>
						<tr>
							<td>
								<div class="input-append date" id="datepicker2" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y') }} name="datedepot">
								<span class="add-on"><i class="icon-th"></i></span>
							</td>
							<td>{{ form_widget(formstockmag.prodmag) }}</td>
							<td>{{ form_widget(formstockmag.depotmag) }}</td>
							<td>{{ form_widget(formstockmag.typlivr) }}</td>
						</tr>
			</tbody>			
</table>
    {{ form_rest(formstockmag) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Ajouter{% endtrans %}</button>
    </p>
</form>
</div>
</div>
</div>
<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
						{% trans %}Formation{% endtrans %}
				</a>
			</div>
			<div style="height: auto;" id="collapseThree" class="accordion-body in collapse">
				<div class="accordion-inner">
<h4>{% trans %}Nouvelle Formation{% endtrans %}</h4>
<br></br>
<form action="{{ path('formation_createrecaud') }}" method="post" {{ form_enctype(formformation) }}>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Site{% endtrans %}</td>
				<td>{% trans %}Date de la formation{% endtrans %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input size="16" type="text" value={{ app.session.get('nomGC') ~ "-" ~ lieux.nomville ~ "-" ~ lieux.codag }} name="site2"></td>
				<td><div class="input-append date" id="datepicker" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y') }} name="dateformation">
				<span class="add-on"><i class="icon-th"></i></span></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Formateur{% endtrans %}:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Nom{% endtrans %}: <p><input size="16" type="text" value={{ app.session.get('nomUSER') }} name="nomform"></p></td>
				<td>{% trans %}Prénom{% endtrans %}: <p><input size="16" type="text" value={{ app.session.get('prenomUSER') }} name="prenomform"></p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}La formation{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Détail de la formation{% endtrans %}: <p>{{ form_widget(formformation.detailform) }}</p></td>
				<td>{% trans %}Type de formation{% endtrans %}: <p>{{ form_widget(formformation.typeform) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Observations{% endtrans %}: <p>{{ form_widget(formformation.observ) }}</p></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}L'agent{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Nom{% endtrans %}: <p>{{ form_widget(formformation.nomagent) }}</p></td>
				<td>{% trans %}Prénom{% endtrans %}: <p>{{ form_widget(formformation.prenomagent) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Adresse1{% endtrans %}: <p>{{ form_widget(formformation.adr1agent) }}</p><p>{% trans %}Adresse2{% endtrans %}: </p><p>{{ form_widget(formformation.adr2agent) }}</p></td>
				<td>{% trans %}Code Postal{% endtrans %}:<p>{{ form_widget(formformation.cpagent) }}</p><p>{% trans %}Ville{% endtrans %}:</p><p>{{ form_widget(formformation.villeagent) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Nationnalité{% endtrans %}: <p>{{ form_widget(formformation.nation) }}</p></td>
				<td>{% trans %}Ressortissant CE{% endtrans %}: <p>{{ form_widget(formformation.CEE) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}N° Carte Identité{% endtrans %}: <p>{{ form_widget(formformation.numci) }}</p></td>
				<td>{% trans %}Délivrée par{% endtrans %}: <p>{{ form_widget(formformation.pref) }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}N° Titre de séjour{% endtrans %}: <p>{{ form_widget(formformation.numtsej) }}</p></td>
				<td>{% trans %}Date de validité{% endtrans %}: <p><div class="input-append date" id="datepicker3" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y') }} name="datesej">
				<span class="add-on"><i class="icon-th"></i></span></p></td>
			</tr>
			<tr>
				<td>{% trans %}Autorisation de travail salarié{% endtrans %}: <p>{{ form_widget(formformation.autotravsal) }}</p></td>
				<td>{% trans %}Délivrée par{% endtrans %}: <p>{{ form_widget(formformation.pref2) }}</p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Appréciation de l'agent{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Appréciation générale{% endtrans %}: <p>{{ form_widget(formformation.critere) }} / 20</p></td>
				<td></td>
			</tr>
			<tr>
				<td>{% trans %}Présentation{% endtrans %}: <p>{{ form_widget(formformation.notepres) }} / 20</p></td>
				<td>{% trans %}Elocution{% endtrans %}: <p>{{ form_widget(formformation.noteeloc) }} / 20</p></td>
			</tr>
			<tr>
				<td>{% trans %}Dynamisme{% endtrans %}: <p>{{ form_widget(formformation.notedynam) }} / 20</p></td>
				<td>{% trans %}Analyse Compréhension{% endtrans %}: <p>{{ form_widget(formformation.noteanaly) }} / 20</p></td>
			</tr>
			<tr>
				<td>{% trans %}Organisation{% endtrans %}: <p>{{ form_widget(formformation.noteorga) }} / 20</p></td>
				<td>{% trans %}Expérience{% endtrans %}: <p>{{ form_widget(formformation.noteexp) }} / 20</p></td>
			</tr>
			<tr>
				<td>{% trans %}Recommander pour{% endtrans %}: <p>{{ form_widget(formformation.recommand) }}</p></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Fichiers Upload{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Carte d'identité recto{% endtrans %}: <p>{{ form_widget(formformation.fileimg1) }}</p></td>
				<td></td>
			</tr>
			<tr>
				<td>{% trans %}Carte d'identité verso{% endtrans %}: <p>{{ form_widget(formformation.fileimg2) }}</p></td>
				<td></td>
			</tr>
			<tr>
				<td>{% trans %}Autre{% endtrans %}: <p>{{ form_widget(formformation.fileimg3) }}</p></td>
				<td></td>
			</tr>
		</tbody>
	</table>
    {{ form_rest(formformation) }}
    <p>
        <button class="btn btn-primary" type="submit" value="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>
</div>
</div>
</div>
<br></br>
<h4>{% trans %}Nouvel audit qualité{% endtrans %}</h4>
<br></br>
<div class="container">
<form action="{{ path('audtech_create') }}" method="post" {{ form_enctype(form) }}>
<table class="table table-striped table-bordered table-condensed">
	<tbody>
	<tr>
	<td>
	<div><strong>{% trans %}Date de l'audit{% endtrans %}:</strong></div>
	<div class="input-append date" id="datepicker02" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y') }} name="date_maj">
				<span class="add-on"><i class="icon-th"></i></span>
	</td>
	</tr>
	</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<th>{% trans %}Fonction{% endtrans %}</th>
		<th>{% trans %}Nomenclature{% endtrans %}</th>
		<th>{% trans %}Etat{% endtrans %}</th>
		<th>{% trans %}Commentaire Détaillé{% endtrans %}</th>
	</thead>
	<tbody>
		{% for tache in taches %}
		<tr>
			<td>{{ tache.fonction.nom }}</td>
			<td>{{ tache.tache }}</td>
			<td><select multiple="multiple" name="etat{{ tache.id }}[ ]" id="etat">
				<option value="propre">{% trans %}Propre{% endtrans %}</option>
				<option value="trace">{% trans %}Traces{% endtrans %}</option>
				<option value="poussieres">{% trans %}Poussières{% endtrans %}</option>
				<option value="taches">{% trans %}Tâches{% endtrans %}</option>
				<option value="use">{% trans %}Usé{% endtrans %}</option>
				</select>
			</td>
			<td><textarea name="com{{ tache.id }}" id="com"></textarea></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
			<thead>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<tr>
					<td><p>{% trans %}Bon de vitrage{% endtrans %}:</p>{{ form_widget(form.filebv1) }}</td>
					<td></td>
				</tr>
				<tr>
					<th>{{ form_label(form.carnetbord, " ") }}{% trans %}Carnet de Bord rempli{% endtrans %}</th>
					<th>{{ form_widget(form.carnetbord) }}</th>
				</tr>
				<tr>
					<th>{{ form_label(form.matenpanne, " ") }}{{ form_widget(form.matenpanne) }}{% trans %}Materiel en Panne{% endtrans %} </th>
					<th> {{ form_widget(form.prodmag) }}</th>
				</tr>
				<tr>
					<th>{{ form_label(form.trait_prio, " ") }}{% trans %}Traitement Prioritaire{% endtrans %}</th>
					<th>{{ form_widget(form.trait_prio) }}</th>
				</tr>
			</tbody>
</table>
<table>
						<tr>
							<td align="center">{% trans %}Commentaires Traitement Prioritaire{% endtrans %}</td>
						</tr>
						<tr>
							<td align="center">{{ form_widget(form.trait_prio_com) }}</td>
						</tr>
</table>
    {{ form_rest(form) }}
<p>
        <button class="btn btn-primary" type="submit" value="submit">{% trans %}Enregistrer{% endtrans %}</button>
		<button class="btn" type="reset" value="reset">{% trans %}Annuler{% endtrans %}</button>
</p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('audtech') }}?idMag={{idMag}}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}