{% trans %}Bonjour{% endtrans %},

{% trans %}Vous venez de recevoir un mail de l'application Nomade{% endtrans %}
{% trans %}L'application viens de détecter un traitement prioritaire sur un Audit Qualité du{% endtrans %} {{ date_maj|date('d-m-Y') }},
{% trans %}concernant le magasin suivant{% endtrans %}: {{ ptvente }} {% trans %}notifié par Responsable Secteur{% endtrans %}: {{ rsecteur }}

{% trans %}Commentaire de l'audit{% endtrans %}:
{{ comtraitprio }}



{% trans %}vous pouvez vous connecter à l'application pour visualiser l'audit qualité concerné{% endtrans %}
{% trans %}à l'adresse suivante{% endtrans %}:
http://phareoscloud.org
{% trans %}muni de vos codes d'accès Nomade{% endtrans %}
{% trans %}si vous êtes déjà connecté sur un autre profil il faut vous déconnecter{% endtrans %}
{% trans %}puis vous reconnecter sur le profil Nomade{% endtrans %}

{% trans %}Cordialement{% endtrans %}
{% trans %}Pharéos Applications{% endtrans %}


{% trans %}ps: ce message vous est envoyé par un logiciel vous ne pouvez répondre directement à ce message{% endtrans %}