{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditpage %} 
{{ parent() }}
{% for entity in entitiesrecadrage %}
{% if loop.first %}
<h4>{% trans %}Recadrage du{% endtrans %} {{ entity.daterecad|date('d-m-Y') }}</h4>
<br></br>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Agent{% endtrans %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ entity.agent.nompers }} {{ entity.agent.prenompers }}</td>
			</tr>
		</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Objectifs{% endtrans %}:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><p>
				{% if entity.object == 1 %}
					<div class="alert alert-error">
						{{ entity.objectcom }}
					</div>
				{% else %}
					<div class="alert alert-success">
						{{ entity.objectcom }}
					</div>
				{% endif %}
				</p></td>
			</tr>
			<tr>
				<td>{% trans %}Prochaine Date de vérification objectif{% endtrans %}: {{ entity.dateobj|date('d-m-Y') }}</td>
			</tr>
			<tr>
				<td>{% trans %}Objectif Atteint{% endtrans %}: {% if entity.objatt == 1 %}<i class="icon-ok icon-green"></i>{% endif %}</td>
			</tr>
			<tr>
				<td>{% trans %}Objectif à atteindre{% endtrans %}: {% if entity.object == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% endif %}</td>
			</tr>
		</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Nom-Prénom du Signataire Altéa{% endtrans %}</th>
			<th>{% trans %}Nom-Prénom du Signataire Agent{% endtrans %}</th>
		</tr>
		<tr>
			<td>{{ entity.nomsignaltea }}</td>
			<td>{{ entity.nomsignagent }}</td>
		</tr>
	</thead>
</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Signature{% endtrans %}:</th>
			<th>{% trans %}Signature{% endtrans %}:</th>
		</tr>
		<tr>
			<td><img src="/imgsign/recadrage/{{ entity.imgsignaltea }}"></td>
			<td><img src="/imgsign/recadrage/{{ entity.imgsignagent }}"></td>
		</tr>
	</thead>
</table>
{% endif %}
{% endfor %}
{% for entity in entitiesformation %}
{% if loop.first %}
<h4>{% trans %}Formation du{% endtrans %} {{ entity.dateform|date('d-m-Y') }}</h4>
<br></br>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Formateur{% endtrans %}:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Nom{% endtrans %}: <p>{{ entity.nomform }}</p></td>
				<td>{% trans %}Prénom{% endtrans %}: <p>{{ entity.prenomform }}</p></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}La formation{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Détail de la formation{% endtrans %}: <p>{{ entity.detailform }}</p></td>
				<td>{% trans %}Type de formation{% endtrans %}: <p>{{ entity.typeform }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Observations{% endtrans %}: <p>{{ entity.observ }}</p></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}L'agent{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Nom{% endtrans %}: <p>{{ entity.nomagent }}</p></td>
				<td>{% trans %}Prénom{% endtrans %}: <p>{{ entity.prenomagent }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Adresse1{% endtrans %}: <p>{{ entity.adr1agent }}</p><p>{% trans %}Adresse2{% endtrans %}: </p><p>{{ entity.adr2agent }}</p></td>
				<td>{% trans %}Code Postal{% endtrans %}:<p>{{ entity.cpagent }}</p><p>{% trans %}Ville{% endtrans %}:</p><p>{{ entity.villeagent }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Nationnalité{% endtrans %}: <p>{{ entity.nation }}</p></td>
				<td>{% trans %}Ressortissant CE{% endtrans %}: <p>{% if entity.CEE == 1 %}{% trans %}OUI{% endtrans %}{% else %}{% trans %}NON{% endtrans %}{% endif %}</p></td>
			</tr>
			<tr>
				<td>{% trans %}N° Carte Identité{% endtrans %}: <p>{{ entity.numci }}</p></td>
				<td>{% trans %}Délivrée par{% endtrans %}: <p>{{ entity.pref }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}N° Titre de séjour{% endtrans %}: <p>{{ entity.numtsej }}</p></td>
				<td>{% trans %}Date de validité{% endtrans %}: <p>{{ entity.datesej|date('d-m-Y') }}</p></td>
			</tr>
			<tr>
				<td>{% trans %}Autorisation de travail salarié{% endtrans %}: <p>{% if entity.autotravsal == 1 %}{% trans %}OUI{% endtrans %}{% else %}{% trans %}NON{% endtrans %}{% endif %}</p></td>
				<td>{% trans %}Délivrée par{% endtrans %}: <p>{{ entity.pref2 }}</p></td>
			</tr>
		</tbody>
	</table>
{% endif %}
{% endfor %}
<h4>{% trans %}Listing Stock Magasin{% endtrans %}</h4>
<br></br>
<div class="container">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable15">
    <thead>
        <tr>
            <th>{% trans %}Date{% endtrans %}</th>
			<th>{% trans %}Nom{% endtrans %}</th>
			<th>{% trans %}Seuil du Magasin{% endtrans %}</th>
			<th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Qte Déposée{% endtrans %}</th>
            <th>{% trans %}Stock Véhicule Restant{% endtrans %}</th>
			<th>{% trans %}Seuil Véhicule{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entitiesstockmag %}
        <tr>
            <td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
            <td>{{ entity.prodmag.nom }}</td>
			<td align="center">{{ entity.prodmag.seuilmag }}</td>
			<td align="center">{{ entity.typlivr }}</td>
			<td align="center">{{ entity.depotmag }}</td>
            <td align="center">{{ entity.stockve }}</td>
			<td align="center">{{ entity.prodmag.seuilveh }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
</br>
<h4>{% trans %}Audit Qualité{% endtrans %} - {{ entity.datemaj|date('d-m-Y') }}</h4>
<p>
	
</p>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable16">
	<thead>
		<th>{% trans %}Fonction{% endtrans %}</th>
		<th>{% trans %}Nomenclature{% endtrans %}</th>
		<th>{% trans %}Propre{% endtrans %}</th>
		<th>{% trans %}Traces{% endtrans %}</th>
		<th>{% trans %}Poussières{% endtrans %}</th>
		<th>{% trans %}Tâches{% endtrans %}</th>
		<th>{% trans %}Usé{% endtrans %}</th>
		<th>{% trans %}Commentaires{% endtrans %}</th>
	</thead>
	<tbody>
		{% for tache in taches %}
		<tr>
			<td>{{ tache.fonction.nom }}</td>
			<td>{{ tache.tache }}</td>
			{% for audtprog in audtprogs %}
			{% if audtprog.tachesprogmag == tache %}
			<td align="center">{% if audtprog.propre == 1 %}<i class="icon-ok icon-green"></i>{% else %}-{% endif %}</td>
			<td align="center">{% if audtprog.traces == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% else %}-{% endif %}</td>
			<td align="center">{% if audtprog.poussiere == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% else %}-{% endif %}</td>
			<td align="center">{% if audtprog.tache == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% else %}-{% endif %}</td>
			<td align="center">{% if audtprog.fatuse == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% else %}-{% endif %}</td>
			<td align="center">{{ audtprog.com }}</td>
			{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
    <thead>
		<tr>
			<th>{% trans %}Bon de vitrage{% endtrans %} {% if entity.filebv1 %}<i class="icon-ok icon-green"></i>{% endif %}</th>
			<th>{% if entity.filebv1 %}<a href="{{ asset('upload/nomade/audit/bonvitrage/' ~ entity.id ~'/' ~ entity.filebv1)}}" target="_blank">{% trans %}Télécharger{% endtrans %} <i class="icon-download icon-green"></i></a>{% else %}-{% endif %}</th>
		</tr>
		<tr>
			<th>{% trans %}Carnet de Bord{% endtrans %} {% if entity.carnetbord == 1 %}<i class="icon-ok icon-green"></i>{% endif %}</th>
			<th></th>
		</tr>
		<tr>
			<th>{% trans %}Materiel en panne{% endtrans %} {% if entity.matenpanne == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% endif %}</th>
			<th>{% if entity.matenpanne == 1 %}{{ entity.prodmag.nom }}{% endif %}</th>
		</tr>
		<tr>
			<th>{% trans %}Traitement Prioritaire{% endtrans %} {% if entity.traitPrio == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% endif %}</th>
			<th></th>
		</tr>
		<tr>
			<th>{% trans %}Commentaires Traitement Prioritaire{% endtrans %}</th>
			<th>{{ entity.traitPrioCom }}</th>
		</tr>
	</thead>
</table>
{% if entity.nomsignaltea is none %}
<form action="{{ path('audtech_updatesign', { 'id': entity.id }) }}" method="post">
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Point avec Directrice ou Responsable et signature{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Signature impossible Directrice indisponible{% endtrans %} ?: <p><SELECT name="dispodir">
																			<OPTION VALUE=0>{% trans %}Signature en cours{% endtrans %}...</OPTION>
																			<OPTION VALUE=1>{% trans %}Directrice Indisponible{% endtrans %}</OPTION>
																		</SELECT>
																		</p>
				</td>
				<td>{% trans %}Point avec{% endtrans %} ?: <p><SELECT name="pointdirres">
										<OPTION VALUE="Responsable">{% trans %}Responsable{% endtrans %}</OPTION>
										<OPTION VALUE="Direction">{% trans %}Direction{% endtrans %}</OPTION>
									</SELECT>
									</p>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Point avec l'agent{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Type de contact{% endtrans %}: <p><SELECT name="pointagent">
										<OPTION VALUE="Sur site">{% trans %}Sur site{% endtrans %}</OPTION>
										<OPTION VALUE="Téléphone">{% trans %}Téléphone{% endtrans %}</OPTION>
										<OPTION VALUE="Message dans le cahier">{% trans %}Message dans le cahier{% endtrans %}</OPTION>
									</SELECT>
									</p>
				</td>
				<td>
				</td>
			</tr>
		</tbody>
	</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Nom-Prénom du Signataire{% endtrans %} {{ app.session.get('societeUSER') }}</th>
			<th>{% trans %}Nom-Prénom du Signataire{% endtrans %} {{ app.session.get('nomGC') }}</th>
		</tr>
		<tr>
			<td><input size="16" type="text" value={{ app.session.get('nomUSER') ~ "-" ~ app.session.get('prenomUSER') }} name="nomsignaltea"></td>
			<td><input size="16" type="text" value={% if responsmag1.nompers %}{{ responsmag1.nompers ~ "-" ~ responsmag1.prenompers }}{% else %}""{% endif %} name="nomsignclient"></td>
		</tr>
	</thead>
</table>

<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
				<td>
					<div class="sigPad">
						<p class="drawItDesc">{% trans %}Signature{% endtrans %}:</p>
							<ul class="sigNav">
								<li class="clearButton"><a href="#clear">{% trans %}Annuler{% endtrans %}</a></li>
							</ul>
							<div class="sig sigWrapper">
								<div class="typed"></div>
								<canvas class="pad" width="298" height="190"></canvas>
								<input type="hidden" name="output1" class="output">
							</div>
					</div>
					</td>
					<td>
					<div class="sigPad">
						<p class="drawItDesc">{% trans %}Signature{% endtrans %}:</p>
						<ul class="sigNav">
							<li class="clearButton"><a href="#clear">{% trans %}Annuler{% endtrans %}</a></li>
						</ul>
						<div class="sig sigWrapper">
							<div class="typed"></div>
							<canvas class="pad" width="298" height="190"></canvas>
							<input type="hidden" name="output2" class="output">
						</div>
					</div>
					</td>
					
		</tr>
	</thead>
</table>

<button class="btn btn-danger" type="submit">{% trans %}Je certifie sur l'honneur l'éxactitude des renseignements ci-dessus{% endtrans %}.</button>
</form>
{% else %}
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Point avec Directrice ou Responsable{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% if entity.pointdirres %}{% trans %}Point avec la{% endtrans %} {{ entity.pointdirres }}{% endif %}</td>
			</tr>
		</tbody>
	</table>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Point avec Agent{% endtrans %}:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Type de contact{% endtrans %}: {{ entity.pointagent }}</td>
			</tr>
		</tbody>
	</table>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Nom-Prénom du Signataire{% endtrans %} {{ app.session.get('societeUSER') }}</th>
			<th>{% trans %}Nom-Prénom du Signataire{% endtrans %} {{ app.session.get('nomGC') }}</th>
		</tr>
		<tr>
			<td>{{ entity.nomsignaltea }}</td>
			<td>{{ entity.nomsignclient }}</td>
		</tr>
	</thead>
</table>

<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>{% trans %}Signature{% endtrans %}:</th>
			<th>{% trans %}Signature{% endtrans %}:</th>
		</tr>
		<tr>
			<td><img src="/imgsign/audtech/{{ entity.imgsignaltea }}"></td>
			<td><img src="/imgsign/audtech/{{ entity.imgsignclient }}"></td>
		</tr>
	</thead>
</table>
{% endif %}
<a class="btn btn-warning" href="{{ path('audtech_edit', { 'id': entity.id }) }}">
            {% trans %}Modifier{% endtrans %}
</a>
<br>
</br>
<ul class="record_actions">
    <li>
        <a href="{{ path('audtech') }}?idMag={{idMag}}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}