{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block com_recip_tmppage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Nouvelle Ordre de réception{% endtrans %}</h4></div>
    <div class="progress progress-success progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
{% if app.user.username == "jeffclient" %}
<div class="container">
<div class="row">
<div class="span10">
<form action="{{ path('comreciptmp_createpan') }}" method="post" {{ form_enctype(form) }}>
<div id="SmartCartbis" class="scMain">
{% for entityarticle2 in entitiesarticles %}
  <input type="hidden" pimage="" pprice=""
  pdesc="{% trans %}Stock disponible{% endtrans %}: {{ entityarticle2.qtetot }} - {% trans %}En attente de réception{% endtrans %}: {{ entityarticle2.qteencours }} - {% trans %}Réservé{% endtrans %}: {{ entityarticle2.qtereserve }}" pcategory="{{ entityarticle2.categorie }} - {{ entityarticle2.fourniss }}"
  pname="{{ entityarticle2.designat }}" pid="{{ entityarticle2.id }}">
{% endfor %}
</div>
</form>
</div>
</div>
</div>
{% else %}
<div><h5>{% trans %}Liste des Articles à sélectionner{% endtrans %}:</h5></div>

</div>
<div class="container">
<p></p>
<form action="{{ path('comreciptmp_create') }}" method="post" {{ form_enctype(form) }}>
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td>{% trans %}Catégorie{% endtrans %} - {% trans %}Fournisseur{% endtrans %} - {% trans %}Article{% endtrans %} -> <strong>{% trans %}Stock: Réel (En attente de réception){% endtrans %}</strong></td>
			<td>{{ form_errors(form.qtte) }}{{ form_label(form.qtte, "") }}{% trans %}Quantité{% endtrans %}: </td>
		</tr>
		<tr>
			<td><select name="nomarticle2" class="span13">
			{% for entityarticle2 in entitiesarticles %}
				{% if entityarticle2.qtetot == 0 %}
				<OPTION VALUE="{{ entityarticle2.designat }}" style="color:#FF0000;">{{ entityarticle2.designat }} -> {% trans %}Stock{% endtrans %}: {{ entityarticle2.qtetot }} ( {{ entityarticle2.qteencours }} )</OPTION>
				{% elseif entityarticle2.qtetot < 6 %}
				<OPTION VALUE="{{ entityarticle2.designat }}" style="color:#ff9933;">{{ entityarticle2.designat }} -> {% trans %}Stock{% endtrans %}: {{ entityarticle2.qtetot }} ( {{ entityarticle2.qteencours }} )</OPTION>
				{% else %}
				<OPTION VALUE="{{ entityarticle2.designat }}">{{ entityarticle2.designat }} -> {% trans %}Stock{% endtrans %}: {{ entityarticle2.qtetot }} ( {{ entityarticle2.qteencours }} )</OPTION>
				{% endif %}
			{% endfor %}
			</select></td>
			<td>{{ form_widget(form.qtte) }}</td>
		</tr>
		<tr>
			<td><button class="btn btn-success" type="submit">{% trans %}Ajouter{% endtrans %}</button></td>
			<td></td>
		</tr>
	</table>
    {{ form_rest(form) }}
	
    <p>
        
    </p>
</form>
<div>
</div>
{% if app.session.get('liste_erreurs_session') == 'ok' %}{% else %}<span class="label label-important">{{ app.session.get('liste_erreurs_session')}}</span>{% endif %}
{% if entities %}

<div><h5>{% trans %}Articles en commande{% endtrans %}</h5></div>

<div align="center">

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>{% trans %}Article{% endtrans %}</th>
            <th>{% trans %}Qtte{% endtrans %}</th>
			<th>{% trans %}Suppr{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nomarticle }}</td>
            <td>{{ entity.qtte }}</td>
			<td><form action="{{ path('comreciptmp_delete', { 'id': entity.id }) }}" method="post">
            <button class="btn btn-mini btn-success" type="submit">{% trans %}Suppr{% endtrans %}</i></button>
			</form>
			</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
<div class="container">
<p></p>


    <div class="row">
    <div class="span8"><p></p></div>
    <div class="span4"><a class="btn btn-success" href="{{ path('commanderecip_new') }}"><i class="icon-shopping-cart icon-white"></i> {% trans %}Ordre de réception ->{% endtrans %}</a></div>
    </div>



</div>
{% endif %}
{% endif %}
{% endblock %}