{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block com_recip_tmppage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Nouvelle Ordre de réception{% endtrans %}</h4></div>
    <div class="progress progress-success progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>

<div class="container">
<div class="row">
<div class="span10">
<form action="{{ path('comreciptmp_createpan') }}" method="post" {{ form_enctype(form) }}>
<div id="SmartCartbis" class="scMain">
{% for entityarticle2 in entitiesarticles %}
  <input type="hidden" pimage="" pprice=""
  pdesc="{% trans %}Stock disponible{% endtrans %}: {{ entityarticle2.qtetot }} - {% trans %}En attente de réception{% endtrans %}: {{ entityarticle2.qteencours }} - {% trans %}Réservé{% endtrans %}: {{ entityarticle2.qtereserve }}" pcategory="{{ entityarticle2.categorie }} - {{ entityarticle2.fourniss }}"
  pname="{{ entityarticle2.designat }}" pid="{{ entityarticle2.id }}">
{% endfor %}
</div>
</form>
</div>
</div>
</div>

{% endblock %}