<h1>{% trans %}com_article_tmp creation{% endtrans %}</h1>

<form action="{{ path('comarticletmp_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">{% trans %}Create{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('comarticletmp') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>
