{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block com_article_tmppage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Nouvelle Ordre de Préparation sélection des articles{% endtrans %}</h4></div>

</div>
</div>
{% endblock %}