{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block tachesviewpage %} 
{{ parent() }}
<form action="{{ path('prodvehic_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>{% trans %}Modification du stock véhicule de{% endtrans %}: {{ entity.respsect.nom }} {{ entity.respsect.prenom }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans %}Nouveau Stock{% endtrans %}: <p>{{ form_widget(edit_form.stock) }}</p></td>
			</tr>
		</tbody>
</table>
    {{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('prodvehic') }}?idMag={{idMag}}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}