<h1>{% trans %}planjs{% endtrans %}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Tljs{% endtrans %}</th>
            <td>{{ entity.tljs }}</td>
        </tr>
        <tr>
            <th>{% trans %}Lundi{% endtrans %}</th>
            <td>{{ entity.lundi }}</td>
        </tr>
        <tr>
            <th>{% trans %}Mardi{% endtrans %}</th>
            <td>{{ entity.mardi }}</td>
        </tr>
        <tr>
            <th>{% trans %}Mercredi{% endtrans %}</th>
            <td>{{ entity.mercredi }}</td>
        </tr>
        <tr>
            <th>{% trans %}Jeudi{% endtrans %}</th>
            <td>{{ entity.jeudi }}</td>
        </tr>
        <tr>
            <th>{% trans %}Vendredi{% endtrans %}</th>
            <td>{{ entity.vendredi }}</td>
        </tr>
        <tr>
            <th>{% trans %}Samedi{% endtrans %}</th>
            <td>{{ entity.samedi }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('planjs') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('planjs_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('planjs_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
