{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block leveltwo %} 
{{ parent() }}
<div class="container">
<div class="page-header">

<form action="{{ path('emplacement_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

    <table class="table table-striped table-bordered table-condensed" >
			<thead>
					<tr>
						<th>{{ form_widget(edit_form) }}</th>
					</tr>
			</thead>
						
	</table>
		<p>
			<button type="submit">{% trans %}Enregistrer{% endtrans %}</button>
		</p>
</form>


<ul class="record_actions">
    <li>
        <a href="{{ path('emplacement') }}">
            {% trans %}Retour de la liste{% endtrans %}
        </a>
    </li>

</ul>
{% endblock %}