{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block leveltwo %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Nouvel Emplacement{% endtrans %}</h4></div>

<form action="{{ path('emplacement_create') }}" method="post" {{ form_enctype(form) }}>
    <table class="table table-striped table-bordered table-condensed" >
						<thead>
						<tr>
							<th>{{ form_label(form.emplacement, "") }}{% trans %}Numero d'emplacement{% endtrans %}:</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.emplacement) }}</td>
						</tr>
						</tbody>
	</table>
	{{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
		<button class="btn" type="reset" value="reset">{% trans %}Annuler{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('emplacement') }}">
            {% trans %}Retour à la Liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}