{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block clientlistpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Listing Avenants{% endtrans %}</h4></div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable">
    <thead>
        <tr>
			<th>{% trans %}Date de la demande{% endtrans %}</th>
            <th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Commentaire{% endtrans %}</th>
            <th>{% trans %}Confirmation{% endtrans %}</th>
            <th>{% trans %}Date de confirmation{% endtrans %}</th>
            <th>{% trans %}Date de création{% endtrans %}</th>
            <th>{% trans %}Date de mise à jour{% endtrans %}</th>
            <th>{% trans %}Voir{% endtrans %}</th>
			<th>{% trans %}Modif{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.datedemande %}{{ entity.datedemande|date('d-m-Y') }}{% endif %}</td>
            <td>{{ entity.typeavenant }}</td>
			<td>{{ entity.commentaire }}</td>
            <td>{% if entity.confirmok == 1 %}<i class="icon-ok icon-green"></i>{% else %}<i class="icon-ban-circle icon-red"></i>{% endif %}</td>
            <td>{% if entity.dateok %}{{ entity.dateok|date('d-m-Y') }}{% endif %}</td>
            <td>{% if entity.datecrea %}{{ entity.datecrea|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.datemaj %}{{ entity.datemaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td align="center"><a href="{{ path('avenant_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
			<td align="center"><a href="{{ path('avenant_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<p>
<ul>
        <a class="btn btn-primary" href="{{ path('avenant_new') }}">
            {% trans %}Nouvel Avenant{% endtrans %}
        </a>
</ul>
</p>
{% endblock %}