/* ------------------------------------------------------------------------
	This you can customize
------------------------------------------------------------------------- */

	label.checkbox span.holder {
		height: 61px; /* Total height of your checkbox image */
		background: url(../images/prettyCheckboxes02/checkbox02.gif) 0 -1px no-repeat; /* Path to your checkbox image */
	}
	
	label.radio span.holder {
		height: 61px; /* Total height of your radio buttons image */
		background: url(../images/prettyCheckboxes02/radio02.gif) 0 -1px no-repeat; /* Path to your radio button image */
	}
	
	label.checkbox:hover span.holder,
	label.radio:hover span.holder { top: -21px !important; } /* Background position on mouseover */
	
	label.checked span.holder,
	label.checked span.holder,
	label.checked:hover span.holder,
	label.checked:hover span.holder { top: -42px !important; } /* Background position when checked */


/* ------------------------------------------------------------------------
	Customize at your own risk
------------------------------------------------------------------------- */

	label.list {
		float: left; clear: left;
		margin: 0 0 5px 0;
	}
	
	label.inline {
		float: left; margin: 0 10px 0 0;
	}
	
		input.hiddenCheckbox {
			position: absolute; left: -10000px; /* Hide the input */
		}
	
		label.prettyCheckbox span.holderWrap {
			display: block; float: left;
			position: relative;
			margin-right: 5px;
			overflow: hidden;
		}
		
		label.prettyCheckbox span.holder {
			display: block;
			position: absolute;
			top: 0; left: 0;
		}