{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block Adminpage %} 
{{ parent() }}
<div class="container">
 <h4>{% trans %}Admin Entrepôt{% endtrans %}</h4>
<pre>{% trans %}Cette fonction doit permettre pour l'entreprôt de définir et de gérer les différentes activités qui s'y déroulent (stockage, mouvements et préparation){% endtrans %}.
<p>{% trans %}Dans l'entrepôt, des emplacements sont définis de manière à pouvoir accueillir les palettes et colis. Divers paramètres permettent de gérer le stockage{% endtrans %} :</p>
 </pre>
<li>{% trans %}Le dimensionnement de l'emplacement{% endtrans %}</li>
<li>{% trans %}Le nombre de charges maximum admissible{% endtrans %}</li>
<li>{% trans %}Les seuils de réapprovisionnement{% endtrans %}</li>
<li>{% trans %}Les types d'unités logistiques acceptées{% endtrans %}</li>
<li>{% trans %}Les poids maximum admissible{% endtrans %}</li>
<li>{% trans %}Les familles logistiques acceptées{% endtrans %}.</li>
<div class="page-header"></div>
</div>
<div class="container">
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>- Ticket -</th>
			<th>{% trans %}Commentaires{% endtrans %}:</th>
			<th>{% trans %}Date{% endtrans %}:</th>
			<th>{% trans %}Auteur{% endtrans %}:</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>- {{ entity.id }} -</td>
			<td>{{ entity.com }}</td>
			<td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
			<td>{{ entity.auteur }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div class="page-header"></div>
<div class="container">
<form action="{{ path('Admin_create') }}" method="post" {{ form_enctype(form) }}>
	<p>{{ form_label(form.com, "") }}{% trans %}Vos Commentaires Suggestions{% endtrans %}:</p>
	{{ form_widget(form.com) }}
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>
</div>
{% endblock %}