{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditpage %} 
{{ parent() }}
 <h1>Hello World ! Audit du magasin</h1>

        <p>
            Ici on visualise l'audit du mag id: {{ idMag }}
        </p>
{% endblock %}