{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block tachesmagpage %} 
{{ parent() }}
<div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
						{% trans %}Création du planning{% endtrans %}
				</a>
			</div>
			<div style="height: auto;" id="collapseOne" class="accordion-body in collapse">
				<div class="accordion-inner">
<h4>{% trans %}Création du planning{% endtrans %}</h4>
<br></br>
<div class="container">
<form action="{{ path('planingdate_create') }}" method="post" {{ form_enctype(formpdate) }}>
<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td>{% trans %}Date du premier Lundi{% endtrans %}</td>
				<td>{% trans %}Agent{% endtrans %}</td>
				<td>{% trans %}Vitrage{% endtrans %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
				<div class="input-append date" id="datepicker2" data-date={{ "now"|date('d-m-Y H:i:s') }} data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y H:i:s') }} name="datedeb">
				<span class="add-on"><i class="icon-th"></i></span>
				</td>
				<td>{{ form_widget(formpdate.agent2) }}</td>
				<td>{{ form_widget(formpdate.vitrage) }}</td>
			</tr>
		</tbody>
	</table>
    {{ form_widget(formpdate) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Générer le planning{% endtrans %}</button>
    </p>
</form>
</div>
</div>
</div>
</div>
<h4>{% trans %}Planning de la semaine{% endtrans %}</h4>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable11">
    <thead>
        <tr>
            <th>{% trans %}Semaine N°{% endtrans %}</th>
			<th>{% trans %}Lundi{% endtrans %}</th>
			<th>{% trans %}Mardi{% endtrans %}</th>
			<th>{% trans %}Mercredi{% endtrans %}</th>
			<th>{% trans %}Jeudi{% endtrans %}</th>
            <th>{% trans %}Vendredi{% endtrans %}</th>
            <th>{% trans %}Samedi{% endtrans %}</th>
			<th>{% trans %}Agent{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
	{% for i in 0..9 %}
    {% for entity in entitiespdate %}
		<tr>
			<td><div style="border-top:5px solid #435ECA;"></div></td>
			<td><div style="border-top:5px solid #435ECA;"></div></td>
			<td><div style="border-top:5px solid #435ECA;"></div></td>
			<td><div style="border-top:5px solid #435ECA;"></div></td>
			<td><div style="border-top:5px solid #435ECA;"></div></td>
			<td><div style="border-top:5px solid #435ECA;"></div></td>
			<td><div style="border-top:5px solid #435ECA;"></div></td>
			<td><div style="border-top:5px solid #435ECA;"></div></td>
		</tr>
        <tr>
			<td align="center">{{ entity.semaine + i }}</td>
			<td align="center"><!-- <div>{{ entity.lundid|date('d-m-Y') }}</div> -->
			{% for entitypjs in entity.plandplanjs %}
			{% if entitypjs.lundi == 'Oui' %}
			<div style="border-top:1px solid #435ECA;">{{ entitypjs.tache }}</div><!-- {{ entitypjs.tachesprogmag.fonction.nom }} -->
			{% endif %}
			{% endfor %}
			</td>
			<td align="center"><!-- <div>{{ entity.mardid|date('d-m-Y') }}</div> -->
			{% for entitypjs in entity.plandplanjs %}
			{% if entitypjs.mardi == 'Oui' %}
			<div style="border-top:1px solid #435ECA;">{{ entitypjs.tache }}</div>
			{% endif %}
			{% endfor %}
			</td>
			<td align="center"><!-- <div>{{ entity.mercredid|date('d-m-Y') }}</div> -->
			{% for entitypjs in entity.plandplanjs %}
			{% if entitypjs.mercredi == 'Oui' %}
			<div style="border-top:1px solid #435ECA;">{{ entitypjs.tache }}</div>
			{% endif %}
			{% endfor %}
			</td>
            <td align="center"><!-- <div>{{ entity.jeudid|date('d-m-Y') }}</div> -->
			{% for entitypjs in entity.plandplanjs %}
			{% if entitypjs.jeudi == 'Oui' %}
			<div style="border-top:1px solid #435ECA;">{{ entitypjs.tache }}</div>
			{% endif %}
			{% endfor %}
			</td>
            <td align="center"><!-- <div>{{ entity.vendredid|date('d-m-Y') }}</div> -->
			{% for entitypjs in entity.plandplanjs %}
			{% if entitypjs.vendredi == 'Oui' %}
			<div style="border-top:1px solid #435ECA;">{{ entitypjs.tache }}</div>
			{% endif %}
			{% endfor %}
			</td>
			<td align="center"><!-- <div>{{ entity.samedid|date('d-m-Y') }}</div> -->
			{% for entitypjs in entity.plandplanjs %}
			{% if entitypjs.samedi == 'Oui' %}
			<div style="border-top:1px solid #435ECA;">{{ entitypjs.tache }}</div>
			{% endif %}
			{% endfor %}
			</td>
			<td>{{ entity.agent2 }}</td>
        </tr>
		<tr>
			<td><div style="border-top:5px solid #435ECA;"></div></td>
			<td><div style="border-top:5px solid #435ECA;"></div></td>
			<td><div style="border-top:5px solid #435ECA;"></div></td>
			<td><div style="border-top:5px solid #435ECA;"></div></td>
			<td><div style="border-top:5px solid #435ECA;"></div></td>
			<td><div style="border-top:5px solid #435ECA;"></div></td>
			<td><div style="border-top:5px solid #435ECA;"></div></td>
			<td><DIV STYLE="page-break-after:always"></DIV></div></td>
		</tr>
    {% endfor %}
	{% endfor %}
    </tbody>
</table>
<br></br>
<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
						{% trans %}Ajout Nomenclature{% endtrans %}
				</a>
			</div>
			<div style="height: auto;" id="collapseTwo" class="accordion-body in collapse">
				<div class="accordion-inner">
<h4>{% trans %}Listing des Nomenclatures{% endtrans %}</h4>
<br></br>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable14">
    <thead>
        <tr>
            <th>{% trans %}Fonction{% endtrans %}</th>
			<th>{% trans %}Nomenclature{% endtrans %}</th>
			<th>{% trans %}Marque - Type{% endtrans %}</th>
			<th>{% trans %}Fréquence{% endtrans %}</th>
            <th>{% trans %}Duree{% endtrans %}</th>
            <th>{% trans %}Qte{% endtrans %}</th>
			<th>{% trans %}Duree Totale{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.fonction.nom }}</td>
			<td>{{ entity.tache }}</td>
			<td>{{ entity.marqtype }}</td>
			<td>{{ entity.frequence.nom }}</td>
            <td align="center">{{ entity.duree|date('H:i') }}</td>
            <td align="center">{{ entity.qte }}</td>
			{% if entity.qte is null %}
			<td></td>
			{% else %}
			<td align="center">{{ entity.dureetot|date('H:i') }}</td>
			{% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
</br>
</div>
<div class="container">
<h4>{% trans %}Ajout d'une nomenclature au planning{% endtrans %}</h4>
<br></br>

<form action="{{ path('planjs_create') }}" method="post" {{ form_enctype(formJS) }}>
<table class="table table-striped table-bordered table-condensed">
			<thead>
						<tr>
							<th>{% trans %}Semaine{% endtrans %}</th>
							<th>{% trans %}Nomenclature{% endtrans %}</th>
						</tr>
			</thead>
			<tbody>
						<tr>
							<td>{{ form_widget(formJS.planingdate) }}</td>
							<td>{{ form_widget(formJS.tachesprogmag) }}</td>
						</tr>
			</tbody>			
</table>
<table class="table table-striped table-bordered table-condensed">
			<thead>
						<tr>
							<th>{% trans %}Lundi{% endtrans %}</th>
							<th>{% trans %}Mardi{% endtrans %}</th>
							<th>{% trans %}Mercredi{% endtrans %}</th>
							<th>{% trans %}Jeudi{% endtrans %}</th>
							<th>{% trans %}Vendredi{% endtrans %}</th>
							<th>{% trans %}Samedi{% endtrans %}</th>
							<th>{% trans %}Tous les Jours{% endtrans %}</th>
						</tr>
			</thead>
			<tbody>
						<tr>
							<td>{{ form_widget(formJS.lundi) }}</td>
							<td>{{ form_widget(formJS.mardi) }}</td>
							<td>{{ form_widget(formJS.mercredi) }}</td>
							<td>{{ form_widget(formJS.jeudi) }}</td>
							<td>{{ form_widget(formJS.vendredi) }}</td>
							<td>{{ form_widget(formJS.samedi) }}</td>
							<td>{{ form_widget(formJS.tljs) }}</td>
						</tr>
			</tbody>			
</table>
    {{ form_widget(formJS) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Ajouter la nomenclature au planning{% endtrans %}</button>
    </p>
</form>
</div>
</div>
</div>
</div>
{% endblock %}