{% extends 'PhareosPointageServiceBundle:Default:index.html.twig' %}

{% block lieuxmagasinpage %} 
{{ parent() }}
<h4>Listing des Lieux</h4>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Id_gc</th>
            <th>Matricule_gc</th>
            <th>Codag</th>
            <th>Adres1mag</th>
            <th>Adres2mag</th>
            <th>Cpmag</th>
            <th>Villemag</th>
            <th>Emailmag</th>
            <th>Faxmag</th>
            <th>Telmag</th>
            <th>Tel2mag</th>
            <th>Tel3mag</th>
            <th>Tel4</th>
            <th>Commentaires</th>
            <th>Agent_1_id</th>
            <th>Agent_2_id</th>
            <th>Agent_3_id</th>
            <th>Agent_4_id</th>
            <th>Agent_5_id</th>
            <th>Agent_6_id</th>
            <th>Agent_7_id</th>
            <th>Agent_8_id</th>
            <th>Agent_9_id</th>
            <th>Agent_10_id</th>
            <th>Societeuser</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('lieuxmagasin_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.idgc }}</td>
            <td>{{ entity.matriculegc }}</td>
            <td>{{ entity.codag }}</td>
            <td>{{ entity.adres1mag }}</td>
            <td>{{ entity.adres2mag }}</td>
            <td>{{ entity.cpmag }}</td>
            <td>{{ entity.villemag }}</td>
            <td>{{ entity.emailmag }}</td>
            <td>{{ entity.faxmag }}</td>
            <td>{{ entity.telmag }}</td>
            <td>{{ entity.tel2mag }}</td>
            <td>{{ entity.tel3mag }}</td>
            <td>{{ entity.tel4 }}</td>
            <td>{{ entity.commentaires }}</td>
            <td>{{ entity.agent1id }}</td>
            <td>{{ entity.agent2id }}</td>
            <td>{{ entity.agent3id }}</td>
            <td>{{ entity.agent4id }}</td>
            <td>{{ entity.agent5id }}</td>
            <td>{{ entity.agent6id }}</td>
            <td>{{ entity.agent7id }}</td>
            <td>{{ entity.agent8id }}</td>
            <td>{{ entity.agent9id }}</td>
            <td>{{ entity.agent10id }}</td>
            <td>{{ entity.societeuser }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('lieuxmagasin_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('lieuxmagasin_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('lieuxmagasin_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}