{% extends 'PhareosPointageServiceBundle:Default:index.html.twig' %}

{% block lieuxmagasinnewpage %} 
{{ parent() }}
<h4>Nouveau Lieu</h4>

<form action="{{ path('lieuxmagasin_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('lieuxmagasin') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}