{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block Receptionpage %} 
{{ parent() }}
<div class="container">
 <h4>{% trans %}Réception{% endtrans %}</h4>
<pre>{% trans %}C’est une fonction relativement standardisée qui se différencie plus à travers les modes de saisie des articles dans le système (manuel, codes à barres…) que par le traitement de l’information{% endtrans %}. {% trans %}Il existe des modules de gestion des attendus et des inattendus de réception ainsi qu’une fonction de retour des clients qui peut être utile dans le cadre de la gestion de produits en SAV{% endtrans %}.
{% trans %}Cette fonction permet donc de gérer la réception des marchandises à partir de fichiers importés{% endtrans %}. {% trans %}Ces fichiers sont produits par le système de gestion des achats ou le système de GPAO{% endtrans %}. {% trans %}Les caractéristiques des marchandises entrées et des commandes d’achat correspondantes (numéro de commande d’achat, numéro de ligne, références, quantités, lots…) sont consignées dans un fichier{% endtrans %}.

{% trans %}Ces fichiers peuvent être lus par la gestion des achats ou GPAO pour la mise à jour en temps réel des quantités disponibles dans l’entrepôt{% endtrans %}.

{% trans %}Dans le cas d’une réception incomplète, il faut prévoir un module laissant trace de la réception et permettant le suivi des reliquats par le service commercial{% endtrans %}.</pre>
</div>
<div class="container">
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>- {% trans %}Ticket{% endtrans %} -</th>
			<th>{% trans %}Commentaires{% endtrans %}:</th>
			<th>{% trans %}Date{% endtrans %}:</th>
			<th>{% trans %}Auteur{% endtrans %}:</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>- {{ entity.id }} -</td>
			<td>{{ entity.com }}</td>
			<td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
			<td>{{ entity.auteur }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div class="page-header"></div>
<div class="container">
<form action="{{ path('Reception_create') }}" method="post" {{ form_enctype(form) }}>
	{{ form_label(form.com, "") }}{% trans %}Vos Commentaires Suggestions{% endtrans %}:
	{{ form_widget(form.com) }}
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>
</div>
{% endblock %}