{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block auditpage %} 
{{ parent() }}
<h4>{% trans %}Dépots dans le magasin ou demande de réapro via livraison{% endtrans %}</h4>
<div class="container">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable20">
    <thead>
        <tr>
            <th>{% trans %}Num{% endtrans %}</th>
			<th>{% trans %}Date{% endtrans %}</th>
			<th>{% trans %}Magasin{% endtrans %}</th>
			<th>{% trans %}Nom{% endtrans %}</th>
			<th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Quantité Déposé ou à livré{% endtrans %}</th>
            <th>{% trans %}Stock Restant dans le véhicule{% endtrans %}</th>
			<th>{% trans %}Seuil Véhicule{% endtrans %}</th>
			<th>{% trans %}Responsable Secteur{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
			<td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
            <td>{{ entity.lieux.MATRICULEGC }} - {{ entity.lieux.CODAG }} - {{ entity.lieux.NOMVILLE }} - {{ entity.lieux.ADRUELIEUX }}</td>
			<td>{{ entity.prodmag.nom }}</td>
			<td align="center">{{ entity.typlivr }}</td>
			<td align="center">{{ entity.depotmag }}</td>
            <td align="center">{{ entity.prodvehic.stock }}</td>
			<td align="center">{{ entity.prodmag.seuilveh }}</td>
			<td align="center">{{ entity.prodvehic.respsect.nom }} {{ entity.prodvehic.respsect.prenom }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
</br>
</div>
{% endblock %}