{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block clientnewpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Modification contrat{% endtrans %}</h4></div>

<form action="{{ path('contrats_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Date du contrat{% endtrans %}</th>
							<th>{% trans %}Date d'embauche{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<div class="input-append date" id="datepicker2" {% if entity.datecont %}{{ entity.datecont|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.datecont %}{{ entity.datecont|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="datecont">
								<span class="add-on"><i class="icon-th"></i></span>
							</td>
							<td>
								<div class="input-append date" id="datepicker04" data-date={% if entity.dateemb %}{{ entity.dateemb|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.dateemb %}{{ entity.dateemb|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="dateemb">
								<span class="add-on"><i class="icon-th"></i></span>
							</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.type, "") }}{% trans %}Type{% endtrans %}</th>
							<th>{{ form_label(edit_form.avenant, "") }}{% trans %}Avenant{% endtrans %}</th>
							<th>{{ form_label(edit_form.numav, "") }}{% trans %}Num Avenant{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.type) }}</td>
							<td align="center">{{ form_widget(edit_form.avenant) }}</td>
							<td align="center">{{ form_widget(edit_form.numav) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Date d'envoi contrat{% endtrans %}</th>
							<th>{% trans %}Date renvoi du contrat signé{% endtrans %}</th>
							<th>{% trans %}Date de fin du contrat{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<div class="input-append date" id="datepicker01" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.dateenvoi %}{{ entity.dateenvoi|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="dateenvoi">
								<span class="add-on"><i class="icon-th"></i></span>
							</td>
							<td>
								<div class="input-append date" id="datepicker02" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.daterenv %}{{ entity.daterenv|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="daterenv">
								<span class="add-on"><i class="icon-th"></i></span>
							</td>
							<td>
								<div class="input-append date" id="datepicker03" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={% if entity.datefin %}{{ entity.datefin|date('d-m-Y') }}{% else %}{{ "now"|date('d-m-Y') }}{% endif %} name="datefin">
								<span class="add-on"><i class="icon-th"></i></span>
							</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.commentaires, "") }}{% trans %}Commentaires{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>{{ form_widget(edit_form.commentaires) }}</td>
						</tr>
						</tbody>
</table>
    {{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('contrats') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}