{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block clientnewpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Nouveau Contrat{% endtrans %}</h4></div>

<form action="{{ path('contrats_create') }}" method="post" {{ form_enctype(form) }}>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Date du contrat{% endtrans %}</th>
							<th>{% trans %}Date d'embauche{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<div class="input-append date" id="datepicker2" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y') }} name="datecont">
								<span class="add-on"><i class="icon-th"></i></span>
							</td>
							<td>
								<div class="input-append date" id="datepicker04" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={{ "now"|date('d-m-Y') }} name="dateemb">
								<span class="add-on"><i class="icon-th"></i></span>
							</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.type, "") }}{% trans %}Type{% endtrans %}</th>
							<th>{{ form_label(form.avenant, "") }}{% trans %}Avenant{% endtrans %}</th>
							<th>{{ form_label(form.numav, "") }}{% trans %}Num Avenant{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.type) }}</td>
							<td align="center">{{ form_widget(form.avenant) }}</td>
							<td align="center">{{ form_widget(form.numav) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Date d'envoi contrat{% endtrans %}</th>
							<th>{% trans %}Date renvoi du contrat signé{% endtrans %}</th>
							<th>{% trans %}Date de fin du contrat{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<div class="input-append date" id="datepicker01" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={{ "00-00-0000" }} name="dateenvoi">
								<span class="add-on"><i class="icon-th"></i></span>
							</td>
							<td>
								<div class="input-append date" id="datepicker02" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={{ "00-00-0000" }} name="daterenv">
								<span class="add-on"><i class="icon-th"></i></span>
							</td>
							<td>
								<div class="input-append date" id="datepicker03" data-date={{ "now"|date('d-m-Y' ) }} data-date-format="dd-mm-yyyy">
								<input class="span2" size="16" type="text" value={{ "00-00-0000" }} name="datefin">
								<span class="add-on"><i class="icon-th"></i></span>
							</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.commentaires, "") }}{% trans %}Commentaires{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>{{ form_widget(form.commentaires) }}</td>
						</tr>
						</tbody>
</table>
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('contrats') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}