{% extends 'PhareosNomadeNetServiceBundle::mag_layout.html.twig' %}

{% block formationnewpage %} 
{{ parent() }}
<h4>{% trans %}Recadrage sur le magasin{% endtrans %}</h4>
<br></br>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable18">
    <thead>
        <tr>
            <th>{% trans %}Date Recadrage{% endtrans %}</th>
			<th>{% trans %}Agent{% endtrans %}</th>
			<th>{% trans %}Objectif{% endtrans %}</th>
			<th>{% trans %}Date Objectif{% endtrans %}</th>
            <th>{% trans %}A atteindre{% endtrans %}</th>
            <th>{% trans %}Atteint{% endtrans %}</th>
			<th><i class="icon-eye-open"></i> {% trans %}Voir{% endtrans %}</th>
			<th><i class="icon-edit"></i> {% trans %}Modifier{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td align="center">{% if entity.daterecad %}{{ entity.daterecad|date('d-m-Y') }}{% endif %}</td>
			<td>{{ entity.agent.nompers }} {{ entity.agent.prenompers }}</td>
			<td>{{ entity.objectcom }}</td>
			<td align="center">{% if entity.dateobj %}{{ entity.dateobj|date('d-m-Y') }}{% endif %}</td>
            <td align="center">{% if entity.object == 1 %}<i class="icon-exclamation-sign icon-red"></i>{% endif %}</td>
            <td align="center">{% if entity.objatt == 1 %}<i class="icon-ok icon-green"></i>{% endif %}</td>
			<td align="center"><a href="{{ path('recadrage_show', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-eye-open"></i></a></td>
			<td align="center"><a href="{{ path('recadrage_edit', { 'id': entity.id }) }}?idMag={{idMag}}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
</br>
<a class="btn btn-primary" href="{{ path('recadrage_new') }}?idMag={{idMag}}">
            {% trans %}Nouveau recadrage{% endtrans %}
</a>

{% endblock %}