{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block categorienewpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Création d'une catégorie{% endtrans %}</h4></div>
<div class="progress progress-primary progress-striped
active">
    <div class="bar" style="width: 100%;"></div>
    </div>
<form action="{{ path('categorie_create') }}" method="post" {{ form_enctype(form) }}>
    <table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.categorie, "") }}{% trans %}Catégorie{% endtrans %}</th>
							{% if app.session.get('applicationUSER') == "Toolbox" %}
							<th>{{ form_label(form.client, "") }}{% trans %}Client{% endtrans %}</th>
							{% endif %}
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.categorie) }}</td>
							{% if app.session.get('applicationUSER') == "Toolbox" %}
							<td align="center">{{ form_widget(form.client) }}</td>
							{% endif %}
						</tr>
						</tbody>
	</table>
	
	{{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
		<button class="btn" type="reset" value="reset">{% trans %}Annuler{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('categorie') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}