{% extends 'PhareosPointageServiceBundle:Default:index.html.twig' %}

{% block grdcomptepage %} 
{{ parent() }}
<h4>Listing des Comptes</h4>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Matricule_gc</th>
            <th>Nom_gc</th>
            <th>Email_gc</th>
            <th>Adr1ss</th>
            <th>Adr2ss</th>
            <th>Cpss</th>
            <th>Villess</th>
            <th>Tel</th>
            <th>Fax</th>
            <th>Contactss</th>
            <th>Commss</th>
            <th>Societeuser</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('grdcompte_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.matriculegc }}</td>
            <td>{{ entity.nomgc }}</td>
            <td>{{ entity.emailgc }}</td>
            <td>{{ entity.adr1ss }}</td>
            <td>{{ entity.adr2ss }}</td>
            <td>{{ entity.cpss }}</td>
            <td>{{ entity.villess }}</td>
            <td>{{ entity.tel }}</td>
            <td>{{ entity.fax }}</td>
            <td>{{ entity.contactss }}</td>
            <td>{{ entity.commss }}</td>
            <td>{{ entity.societeuser }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('grdcompte_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('grdcompte_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('grdcompte_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}