<h1>{% trans %}testarray creation{% endtrans %}</h1>

<form action="{{ path('testarray_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_label(form.arr1, "array") }}
	{{ form_widget(form.arr1) }}
	{{ form_rest(form) }}
    <p>
        <button type="submit">{% trans %}Create{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('testarray') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>
