{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block Expeditionpage %} 
{{ parent() }}
<div class="container">
 <h4>{% trans %}Expédition{% endtrans %}</h4>
<pre>{% trans %}La fonction expédition complète la fonction préparation de commandes{% endtrans %}. {% trans %}Elle permet de contrôler les marchandises avant l’expédition et leur affectation au camion{% endtrans %}. {% trans %}Elle travaille à partir des données des rafales{% endtrans %}. {% trans %}L’expédition comporte{% endtrans %} :</pre>
<p>• {% trans %}Un identificateur d’expédition{% endtrans %}
• {% trans %}L’identificateur du camion associé{% endtrans %}
• {% trans %}La liste des commandes et des colis{% endtrans %}.</p>
<pre>{% trans %}Le contrôle et l’affectation des colis peut s’effectuer par lecture du code à barres figurant sur chaque colis.{% endtrans %} {% trans %}Lorsqu’une expédition est validée{% endtrans %}:</pre>
<p>• {% trans %}Les informations doivent être archivées{% endtrans %}
• {% trans %}Les documents de transport sont édités avec un bordereau d’expédition{% endtrans %}
• {% trans %}Une liste des commandes est expédiée pour facturation{% endtrans %}.</p>
</div>
<div class="container">
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>- {% trans %}Ticket{% endtrans %} -</th>
			<th>{% trans %}Commentaires{% endtrans %}:</th>
			<th>{% trans %}Date{% endtrans %}:</th>
			<th>{% trans %}Auteur{% endtrans %}:</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>- {{ entity.id }} -</td>
			<td>{{ entity.com }}</td>
			<td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
			<td>{{ entity.auteur }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div class="page-header"></div>
<div class="container">
<form action="{{ path('Expedition_create') }}" method="post" {{ form_enctype(form) }}>
	{{ form_label(form.com, "") }}{% trans %}Vos Commentaires Suggestions{% endtrans %}:
	{{ form_widget(form.com) }}
    {{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>
</div>
{% endblock %}