{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block leveltwo %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Liste des OR en attente de stockage{% endtrans %}</h4></div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable4">
    <thead>
        <tr>
            <th>{% trans %}Num OR en attente de stockage{% endtrans %}</th>
            <th>{% trans %}Date de réception{% endtrans %}</th>
            <th>{% trans %}Quantité à stocker{% endtrans %}</th>
            <th>{% trans %}Stocker{% endtrans %}</th>
			<th>{% trans %}Quantité stockée{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td align="center">{% if entity.qtestockee > 0 %}<font color="#FF0000"><strong>{{ entity.numors|slice(0,14) }}-{{ entity.numors|slice(14,24) }}</strong></font>{% else %}<strong>{{ entity.numors|slice(0,14) }}-{{ entity.numors|slice(14,24) }}</strong>{% endif %}</td>
            <td align="center">{% if entity.qtestockee > 0 %}<font color="#FF0000">{% if entity.daterecep %}{{ entity.daterecep|date('d-m-Y') }}{% endif %}</font>{% else %}{% if entity.daterecep %}{{ entity.daterecep|date('d-m-Y') }}{% endif %}{% endif %}</td>
            <td align="center">{% if entity.qtestockee > 0 %}<font color="#FF0000">{{ entity.qteastocker }} <i class="icon-hand-right"></i></font>{% else %}{{ entity.qteastocker }} <i class="icon-hand-right"></i>{% endif %}</td>
			<td align="center"><a href="{{ path('ordrecstock_show', { 'id': entity.id }) }}"><i class="gicon-cargo"></i> <i class="icon-hand-right"></i> </a></td>
			<td align="center">{% if entity.qtestockee > 0 %}<font color="#FF0000">{{ entity.qtestockee }}</font>{% else %}{{ entity.qtestockee }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}