{% extends 'PhareosLogisToolBoxBundle:Default:index.html.twig' %}

{% block leveltwo %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Liste des OR stockés{% endtrans %}</h4></div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable4">
    <thead>
        <tr>
            <th>{% trans %}Num OR stockés{% endtrans %}</th>
            <th>{% trans %}Date de réception{% endtrans %}</th>
            <th>{% trans %}Date de stockage{% endtrans %}</th>
			<th>{% trans %}Quantité stockée{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td align="center"><strong>{{ entity.numors|slice(0,14) }}-{{ entity.numors|slice(14,24) }}</strong></td>
            <td align="center">{% if entity.daterecep %}{{ entity.daterecep|date('d-m-Y') }}{% endif %}</td>
            <td align="center">{% if entity.datestock %}{{ entity.datestock|date('d-m-Y') }}{% endif %}</td>
			<td align="center">{{ entity.qtestockee }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}