{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block clienteditpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Modifier Client{% endtrans %} {{ entity.nom }}</h4></div>

<form action="{{ path('client_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Département{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_label(edit_form.departements, "") }}{% trans %}Dept{% endtrans %}: {{ form_widget(edit_form.departements) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.grdcpte, "") }}{% trans %}Compte{% endtrans %}</th>
							<th>{{ form_label(edit_form.nom, "") }}{% trans %}Nom{% endtrans %}</th>
							<th>{{ form_label(edit_form.nummag, "") }}{% trans %}Num Mag{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.grdcpte) }}</td>
							<td align="center">{{ form_widget(edit_form.nom) }}</td>
							<td align="center">{{ form_widget(edit_form.nummag) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.adres1, "") }}{% trans %}Adresse 1{% endtrans %}</th>
							<th>{{ form_label(edit_form.adres2, "") }}{% trans %}Adresse 2{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.adres1) }}</td>
							<td align="center">{{ form_widget(edit_form.adres2) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.cp, "") }}{% trans %}Code Postal{% endtrans %}</th>
							<th>{{ form_label(edit_form.ville, "") }}{% trans %}Ville{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.cp) }}</td>
							<td align="center">{{ form_widget(edit_form.ville) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.tel, "") }}{% trans %}Téléphone{% endtrans %}</th>
							<th>{{ form_label(edit_form.fax, "") }}{% trans %}Fax{% endtrans %}</th>
							<th>{{ form_label(edit_form.mail, "") }}{% trans %}Mail{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.tel) }}</td>
							<td align="center">{{ form_widget(edit_form.fax) }}</td>
							<td align="center">{{ form_widget(edit_form.mail) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(edit_form.tel2, "") }}{% trans %}Téléphone 2{% endtrans %}</th>
							<th>{{ form_label(edit_form.tel3, "") }}{% trans %}Téléphone 3{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(edit_form.tel2) }}</td>
							<td align="center">{{ form_widget(edit_form.tel3) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Responsable du site{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_label(edit_form.civilrespsite, "") }}{% trans %}Civilité{% endtrans %}: {{ form_widget(edit_form.civilrespsite) }}</td>
							<td align="center">{{ form_label(edit_form.nomresposite, "") }}{% trans %}Nom{% endtrans %}: {{ form_widget(edit_form.nomresposite) }}</td>
							<td align="center">{{ form_label(edit_form.prenomrespsite, "") }}{% trans %}Prénom{% endtrans %}: {{ form_widget(edit_form.prenomrespsite) }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_label(edit_form.telrespsite, "") }}{% trans %}Tel{% endtrans %}: {{ form_widget(edit_form.telrespsite) }}</td>
							<td align="center">{{ form_label(edit_form.mailrespsite, "") }}{% trans %}Mail{% endtrans %}: {{ form_widget(edit_form.mailrespsite) }}</td>
							<td align="center">{{ form_label(edit_form.nomcolab, "") }}{% trans %}Assistant{% endtrans %}: {{ form_widget(edit_form.nomcolab) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Caractéristiques{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_label(edit_form.nbrcolab, "") }}{% trans %}Nbr Collaborateurs{% endtrans %}: {{ form_widget(edit_form.nbrcolab) }}</td>
							<td align="center">{{ form_label(edit_form.typeinter, "") }}{% trans %}Types d'interventions{% endtrans %}: {{ form_widget(edit_form.typeinter) }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_label(edit_form.intervautre, "") }}{% trans %}Autre Intervenant{% endtrans %}: {{ form_widget(edit_form.intervautre) }}</td>
							<td align="center">{{ form_label(edit_form.nominterv, "") }}{% trans %}Intervenant{% endtrans %}: {{ form_widget(edit_form.nominterv) }}</td>
							<td align="center">{{ form_label(edit_form.frequenceinterv, "") }}{% trans %}Fréquences d'Intervention{% endtrans %}: {{ form_widget(edit_form.frequenceinterv) }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_label(edit_form.surfacevit, "") }}{% trans %}Surf. Vitrage{% endtrans %}: {{ form_widget(edit_form.surfacevit) }}</td>
							<td align="center">{{ form_label(edit_form.surfacebo, "") }}{% trans %}Surf. BO{% endtrans %}: {{ form_widget(edit_form.surfacebo) }}</td>
							<td align="center">{{ form_label(edit_form.surfacetapis, "") }}{% trans %}Surf. Tapis{% endtrans %}: {{ form_widget(edit_form.surfacetapis) }}</td>
							<td align="center">{{ form_label(edit_form.surfacemag, "") }}{% trans %}Surf. Mag{% endtrans %}: {{ form_widget(edit_form.surfacemag) }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_label(edit_form.nbrenseignes, "") }}{% trans %}Nbr Enseignes{% endtrans %}: {{ form_widget(edit_form.nbrenseignes) }}</td>
							<td align="center">{{ form_label(edit_form.longenseigne, "") }}{% trans %}Longueur Enseigne{% endtrans %}: {{ form_widget(edit_form.longenseigne) }}</td>
							<td align="center">{{ form_label(edit_form.datemisenplace, "") }}{% trans %}Date mise en place{% endtrans %}: {{ form_widget(edit_form.datemisenplace) }}</td>
							<td align="center">{{ form_label(edit_form.installdistri, "") }}{% trans %}Installation Distri.{% endtrans %}: {{ form_widget(edit_form.installdistri) }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_label(edit_form.cdb, "") }}{% trans %}Cahier de Bord{% endtrans %}: {{ form_widget(edit_form.cdb) }}</td>
							<td align="center">{{ form_label(edit_form.planprev, "") }}{% trans %}Plan de Prévention{% endtrans %}: {{ form_widget(edit_form.planprev) }}</td>
						</tr>
						</tbody>
</table>
	{{ form_rest(edit_form) }}
    <p>
        <button class="btn btn-success" type="submit">{% trans %}Enregistrer{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('client') }}">
            {% trans %}Retour à la Liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}