{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block clientlistpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Listing Clients{% endtrans %}</h4></div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="sortDatatable">
    <thead>
        <tr>
            <th>{% trans %}Compte{% endtrans %}</th>
			<th>{% trans %}Nom{% endtrans %}</th>
			<th>{% trans %}Num mag{% endtrans %}</th>
            <th>{% trans %}Code Postal{% endtrans %}</th>
            <th>{% trans %}Ville{% endtrans %}</th>
			<th>{% trans %}Tel{% endtrans %}</th>
			<th>{% trans %}Mail{% endtrans %}</th>
			<th>{% trans %}Responsable{% endtrans %}</th>
			<th>{% trans %}Tel Respons{% endtrans %}.</th>
            <th>{% trans %}Carnet de Bord{% endtrans %}</th>
            <th>{% trans %}Plan de Prévention{% endtrans %}</th>
            <th>{% trans %}Voir{% endtrans %}</th>
			<th>{% trans %}Modif{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.grdcpte.Nom }}</td>
            <td>{{ entity.nom }}</td>
			<td>{{ entity.nummag }}</td>
            <td>{{ entity.cp }}</td>
            <td>{{ entity.ville }}</td>
			<td>{{ entity.tel }}</td>
			<td>{{ entity.mail }}</td>
			<td>{{ entity.civilrespsite }} {{ entity.nomresposite }}</td>
			<td>{{ entity.telrespsite }}</td>
            <td>{{ entity.cdb }}</td>
            <td>{{ entity.planprev }}</td>
			<td align="center"><a href="{{ path('client_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a></td>
			<td align="center"><a href="{{ path('client_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<p>
<ul>
        <a class="btn btn-primary" href="{{ path('client_new') }}">
            {% trans %}Nouveau Client{% endtrans %}
        </a>
</ul>
</p>
{% endblock %}