{% extends 'PhareosDeskNetServiceBundle:defaultdept:index.html.twig' %}

{% block clientnewpage %} 
{{ parent() }}
<div class="container">
<div class="page-header"><h4>{% trans %}Nouveau Client{% endtrans %}</h4></div>

<form action="{{ path('client_create') }}" method="post" {{ form_enctype(form) }}>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Département{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_label(form.departements, "") }}{% trans %}Dept{% endtrans %}: {{ form_widget(form.departements) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.grdcpte, "") }}{% trans %}Compte{% endtrans %}</th>
							<th>{{ form_label(form.nom, "") }}{% trans %}Nom{% endtrans %}</th>
							<th>{{ form_label(form.nummag, "") }}{% trans %}Num Mag{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.grdcpte) }}</td>
							<td align="center">{{ form_widget(form.nom) }}</td>
							<td align="center">{{ form_widget(form.nummag) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.adres1, "") }}{% trans %}Adresse 1{% endtrans %}</th>
							<th>{{ form_label(form.adres2, "") }}{% trans %}Adresse 2{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.adres1) }}</td>
							<td align="center">{{ form_widget(form.adres2) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.cp, "") }}{% trans %}Code Postal{% endtrans %}</th>
							<th>{{ form_label(form.ville, "") }}{% trans %}Ville{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.cp) }}</td>
							<td align="center">{{ form_widget(form.ville) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.tel, "") }}{% trans %}Téléphone{% endtrans %}</th>
							<th>{{ form_label(form.fax, "") }}{% trans %}Fax{% endtrans %}</th>
							<th>{{ form_label(form.mail, "") }}{% trans %}Mail{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.tel) }}</td>
							<td align="center">{{ form_widget(form.fax) }}</td>
							<td align="center">{{ form_widget(form.mail) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{{ form_label(form.tel2, "") }}{% trans %}Téléphone 2{% endtrans %}</th>
							<th>{{ form_label(form.tel3, "") }}{% trans %}Téléphone 3{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_widget(form.tel2) }}</td>
							<td align="center">{{ form_widget(form.tel3) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Responsable du site{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_label(form.civilrespsite, "") }}{% trans %}Civilité{% endtrans %}: {{ form_widget(form.civilrespsite) }}</td>
							<td align="center">{{ form_label(form.nomresposite, "") }}{% trans %}Nom{% endtrans %}: {{ form_widget(form.nomresposite) }}</td>
							<td align="center">{{ form_label(form.prenomrespsite, "") }}{% trans %}Prénom{% endtrans %}: {{ form_widget(form.prenomrespsite) }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_label(form.telrespsite, "") }}{% trans %}Tel{% endtrans %}: {{ form_widget(form.telrespsite) }}</td>
							<td align="center">{{ form_label(form.mailrespsite, "") }}{% trans %}Mail{% endtrans %}: {{ form_widget(form.mailrespsite) }}</td>
							<td align="center">{{ form_label(form.nomcolab, "") }}{% trans %}Assistant{% endtrans %}: {{ form_widget(form.nomcolab) }}</td>
						</tr>
						</tbody>
</table>
<table class="table table-striped table-bordered table-condensed">
						<thead>
						<tr>
							<th>{% trans %}Caractéristiques{% endtrans %}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td align="center">{{ form_label(form.nbrcolab, "") }}{% trans %}Nbr Collaborateurs{% endtrans %}: {{ form_widget(form.nbrcolab) }}</td>
							<td align="center">{{ form_label(form.typeinter, "") }}{% trans %}Types d'interventions{% endtrans %}: {{ form_widget(form.typeinter) }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_label(form.intervautre, "") }}{% trans %}Autre Intervenant{% endtrans %}: {{ form_widget(form.intervautre) }}</td>
							<td align="center">{{ form_label(form.nominterv, "") }}{% trans %}Intervenant{% endtrans %}: {{ form_widget(form.nominterv) }}</td>
							<td align="center">{{ form_label(form.frequenceinterv, "") }}{% trans %}Fréquences d'Intervention{% endtrans %}: {{ form_widget(form.frequenceinterv) }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_label(form.surfacevit, "") }}{% trans %}Surf. Vitrage{% endtrans %}: {{ form_widget(form.surfacevit) }}</td>
							<td align="center">{{ form_label(form.surfacebo, "") }}{% trans %}Surf. BO{% endtrans %}: {{ form_widget(form.surfacebo) }}</td>
							<td align="center">{{ form_label(form.surfacetapis, "") }}{% trans %}Surf. Tapis{% endtrans %}: {{ form_widget(form.surfacetapis) }}</td>
							<td align="center">{{ form_label(form.surfacemag, "") }}{% trans %}Surf. Mag{% endtrans %}: {{ form_widget(form.surfacemag) }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_label(form.nbrenseignes, "") }}{% trans %}Nbr Enseignes{% endtrans %}: {{ form_widget(form.nbrenseignes) }}</td>
							<td align="center">{{ form_label(form.longenseigne, "") }}{% trans %}Longueur Enseigne{% endtrans %}: {{ form_widget(form.longenseigne) }}</td>
							<td align="center">{{ form_label(form.datemisenplace, "") }}{% trans %}Date mise en place{% endtrans %}: {{ form_widget(form.datemisenplace) }}</td>
							<td align="center">{{ form_label(form.installdistri, "") }}{% trans %}Installation Distri{% endtrans %}.: {{ form_widget(form.installdistri) }}</td>
						</tr>
						<tr>
							<td align="center">{{ form_label(form.cdb, "") }}{% trans %}Cahier de Bord{% endtrans %}: {{ form_widget(form.cdb) }}</td>
							<td align="center">{{ form_label(form.planprev, "") }}{% trans %}Plan de Prévention{% endtrans %}: {{ form_widget(form.planprev) }}</td>
						</tr>
						</tbody>
</table>
	{{ form_rest(form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('client') }}">
            {% trans %}Retour à la liste{% endtrans %}
        </a>
    </li>
</ul>
</div>
{% endblock %}