<h1>{% trans %}com_recip list{% endtrans %}</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <th>{% trans %}Idcomclients{% endtrans %}</th>
            <th>{% trans %}Idarticles{% endtrans %}</th>
			<th>{% trans %}Commentaires{% endtrans %}</th>
            <th>{% trans %}Qtte{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('com_articles_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.idcomclients }}</td>
            <td>{{ entity.idarticles }}</td>
			<th>{{ entity.comm }}</th>
            <td>{{ entity.qtte }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('com_articles_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('com_articles_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('com_articles_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>
