<h1>nom_responsmag list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <th>{% trans %}Num_pers{% endtrans %}</th>
            <th>{% trans %}Code_ville{% endtrans %}</th>
            <th>{% trans %}Fax_dr{% endtrans %}</th>
            <th>{% trans %}Nom_pers{% endtrans %}</th>
            <th>{% trans %}Prenom_pers{% endtrans %}</th>
            <th>{% trans %}Telfix_pers{% endtrans %}</th>
            <th>{% trans %}Telpor_pers{% endtrans %}</th>
            <th>{% trans %}Email_pers{% endtrans %}</th>
            <th>{% trans %}Ad_rue{% endtrans %}</th>
            <th>{% trans %}Suppl_ad{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('nom_responsmag_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.NUMPERS }}</td>
            <td>{{ entity.CODEVILLE }}</td>
            <td>{{ entity.FAXDR }}</td>
            <td>{{ entity.NOMPERS }}</td>
            <td>{{ entity.PRENOMPERS }}</td>
            <td>{{ entity.TELFIXPERS }}</td>
            <td>{{ entity.TELPORPERS }}</td>
            <td>{{ entity.EMAILPERS }}</td>
            <td>{{ entity.ADRUE }}</td>
            <td>{{ entity.SUPPLAD }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('nom_responsmag_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('nom_responsmag_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('nom_responsmag_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>
